Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["prettier --ignore-unknown --write"]
}

Rspack 1.0.8
  packages/docusaurus-faster/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Update command to check crowdin cli version
  website/docs/i18n/i18n-crowdin.mdx
Due: prettier --ignore-unknown --write

docs: clarify component naming for markdown import (#10542)
  website/docs/guides/markdown-features/markdown-features-react.mdx
Due: prettier --ignore-unknown --write

Apply review suggestion
  website/docs/guides/markdown-features/markdown-features-react.mdx
Due: prettier --ignore-unknown --write

Update website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
Due: prettier --ignore-unknown --write

docs: clarify component naming for markdown import (#10545)
  website/docs/guides/markdown-features/markdown-features-react.mdx
Due: prettier --ignore-unknown --write

Update deployment.mdx
  website/docs/deployment.mdx
Due: prettier --ignore-unknown --write

Update website/docs/installation.mdx
  website/docs/installation.mdx
Due: prettier --ignore-unknown --write

docs: add tip about harmless vulnerabilities (#10535)
  website/docs/installation.mdx
Due: prettier --ignore-unknown --write

Improve current solution, allow selecting text
  website/src/components/APITable/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

fix(website): APITable component should navigate to anchor less agressively (#10534)
  website/src/components/APITable/index.tsx
  website/src/components/APITable/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

Add useful comment for getBrowserslistQueries
  packages/docusaurus-faster/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add @docusaurus/tsconfig target es2022
  packages/docusaurus-tsconfig/tsconfig.json
Due: prettier --ignore-unknown --write

Upgrade Webpack to 5.95 and related deps
  packages/docusaurus-bundler/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-types/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/server.ts
  website/package.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

fix(tsconfig): add `@docusaurus/tsconfig` target es2022 (#10547)
  packages/docusaurus-tsconfig/tsconfig.json
Due: prettier --ignore-unknown --write

chore: upgrade Webpack to 5.95 and related deps (#10548)
  packages/docusaurus-bundler/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-types/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/server.ts
  website/package.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

update slovenian translations
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
Due: prettier --ignore-unknown --write

feat: add cleanUrls configuration option to serve command
  packages/docusaurus/src/commands/serve.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix cross-compiler cache
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/index.ts
  packages/docusaurus-mdx-loader/src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

add loadMDXWithCaching comment
  packages/docusaurus-mdx-loader/src/loader.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix bug when crossCompilerCache is disabled
  packages/docusaurus-mdx-loader/src/createMDXLoader.ts
  packages/docusaurus-mdx-loader/src/loader.ts
Due: eslint --fix, prettier --ignore-unknown --write

revert ab test
  packages/docusaurus-mdx-loader/src/createMDXLoader.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(mdx-loader): fix cross-compiler cache randomly loading mdx with client/server envs (#10553)
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/index.ts
  packages/docusaurus-mdx-loader/src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

test SWC html minifier
  packages/docusaurus/package.json
  packages/docusaurus/src/ssg.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

fix(translations): complete missing slovenian theme translations (#10551)
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
Due: prettier --ignore-unknown --write

fix React hydration errors
  packages/docusaurus/src/ssg.ts
Due: eslint --fix, prettier --ignore-unknown --write

add comment + explicit sortAttributes: false
  packages/docusaurus/src/ssg.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add proper wiring for swcHtmlMinimizer
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/index.ts
  packages/docusaurus-bundler/src/minifyHtml.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/ssg.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write
