Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

prepare types
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

JSX.Element to ReactNode
  website/src/pages/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

type fixes for React 18
  packages/docusaurus-theme-common/src/hooks/useCodeWordWrap.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-common/src/utils/skipToContentUtils.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus/src/client/exports/Link.tsx
Due: eslint --fix, prettier --ignore-unknown --write

swizzle wrap should use ReactNode instead of JSX.Element
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/actions.test.ts.snap
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/commands/swizzle/actions.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor(core): swizzle wrap should use ReactNode instead of JSX.Element (#10747)
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/actions.test.ts.snap
  packages/docusaurus/src/commands/swizzle/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus/src/commands/swizzle/actions.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix type errors
  packages/docusaurus-theme-common/src/hooks/useCodeWordWrap.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-common/src/utils/skipToContentUtils.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

quick fix for React 19 ideal image default props
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

fix type
  packages/docusaurus/src/client/exports/Link.tsx
Due: eslint --fix, prettier --ignore-unknown --write

fix isVisibleSidebarItem() for category index
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/docsUtils.tsx
  website/_dogfooding/_docs tests/tests/visibility/some-unlisteds/subcategory-with-listed-index/index.mdx
  website/_dogfooding/_docs tests/tests/visibility/some-unlisteds/subcategory-with-listed-index/unlisted1.mdx
  website/_dogfooding/_docs tests/tests/visibility/some-unlisteds/subcategory-with-listed-index/unlisted2.mdx
Due: eslint --fix, prettier --ignore-unknown --write

fix(docs): fix sidebar item visibility bug for category index (#10754)
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/docsUtils.tsx
  website/_dogfooding/_docs tests/tests/visibility/some-unlisteds/subcategory-with-listed-index/index.mdx
  website/_dogfooding/_docs tests/tests/visibility/some-unlisteds/subcategory-with-listed-index/unlisted1.mdx
  website/_dogfooding/_docs tests/tests/visibility/some-unlisteds/subcategory-with-listed-index/unlisted2.mdx
Due: eslint --fix, prettier --ignore-unknown --write

docs: add swizzle delete tip
  website/docs/swizzling.mdx
Due: prettier --ignore-unknown --write

theme-translation): add missing Korean (ko) theme translations
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
Due: prettier --ignore-unknown --write

docs: add swizzle delete tip (#10759)
  website/docs/swizzling.mdx
Due: prettier --ignore-unknown --write

fix(theme-translation): add missing Korean (ko) theme translations (#10760)
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
Due: prettier --ignore-unknown --write

React 19 peerDeps
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-tag-manager/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-rsdoctor/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-svgr/package.json
  packages/docusaurus-plugin-vercel-analytics/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

apply React 19 IdealImage retrocompat fix
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

make our website run on React 19
  admin/test-bad-package/README.mdx
  packages/docusaurus/src/webpack/base.ts
  website/package.json
Due: eslint --fix, prettier --ignore-unknown --write

add social icons for mastodon and bluesky
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/Socials/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Bluesky/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Mastodon/index.tsx
  project-words.txt
  website/_dogfooding/_blog tests/2024-07-03-multiple-authors.mdx
  website/_dogfooding/_blog tests/authors.yml
Due: eslint --fix, prettier --ignore-unknown --write

Upgrade Devcontainer to Ubuntu 24.04 and Node 22 (latest LTS)
  .devcontainer/devcontainer.json
Due: prettier --ignore-unknown --write

feat(content-blog,theme-classic) Add additional social media sites
  packages/docusaurus-plugin-content-blog/src/__tests__/authorsSocials.test.ts
  packages/docusaurus-plugin-content-blog/src/authorsSocials.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/Socials/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Bluesky/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Mastodon/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Threads/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Threads/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Twitch/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/YouTube/index.tsx
  project-words.txt
  website/_dogfooding/_blog tests/2024-12-14-all-thesocials.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

review
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

review by clement
  packages/docusaurus-theme-search-algolia/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

remove useless changes
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme-common): SQL magic block comments.
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Due: eslint --fix, prettier --ignore-unknown --write

"Add missing Dutch (nl) theme translations"
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
Due: prettier --ignore-unknown --write

remove pure-react-carousel
  website/blog/2022/08-01-announcing-docusaurus-2.0/ShowcaseCarousel.module.css
  website/blog/2022/08-01-announcing-docusaurus-2.0/ShowcaseCarousel.tsx
  website/package.json
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

remove pure-react-carousel
  website/blog/2022/08-01-announcing-docusaurus-2.0/ShowcaseCarousel.tsx
Due: eslint --fix, prettier --ignore-unknown --write

refactor(website): remove pure-react-carousel (#10784)
  website/blog/2022/08-01-announcing-docusaurus-2.0/ShowcaseCarousel.module.css
  website/blog/2022/08-01-announcing-docusaurus-2.0/ShowcaseCarousel.tsx
  website/package.json
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

fix(theme-common): SQL magic block comments.
  website/_dogfooding/_pages tests/code-block-tests.mdx
Due: prettier --ignore-unknown --write

fix(theme-translations): Add missing Dutch (nl) theme translations (#10783)
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
Due: prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
