Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

dfg
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: master-writer

Fix formatting of Prettier badge link in README
  README.md
Due: master-writer

chore: trigger checks
  README.md
Due: master-writer

docs: Fix formatting of Prettier badge link in README (#11668)
  README.md
Due: master-writer

docs: fix wording in installation guide
  website/docs/installation.mdx
Due: master-writer

test: add unit tests and dogfood test pages for file path links
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/linking/nested/deep-page.md
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/linking/page-a.md
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/linking/page-b.md
  packages/docusaurus-plugin-content-pages/src/__tests__/contentHelpers.test.ts
  website/src/pages/linking-test/index.md
  website/src/pages/linking-test/nested/page-c.md
  website/src/pages/linking-test/page-a.md
  website/src/pages/linking-test/page-b.md
Due: eslint --fix, master-writer

test: update snapshots to include linking test pages
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
Due: master-writer

docs: fix wording in installation guide (#11670)
  website/docs/installation.mdx
Due: master-writer

docs(deployment): recommend Cloudflare Workers over Cloudflare Pages
  website/docs/deployment.mdx
Due: master-writer

Improve Tabs error message for wrapped TabItem components
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
  packages/docusaurus-theme-common/src/utils/tabsUtils.tsx
Due: eslint --fix, master-writer

feat(theme-live-codeblock): add reset button to live code playground
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Buttons/ResetButton/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Buttons/ResetButton/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Editor/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Header/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Header/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Preview/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Provider/index.tsx
  website/_dogfooding/_pages tests/live-playground-test.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

docs(i18n): add guide for fixing incomplete page translations
  admin/translation-fix-guide.md
Due: master-writer

Update log message for starting development server
  packages/docusaurus/src/commands/start/start.ts
Due: eslint --fix, master-writer

remove useless unit tests
  packages/docusaurus-plugin-content-pages/src/__tests__/contentHelpers.test.ts
Due: eslint --fix, master-writer

remove useless test fixtures because they are useless: snapshots doesn't capture the linking resolution output
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/linking/nested/deep-page.md
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/linking/page-a.md
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/linking/page-b.md
Due: master-writer

remove useless test fixtures because they are useless: snapshots doesn't capture the linking resolution output
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
Due: master-writer

Add dogfood page linking tests
  website/_dogfooding/_pages tests/index.mdx
  website/_dogfooding/_pages tests/linking/index.md
  website/_dogfooding/_pages tests/linking/nested/page-b.md
  website/_dogfooding/_pages tests/linking/page-a.md
  website/src/pages/linking-test/index.md
  website/src/pages/linking-test/nested/page-c.md
  website/src/pages/linking-test/page-a.md
  website/src/pages/linking-test/page-b.md
Due: master-writer

feat(pages): add support for Markdown file path links (#11666)
  packages/docusaurus-plugin-content-pages/src/contentHelpers.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  website/_dogfooding/_pages tests/index.mdx
  website/_dogfooding/_pages tests/linking/index.md
  website/_dogfooding/_pages tests/linking/nested/page-b.md
  website/_dogfooding/_pages tests/linking/page-a.md
Due: eslint --fix, master-writer

add empty resolution
  package.json
Due: master-writer

upgrade to DocSearch 4.5
  packages/docusaurus-theme-search-algolia/package.json
  yarn.lock
Due: master-writer

docs(deployment): simplify Cloudflare deployment section
  website/docs/deployment.mdx
Due: master-writer

better integration
  packages/create-docusaurus/src/__tests__/utils.test.ts
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/src/utils.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/jsUtils.ts
Due: eslint --fix, master-writer

refactor(create-docusaurus): replace lodash with native implementation (#11653)
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/__tests__/utils.test.ts
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/src/utils.ts
Due: eslint --fix, master-writer

remove useless dependencies
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/src/promps.ts
  packages/create-docusaurus/src/types.ts
Due: eslint --fix, master-writer

add missing fs.promises migration
  packages/create-docusaurus/src/index.ts
Due: eslint --fix, master-writer

refactor(core): replace evaluate with vm.compileFunction
  packages/docusaurus/package.json
  packages/docusaurus/src/ssg/ssgRenderer.ts
  yarn.lock
Due: eslint --fix, master-writer

restore semver
  packages/create-docusaurus/bin/index.js
  packages/create-docusaurus/package.json
Due: eslint --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

typo
  project-words.txt
Due: master-writer

prepare commmand runner
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/src/prompts.ts
  packages/create-docusaurus/src/utils.ts
Due: eslint --fix, master-writer

improve create-docusaurus cli output on error
  packages/create-docusaurus/bin/index.js
Due: eslint --fix, master-writer

improve cli + fix bugs
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/src/utils.ts
Due: eslint --fix, master-writer
