Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

simplify code and types
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaAskAi.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
Due: eslint --fix, master-writer

improve config validation + add proper input type
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
Due: eslint --fix, master-writer

Add facetFilters validation logic + fallback
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
Due: eslint --fix, master-writer

damn, forgot about contextualSearch...
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaAskAi.ts
Due: eslint --fix, master-writer

fix useColorMode() visual glitches due to provider unmounts/remounts and state resets
  packages/docusaurus-theme-common/src/contexts/colorMode.tsx
Due: eslint --fix, master-writer

extract mergeFacetFilters utils
  packages/docusaurus-theme-search-algolia/src/client/index.ts
  packages/docusaurus-theme-search-algolia/src/client/utils.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, master-writer

fix type of useAlgoliaContextualFacetFilters
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaContextualFacetFilters.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, master-writer

add unit tests for mergeFacetFilters
  .eslintrc.js
  packages/docusaurus-theme-search-algolia/src/__tests__/utils.test.ts
  packages/docusaurus-theme-search-algolia/src/client/index.ts
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaContextualFacetFilters.ts
  packages/docusaurus-theme-search-algolia/src/client/utils.ts
Due: eslint --fix, master-writer

implement applyAskAiContextualSearch
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaAskAi.ts
  packages/docusaurus-theme-search-algolia/src/client/utils.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
Due: eslint --fix, master-writer

fix attr
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, master-writer

fix type
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
Due: eslint --fix, master-writer

add todo
  packages/docusaurus-theme-search-algolia/src/client/utils.ts
Due: eslint --fix, master-writer

improve v3 TS retro-compatibility
  package.json
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaAskAi.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  yarn.lock
Due: eslint --fix, master-writer

lint issue
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, master-writer

restore DocSearch v4
  package.json
  yarn.lock
Due: master-writer

improve Algolia accepted themeConfig typing + type tests
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
Due: eslint --fix, master-writer

fix(theme): remove hardcoded fill from Bluesky and LinkedIn icons
  examples/classic-typescript/blog/authors.yml
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Bluesky/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Bluesky/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/LinkedIn/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/LinkedIn/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

remove useless ESLint todos?
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, master-writer

remove useless navbarSearchContainer vertical padding: item is already centered
  packages/docusaurus-theme-classic/src/theme/Navbar/Search/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

apply review feedback
  examples/classic-typescript/blog/authors.yml
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Bluesky/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/LinkedIn/index.tsx
Due: eslint --fix, master-writer

clarify Node.js version policy in docs
  website/community/5-release-process.mdx
Due: master-writer

remove useless css
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
Due: stylelint --allow-empty-input --fix, master-writer

add useful comment
  packages/docusaurus-theme-search-algolia/src/client/utils.ts
Due: eslint --fix, master-writer

revert props spread behavior change
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, master-writer

upgrade webpack-dev-server to v5
  packages/docusaurus/package.json
  yarn.lock
Due: master-writer

fix(theme): fix `useColorMode()` visual glitches due to provider unmounts/remounts (#11405)
  packages/docusaurus-theme-common/src/contexts/colorMode.tsx
Due: eslint --fix, master-writer

fix(deps): upgrade webpack-dev-server to v5, fix security warning (#11410)
  packages/docusaurus/package.json
  yarn.lock
Due: master-writer

Update packages/docusaurus-theme-classic/src/theme/Icon/Socials/LinkedIn/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/LinkedIn/index.tsx
Due: eslint --fix, master-writer

fix(theme): remove hardcoded fill from Bluesky and LinkedIn icons (#11407)
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Bluesky/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Bluesky/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/LinkedIn/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/LinkedIn/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

upgrade to DocSearch v4 GA
  package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  yarn.lock
Due: eslint --fix, master-writer

upgrade Zod to fix website typechecking issue
  yarn.lock
Due: master-writer

try to fix TS skipLibCheck=false problem for TS 5.1 CI
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  package.json
  yarn.lock
Due: master-writer

try to fix DocSearch problem with TS 5.1 CI checks
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
