Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["prettier --ignore-unknown --write"]
}

remove babel.config.js from init templates + website
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/shared/babel.config.js
  website/babel.config.js
  website/docs/configuration.mdx
Due: eslint --fix, prettier --ignore-unknown --write

fix: remove babel.config.js from init templates + website (#10514)
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/create-docusaurus/templates/shared/babel.config.js
  website/babel.config.js
  website/docs/configuration.mdx
Due: eslint --fix, prettier --ignore-unknown --write

Update configuration.mdx
  website/docs/configuration.mdx
Due: prettier --ignore-unknown --write

docs: fix typo (#10520)
  website/docs/configuration.mdx
Due: prettier --ignore-unknown --write

handle merge conflicts
  packages/docusaurus-bundler/src/currentBundler.ts
  packages/docusaurus-bundler/src/loaders/jsLoader.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

rspack 1.0.7
  packages/docusaurus-faster/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

attempt to restore ChunkAssetPlugin
  packages/docusaurus/src/webpack/plugins/ChunkAssetPlugin.ts
Due: eslint --fix, prettier --ignore-unknown --write

temp disable ChunkAssetPlugin
  packages/docusaurus/src/webpack/client.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor: apply lint autofix
  yarn.lock
Due: prettier --ignore-unknown --write

fix createJsLoaderFactory test
  packages/docusaurus-bundler/src/loaders/__tests__/jsLoader.test.ts
Due: eslint --fix, prettier --ignore-unknown --write

remove Rspack config validation errors
  packages/docusaurus/src/webpack/base.ts
  website/package.json
Due: eslint --fix, prettier --ignore-unknown --write

Use Rspack canary, restore ChunkAssetPlugin
  packages/docusaurus-faster/package.json
  packages/docusaurus/src/webpack/client.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

Base setup for LightningCSS faster option
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

wire lightningCssMinimizer faster option
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, prettier --ignore-unknown --write

Update snapshots
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
Due: prettier --ignore-unknown --write

refactor: apply lint autofix
  project-words.txt
Due: prettier --ignore-unknown --write

createLighthouseReport add log of input args
  admin/scripts/formatLighthouseReport.js
Due: eslint --fix, prettier --ignore-unknown --write

fix harmless CSS order change for LightningCSS
  website/testCSSOrder.mjs
Due: eslint --fix, prettier --ignore-unknown --write

fix formatLighthouseReport() CI
  admin/scripts/formatLighthouseReport.js
Due: eslint --fix, prettier --ignore-unknown --write

chore: fix formatLighthouseReport() CI (#10527)
  admin/scripts/formatLighthouseReport.js
Due: eslint --fix, prettier --ignore-unknown --write

Revert "createLighthouseReport add log of input args"
  admin/scripts/formatLighthouseReport.js
Due: eslint --fix, prettier --ignore-unknown --write

Update formatLighthouseReport.js
  admin/scripts/formatLighthouseReport.js
Due: eslint --fix, prettier --ignore-unknown --write

chore: fix interverted condition in formatLighthouseReport.js (#10528)
  admin/scripts/formatLighthouseReport.js
Due: eslint --fix, prettier --ignore-unknown --write

feat(core): faster CSS minimizer - `siteConfig.future.experimental_faster.lightningCssMinimizer` (#10522)
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  project-words.txt
  website/testCSSOrder.mjs
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

re-add missing rspack dep + fix lockfile
  packages/docusaurus-faster/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Wire browserslist to LightningCSS built-in targets
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-faster/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(apitable): support for highlight APIs name table
  website/src/components/APITable/index.tsx
  website/src/components/APITable/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

installation.mdx: add a :::tip for harmless vulnerabilities
  website/docs/installation.mdx
Due: prettier --ignore-unknown --write

restore dynamic require usage
  packages/docusaurus-theme-classic/src/theme/prism-include-languages.ts
Due: eslint --fix, prettier --ignore-unknown --write
