Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

feat(core): upgrade React Router v5 → v8 (and history v5)
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
  packages/docusaurus-theme-common/src/utils/routesUtils.ts
  packages/docusaurus-types/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/clientEntry.tsx
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/renderRoutes.ts
  packages/docusaurus/src/client/exports/renderRoutes.tsx
  packages/docusaurus/src/client/exports/router.ts
  packages/docusaurus/src/client/exports/router.tsx
  packages/docusaurus/src/client/matchRoutes.ts
  packages/docusaurus/src/client/normalizeLocation.ts
  packages/docusaurus/src/client/preload.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
  packages/docusaurus/src/server/brokenLinks.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

docs:fixed letters issue in README file
  README.md
Due: master-writer

fix(theme-common): add explicit duration configuration support to Collapsible component
  package.json
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
Due: eslint --fix, master-writer

test(blog): add simple regression test for trailingSlash (AI-assisted)
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
Due: eslint --fix, master-writer

docs: add NGINX deployment guide
  docs/deployment/nginx.mdx
Due: master-writer

perf: exclude node_modules from content globbing in monorepos
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
  packages/docusaurus-utils/src/__tests__/globUtils.test.ts
  packages/docusaurus-utils/src/globUtils.ts
Due: eslint --fix, master-writer

fix bad test import
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/loadVersion.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
Due: eslint --fix, master-writer

fix(test): fix bad test import (#12200)
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/loadVersion.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
Due: eslint --fix, master-writer

make it render something with errors
  packages/docusaurus-plugin-content-docs/src/routes.ts
  packages/docusaurus-theme-classic/src/theme/DocRoot/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/preload.ts
  packages/docusaurus/src/server/codegen/codegenRoutes.ts
  packages/docusaurus/src/server/plugins/routeConfig.ts
Due: eslint --fix, master-writer

chore: remove unmaintained search plugin and update link
  website/community/2-resources.mdx
Due: master-writer

feat: onUnusedMarkdownDirectives markdown hooks
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/markdown.d.ts
Due: eslint --fix, master-writer

test: add new tests
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/__tests__/index.test.ts
Due: eslint --fix, master-writer

feat: pass onUnusedMarkdownDirectives from config
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

docs: update API docs
  website/docs/api/docusaurus.config.js.mdx
Due: master-writer

Update custom.css
  website/src/css/custom.css
Due: stylelint --allow-empty-input --fix, master-writer

Update index.tsx
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
Due: eslint --fix, master-writer

test: add edge-case test for content sourced from node_modules
  packages/docusaurus-utils/src/__tests__/globUtils.test.ts
Due: eslint --fix, master-writer

Implement toggle button and tooltip styles
  website/src/css/custom.css
Due: stylelint --allow-empty-input --fix, master-writer

Refactor ColorModeToggle component for improved accessibility
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
Due: eslint --fix, master-writer

Fix formatting issues in ColorModeToggle component
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
Due: eslint --fix, master-writer

Update import paths for light and dark mode icons
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
Due: eslint --fix, master-writer

Refactor ColorModeToggle to use a single Icon component
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
Due: eslint --fix, master-writer

chore: trigger clean rebuild
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
Due: eslint --fix, master-writer

Update 2-resources.mdx
  website/community/2-resources.mdx
Due: master-writer

fix relative Link resolution with trailing slash
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/__tests__/Link.test.tsx
Due: eslint --fix, master-writer

fix(sitemap): don't drop lastmod for an epoch (0) timestamp
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemapItem.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemapItem.ts
Due: eslint --fix, master-writer

fix(utils): stop createExcerpt leaking multi-line JSX into description (#12214)
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

test(utils): createExcerpt after a multi-line JSX element (#12214)
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
Due: eslint --fix, master-writer

fix(utils-common): keep dollar signs when applying trailing slash
  packages/docusaurus-utils-common/src/__tests__/applyTrailingSlash.test.ts
  packages/docusaurus-utils-common/src/applyTrailingSlash.ts
Due: eslint --fix, master-writer

fix(core): render base URL suggestion as text (AI-assisted)
  packages/docusaurus/src/client/BaseUrlIssueBanner/index.tsx
  packages/docusaurus/src/client/__tests__/BaseUrlIssueBanner.test.ts
Due: eslint --fix, master-writer

fix: prevent code blocks flash in dark mode (AI-assisted)
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Container/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
Due: eslint --fix, master-writer

fix: prevent code blocks flash in dark mode (AI-assisted)
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Due: eslint --fix, master-writer

fix(theme-classic): include top-level breadcrumb in structured data (fixes #12208)
  packages/docusaurus-plugin-content-docs/src/client/structuredDataUtils.ts
Due: eslint --fix, master-writer
