Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

fix types in remark-toc
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix types in remark-transformImage
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix types in remark-transformLinks
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix types in remark-unusedDirectives
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: Argos screenshot dogfooding test pages (#10650)
  .github/workflows/argos.yml
  argos/tests/screenshot.spec.ts
  package.json
  project-words.txt
  website/_dogfooding/dogfooding.config.ts
  website/docusaurus.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

remove unused type
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor(mdx-loader): streamline typescript usage for remark plugin types (#10651)
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  packages/docusaurus-mdx-loader/src/remark/contentTitle/index.ts
  packages/docusaurus-mdx-loader/src/remark/details/index.ts
  packages/docusaurus-mdx-loader/src/remark/head/index.ts
  packages/docusaurus-mdx-loader/src/remark/headings/index.ts
  packages/docusaurus-mdx-loader/src/remark/mdx1Compat/codeCompatPlugin.ts
  packages/docusaurus-mdx-loader/src/remark/mermaid/index.ts
  packages/docusaurus-mdx-loader/src/remark/resolveMarkdownLinks/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix jsLoader factory ambiguity
  packages/docusaurus-bundler/src/loaders/__tests__/jsLoader.test.ts
  packages/docusaurus-bundler/src/loaders/jsLoader.ts
  packages/docusaurus-types/src/config.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

emitSiteMessages infra for site errors/warnings
  packages/docusaurus/src/server/site.ts
  packages/docusaurus/src/server/siteMessages.ts
Due: eslint --fix, prettier --ignore-unknown --write

add unit tests
  packages/docusaurus/src/server/__tests__/__fixtures__/siteMessages/siteWithBabelConfigFile/babel.config.js
  packages/docusaurus/src/server/__tests__/siteMessages.test.ts
  packages/docusaurus/src/server/siteMessages.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor(faster,bundler,core): improve js loader DX (#10655)
  packages/docusaurus-bundler/src/loaders/__tests__/jsLoader.test.ts
  packages/docusaurus-bundler/src/loaders/jsLoader.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__fixtures__/siteMessages/siteWithBabelConfigFile/babel.config.js
  packages/docusaurus/src/server/__tests__/siteMessages.test.ts
  packages/docusaurus/src/server/site.ts
  packages/docusaurus/src/server/siteMessages.ts
Due: eslint --fix, prettier --ignore-unknown --write

argos, skip /tests/pages/react-18
  argos/tests/screenshot.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

test(argos): skip screenshot for /tests/pages/react-18 (#10656)
  argos/tests/screenshot.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix ts config docs
  website/docs/styling-layout.mdx
  website/versioned_docs/version-3.2.1/styling-layout.mdx
  website/versioned_docs/version-3.3.2/styling-layout.mdx
  website/versioned_docs/version-3.4.0/styling-layout.mdx
  website/versioned_docs/version-3.5.2/styling-layout.mdx
  website/versioned_docs/version-3.6.0/styling-layout.mdx
Due: prettier --ignore-unknown --write

docs: fix old base ts config ref (#10657)
  website/docs/styling-layout.mdx
  website/versioned_docs/version-3.2.1/styling-layout.mdx
  website/versioned_docs/version-3.3.2/styling-layout.mdx
  website/versioned_docs/version-3.4.0/styling-layout.mdx
  website/versioned_docs/version-3.5.2/styling-layout.mdx
  website/versioned_docs/version-3.6.0/styling-layout.mdx
Due: prettier --ignore-unknown --write

badSyntax file
  .eslintignore
  .prettierignore
  website/_dogfooding/_asset-tests/badSyntax.js
Due: eslint --fix, prettier --ignore-unknown --write

fix copy plugin
  .prettierignore
  .stylelintignore
  packages/docusaurus/src/webpack/plugins/StaticDirectoriesCopyPlugin.ts
  website/_dogfooding/_asset-tests/badSyntax.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

fix copy plugin
  website/_dogfooding/_asset-tests/badSyntax.js
Due: eslint --fix, prettier --ignore-unknown --write

fix copy plugin
  packages/docusaurus/src/webpack/plugins/StaticDirectoriesCopyPlugin.ts
  website/tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

fix(core): bundler should not minimize static assets (#10658)
  .eslintignore
  .prettierignore
  .stylelintignore
  packages/docusaurus/src/webpack/plugins/StaticDirectoriesCopyPlugin.ts
  website/_dogfooding/_asset-tests/badSyntax.css
  website/_dogfooding/_asset-tests/badSyntax.js
  website/tsconfig.json
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

3.6.1 changelog
  CHANGELOG.md
Due: prettier --ignore-unknown --write

mysite.com -> example.com
  website/docs/api/themes/theme-configuration.mdx
Due: prettier --ignore-unknown --write

docs: fix package name in babel config docs
  website/docs/configuration.mdx
  website/versioned_docs/version-3.6.1/configuration.mdx
Due: prettier --ignore-unknown --write

docs: fix package name in babel config docs (#10666)
  website/docs/configuration.mdx
  website/versioned_docs/version-3.6.1/configuration.mdx
Due: prettier --ignore-unknown --write

fix: peer dependencies
  package.json
  packages/create-docusaurus/package.json
  packages/docusaurus-babel/package.json
  packages/docusaurus-bundler/package.json
  packages/docusaurus-faster/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-tag-manager/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-rsdoctor/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-vercel-analytics/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-utils-common/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  website/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore(algolia): upgrade to the new major
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

revert type
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

resolve peer dependency warning
  packages/docusaurus-theme-search-algolia/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Update intro.md - by TK
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
