Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

test log
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
Due: eslint --fix, master-writer

try to fix tinyglobby error on windows
  packages/docusaurus-babel/src/babelTranslationsExtractor.ts
  packages/docusaurus-utils/src/globUtils.ts
Due: eslint --fix, master-writer

try to fix tinyglobby
  packages/docusaurus-babel/src/__tests__/babelTranslationsExtractor.test.ts
  packages/docusaurus-babel/src/babelTranslationsExtractor.ts
  packages/docusaurus-theme-translations/src/__tests__/utils.test.ts
Due: eslint --fix, master-writer

upgrade to DocSearch 4.4.0 + fix little theming issues
  packages/docusaurus-theme-search-algolia/package.json
  website/src/css/custom.css
  yarn.lock
Due: stylelint --allow-empty-input --fix, master-writer

do not force upgrade to users, we only upgrade our website
  packages/docusaurus-theme-search-algolia/package.json
Due: master-writer

revert change
  yarn.lock
Due: master-writer

test windows
  jest/snapshotPathNormalizer.ts
Due: eslint --fix, master-writer

chore(website): upgrade to DocSearch 4.4.0 + fix little website theming issues (#11626)
  website/src/css/custom.css
  yarn.lock
Due: stylelint --allow-empty-input --fix, master-writer

fix(docs): ensure exclude patterns are recursive for nested directories
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
Due: eslint --fix, master-writer

docs: add magic comment anchors for documentation linking (#11617)
  packages/docusaurus-plugin-content-docs/src/docs.ts
Due: eslint --fix, master-writer

feat(i18n): add Urdu (ur) default theme translations
  packages/docusaurus-theme-translations/locales/ur/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/ur/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/ur/theme-common.json
  packages/docusaurus-theme-translations/locales/ur/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/ur/theme-search-algolia.json
Due: master-writer

docs: document VERCEL_DEEP_CLONE for showLastUpdateTime fix
  website/docs/api/plugins/plugin-content-docs.mdx
  website/docs/deployment.mdx
Due: master-writer

docs(i18n): fix cp commands to avoid duplicate files
  website/docs/i18n/i18n-git.mdx
  website/docs/i18n/i18n-tutorial.mdx
Due: master-writer

feat(theme): add MDXComponents/Li to swizzle config
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
Due: eslint --fix, master-writer

feat: add Dream Drawing interactive visualization
  website/src/components/DreamDrawing/index.tsx
  website/src/components/DreamDrawing/styles.module.css
  website/src/pages/dream.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

feat(theme): add MDXComponents/Li to swizzle config (#11635)
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
Due: eslint --fix, master-writer

feat(i18n): add Urdu (ur) default theme translations (#11632)
  packages/docusaurus-theme-translations/locales/ur/plugin-ideal-image.json
  packages/docusaurus-theme-translations/locales/ur/plugin-pwa.json
  packages/docusaurus-theme-translations/locales/ur/theme-common.json
  packages/docusaurus-theme-translations/locales/ur/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/ur/theme-search-algolia.json
Due: master-writer

Update playground.mdx
  website/docs/playground.mdx
Due: master-writer

remove logs
  jest/snapshotPathNormalizer.ts
Due: eslint --fix, master-writer

simplify Jest snapshotPathNormalizer.ts
  jest/snapshotPathNormalizer.ts
Due: eslint --fix, master-writer

run tests on jest/** changes
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: master-writer

revert change?
  jest/snapshotPathNormalizer.ts
Due: eslint --fix, master-writer

test(jest): simplify Jest snapshotPathNormalizer.ts (#11639)
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  jest/snapshotPathNormalizer.ts
Due: eslint --fix, master-writer

try to normalize windows paths
  jest/snapshotPathNormalizer.ts
Due: eslint --fix, master-writer

remove log
  packages/docusaurus/src/server/translations/__tests__/translationsExtractor.test.ts
Due: eslint --fix, master-writer

remove absolute glob translations
  packages/docusaurus-utils/src/globUtils.ts
Due: eslint --fix, master-writer

remove absolute glob translations
  packages/docusaurus-theme-translations/src/__tests__/utils.test.ts
Due: eslint --fix, master-writer

improve eject glob workaround
  packages/docusaurus/src/commands/swizzle/actions.ts
Due: eslint --fix, master-writer

fix windows globbing issue again?
  packages/docusaurus-theme-translations/src/__tests__/utils.test.ts
  packages/docusaurus-utils/src/globUtils.ts
Due: eslint --fix, master-writer

fix(dx): configure devcontainer to use the host network
  .devcontainer/devcontainer.json
Due: master-writer

fix(mdx-loader): propagate class names to admonitions
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__fixtures__/attributes.md
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  website/_dogfooding/_docs tests/tests/admonitions.mdx
  website/_dogfooding/dogfooding.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix typo
  website/_dogfooding/_docs tests/tests/admonitions.mdx
Due: master-writer

pass all directive attributes to the admonition
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__fixtures__/attributes.md
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
Due: eslint --fix, master-writer

add more dogfood
  website/_dogfooding/_docs tests/tests/admonitions.mdx
  website/_dogfooding/dogfooding.css
Due: stylelint --allow-empty-input --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
