Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

fix(client-redirects): preserve external redirect targets
  packages/docusaurus-plugin-client-redirects/src/__tests__/collectRedirects.test.ts
  packages/docusaurus-plugin-client-redirects/src/collectRedirects.ts
Due: eslint --fix, master-writer

add code + example in browser window
  website/docs/guides/markdown-features/markdown-features-intro.mdx
Due: master-writer

oxfmt
  website/docs/guides/markdown-features/markdown-features-intro.mdx
Due: master-writer

remove tip
  website/docs/guides/markdown-features/markdown-features-intro.mdx
Due: master-writer

feat(faster): upgrade @rspack/core to v2 and use rspack v2 config
  packages/docusaurus-faster/package.json
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/server.ts
  yarn.lock
Due: eslint --fix, master-writer

draft
  packages/docusaurus-logger/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/options.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/validation.test.ts
  packages/docusaurus-plugin-content-pages/src/__tests__/options.test.ts
  packages/docusaurus-plugin-css-cascade-layers/src/__tests__/options.test.ts
  packages/docusaurus-plugin-google-gtag/src/__tests__/options.test.ts
  packages/docusaurus-plugin-rsdoctor/src/__tests__/options.test.ts
  packages/docusaurus-plugin-svgr/src/__tests__/options.test.ts
  packages/docusaurus-plugin-vercel-analytics/src/__tests__/options.test.ts
  packages/docusaurus-theme-classic/src/__tests__/options.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/usePluralForm.test.tsx
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-utils-validation/src/__tests__/validationUtils.test.ts
  packages/docusaurus-utils/src/__tests__/dataFileUtils.test.ts
  packages/docusaurus-utils/src/__tests__/moduleUtils.test.ts
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
Due: eslint --fix, master-writer

test
  vitest.config.ts
Due: eslint --fix, master-writer

draft
  vitest.config.ts
Due: eslint --fix, master-writer

fix jsdom header comment
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsSidebar.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsVersion.test.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/reactUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/tocUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/useAlternatePageUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/useLocalPathname.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/usePluralForm.test.tsx
  packages/docusaurus/src/client/__tests__/browserContext.test.tsx
  packages/docusaurus/src/client/__tests__/docusaurusContext.test.tsx
  packages/docusaurus/src/client/__tests__/routeContext.test.tsx
  packages/docusaurus/src/client/exports/__tests__/BrowserOnly.test.tsx
  packages/docusaurus/src/client/exports/__tests__/Head.test.tsx
  packages/docusaurus/src/client/exports/__tests__/Interpolate.test.tsx
  packages/docusaurus/src/client/exports/__tests__/Translate.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useBaseUrl.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useGlobalData.test.tsx
  packages/docusaurus/src/client/exports/__tests__/useRouteContext.test.tsx
Due: eslint --fix, master-writer

revert change
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
Due: eslint --fix, master-writer

remove eslint-plugin-vitest, old name
  package.json
  yarn.lock
Due: master-writer

fix eslint
  .eslintrc.js
  packages/docusaurus-mdx-loader/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/frontMatter.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/frontMatter.test.ts
  packages/docusaurus/src/client/__tests__/browserContext.test.tsx
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
  packages/stylelint-copyright/src/__tests__/index.test.ts
Due: eslint --fix, master-writer

delete removePosition() test dependency
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/remark/headings/__tests__/index.test.ts
Due: eslint --fix, master-writer

fix user.test.ts
  test/setup.ts
  vitest.config.ts
  website/src/data/__tests__/user.test.ts
  website/src/data/users.tsx
Due: eslint --fix, master-writer

fix test setup for .js files containing JSX :s (workaround)
  vitest.config.ts
Due: eslint --fix, master-writer

update snapshot
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsSidebar.test.tsx
Due: eslint --fix, master-writer

update snapshots
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsVersion.test.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
Due: eslint --fix, master-writer

fix brokenLinks test
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
Due: eslint --fix, master-writer

fix test
  packages/docusaurus/src/server/plugins/__tests__/__fixtures__/site-with-plugin/docusaurus.config.js
Due: eslint --fix, master-writer

fix test
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
Due: eslint --fix, master-writer

TSC fixes for website
  website/_dogfooding/_pages tests/live-playground-tests.tsx
  website/package.json
  website/src/data/__tests__/user.test.ts
  website/tsconfig.json
  website/vitest.d.ts
  yarn.lock
Due: eslint --fix, master-writer

restore MDX JSX types
  website/types.d.ts
Due: eslint --fix, master-writer

improve showcase test, remove useless test Matchers extension
  website/src/data/__tests__/user.test.ts
  website/vitest.d.ts
Due: eslint --fix, master-writer

remove useless comment
  __tests__/validate-package-json.test.ts
Due: eslint --fix, master-writer

remove useless test escape hatch for ESM
  packages/docusaurus-mdx-loader/src/createMDXLoader.ts
Due: eslint --fix, master-writer

revert CSS changes?
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/atom.css
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/rss.css
Due: stylelint --allow-empty-input --fix, master-writer

remove useless expect.extend
  packages/stylelint-copyright/src/__tests__/index.test.ts
Due: eslint --fix, master-writer

remove Jest test workaround
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

fmt
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/atom.css
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/rss.css
Due: stylelint --allow-empty-input --fix, master-writer
