Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

Update intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: master-writer

test publish
  .github/workflows/canary-release.yml
Due: master-writer

fix(i18n): complete missing Korean translations
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
Due: master-writer

refactor(content-blog): decouple getTagsFile from generateBlogPosts
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
Due: eslint --fix, master-writer

Revise intro.md for Physical AI course documentation
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: master-writer

feat: replace gtag with google-tag-manager plugin for GTM support
  website/docusaurus.config.ts
  website/package.json
Due: eslint --fix, master-writer

Ignore local Docker dev files
  .gitignore
Due: master-writer

refactor(utils): remove lodash dependency from gitUtils
  packages/docusaurus-utils/src/vcs/gitUtils.ts
Due: eslint --fix, master-writer

Fix canary publish, use trusted publishing (OIDC)
  .github/workflows/publish.yml
Due: master-writer

verbose lerna publish logs
  package.json
Due: master-writer

test upgrade Lerna
  .github/workflows/publish.yml
  lerna.json
  package.json
  yarn.lock
Due: master-writer

refactor: apply lint autofix
  yarn.lock
Due: master-writer

do not checkout main, get verbose logs
  .github/workflows/publish.yml
Due: master-writer

test publish
  .github/workflows/publish.yml
Due: master-writer

cleanup workflow
  .github/workflows/publish.yml
Due: master-writer

downgrade Lerna for nodejs compatibility reason
  package.json
  yarn.lock
Due: master-writer

use Lerna 9 only in publish workflow
  .github/workflows/publish.yml
Due: master-writer

use Lerna 9 only in publish workflow
  .github/workflows/publish.yml
  package.json
Due: master-writer

cleanup publish script
  .github/workflows/publish.yml
  package.json
  yarn.lock
Due: master-writer

cleanup script
  package.json
  yarn.lock
Due: master-writer

downgrade lerna
  package.json
  yarn.lock
Due: master-writer

feat(publish): Use trusted publishing (OIDC) for canary releases (#11712)
  .github/workflows/publish.yml
  lerna.json
  package.json
  yarn.lock
Due: master-writer

fix(a11y): remove `useKeyboardNavigation` hook
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/SiteMetadata/index.tsx
  packages/docusaurus-theme-common/src/hooks/styles.css
  packages/docusaurus-theme-common/src/hooks/useKeyboardNavigation.ts
  packages/docusaurus-theme-common/src/internal.ts
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(faster): remove deprecated experiments.lazyBarrel option
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, master-writer

fix(a11y): remove `useKeyboardNavigation` hook (#11713)
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/SiteMetadata/index.tsx
  packages/docusaurus-theme-common/src/hooks/styles.css
  packages/docusaurus-theme-common/src/hooks/useKeyboardNavigation.ts
  packages/docusaurus-theme-common/src/internal.ts
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(core): Remove deprecated experiments.lazyBarrel config for RsPack (#11693)
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, master-writer

upgrade to Rspack 1.7, remove useless experimental feature flags
  packages/docusaurus-faster/package.json
  packages/docusaurus/src/webpack/base.ts
  yarn.lock
Due: eslint --fix, master-writer
