Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Revert "simplify"
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
Due: eslint --fix, master-writer

chore: simplify construction of test paths
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
Due: eslint --fix, master-writer

refactor: remove unnecessary undefined & use optional chain (#11192)
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/helpers.js
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Due: eslint --fix, master-writer

chore: simplify construction of test paths (#11196)
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
Due: eslint --fix, master-writer

3.8 blog
  website/blog/releases/3.8/index.mdx
Due: master-writer

chore: fix typos in comment-out
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImage/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/composeStyle.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/unfetch.js
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
Due: eslint --fix, master-writer

add isProductionDeployment
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

blog 3.8
  website/blog/releases/3.8/index.mdx
Due: master-writer

chore: switch to tinyglobby
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/globUtils.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
  yarn.lock
Due: eslint --fix, master-writer

blog 3.8
  website/blog/releases/3.8/index.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

chore: fix typos in comment-out (#11197)
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImage/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/composeStyle.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/unfetch.js
  packages/docusaurus/src/server/translations/__tests__/translations.test.ts
Due: eslint --fix, master-writer

docs: fix highlighted lines in github link to commonly used languages (#11188)
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Due: master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

typo
  website/blog/releases/3.8/index.mdx
Due: master-writer

remove reading-time breaking change in changelog => not a breaking change
  CHANGELOG.md
Due: master-writer

update examples
  examples/classic-typescript/README.md
  examples/classic-typescript/blog/authors.yml
  examples/classic-typescript/docusaurus.config.ts
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/README.md
  examples/classic/blog/authors.yml
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/yarn.lock
Due: eslint --fix, master-writer

chore: update examples for Docusaurus 3.8 (#11202)
  README.md
  blog/authors.yml
  docusaurus.config.js
  package.json
  yarn.lock
Due: eslint --fix, master-writer

chore: update examples for Docusaurus 3.8 (#11202)
  examples/classic-typescript/README.md
  examples/classic-typescript/blog/authors.yml
  examples/classic-typescript/docusaurus.config.ts
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/README.md
  examples/classic/blog/authors.yml
  examples/classic/docusaurus.config.js
  examples/classic/package.json
  examples/classic/yarn.lock
Due: eslint --fix, master-writer

Add missing v3.8 blog post mdx-code-block
  website/blog/releases/3.8/index.mdx
  website/src/css/custom.css
Due: stylelint --allow-empty-input --fix, master-writer

chore: Add missing v3.8 blog post mdx-code-block (#11203)
  website/blog/releases/3.8/index.mdx
  website/src/css/custom.css
Due: stylelint --allow-empty-input --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
