Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

remove log
  packages/docusaurus/src/server/site.ts
Due: eslint --fix, master-writer

fix useAlternatePageUtils impl
  packages/docusaurus-theme-common/src/utils/useAlternatePageUtils.ts
Due: eslint --fix, master-writer

Add localeConfig.url
  packages/docusaurus-types/src/i18n.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

loadI18n: support loading url using siteUrl by default
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/i18n.ts
Due: eslint --fix, master-writer

Fix useAlternatePageUtils for deployments under multiple distinct domains, wire the new per-locale url param
  packages/docusaurus-theme-common/src/utils/useAlternatePageUtils.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

Reduced content and removed the parseFrontMatter example
  website/docs/guides/docs/docs-create-doc.mdx
Due: master-writer

Update README.md
  README.md
Due: master-writer

fix useAlternatePageUtils tests
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/utils/__tests__/useAlternatePageUtils.test.tsx
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
Due: eslint --fix, master-writer

Add docs for localeConfig url attribute
  website/docs/api/docusaurus.config.js.mdx
  website/docs/i18n/i18n-tutorial.mdx
Due: master-writer

fix broken link
  website/docs/i18n/i18n-tutorial.mdx
Due: master-writer

Adjust locale dropdown code to new per-locale url/baseUrl configs
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Due: eslint --fix, master-writer

add utils to merge search params lists
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/historyUtils.test.ts
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
Due: eslint --fix, master-writer

better handling of query string in LocaleDropdownNavbarItem
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Due: eslint --fix, master-writer

remove bad import
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
Due: eslint --fix, master-writer

handle ? or not in mergeSearchStrings
  packages/docusaurus-theme-common/src/utils/__tests__/historyUtils.test.ts
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
Due: eslint --fix, master-writer

simplify LocaleDropdownNavbarItem
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Due: eslint --fix, master-writer

fix LocaleDropdownNavbarItem bug
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Due: eslint --fix, master-writer

docs typo
  website/docs/api/docusaurus.config.js.mdx
Due: master-writer

feat(core): Add `i18n.localeConfigs[locale].{url,baseUrl}` config options (#11316)
  .eslintrc.js
  packages/docusaurus-plugin-pwa/src/registerSw.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/__tests__/historyUtils.test.ts
  packages/docusaurus-theme-common/src/utils/__tests__/useAlternatePageUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
  packages/docusaurus-theme-common/src/utils/useAlternatePageUtils.ts
  packages/docusaurus-types/src/i18n.d.ts
  packages/docusaurus-utils/src/__tests__/i18nUtils.test.ts
  packages/docusaurus-utils/src/i18nUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/commands/build/build.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/commands/build/buildUtils.ts
  packages/docusaurus/src/commands/start/utils.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/configValidation.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/__tests__/site.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/site.ts
  project-words.txt
  website/docs/api/docusaurus.config.js.mdx
  website/docs/i18n/i18n-tutorial.mdx
Due: eslint --fix, master-writer

Add aria label translation for external link icon
  packages/docusaurus-theme-classic/src/theme/Icon/ExternalLink/index.tsx
Due: eslint --fix, master-writer

add translations
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bg/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/et/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hu/theme-common.json
  packages/docusaurus-theme-translations/locales/id/theme-common.json
  packages/docusaurus-theme-translations/locales/is/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nb/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tk/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Due: master-writer

fix(theme): Add `aria-label` to `IconExternalLink` with value `'(opens in new tab)'` (#11331)
  packages/docusaurus-theme-classic/src/theme/Icon/ExternalLink/index.tsx
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bg/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/et/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hu/theme-common.json
  packages/docusaurus-theme-translations/locales/id/theme-common.json
  packages/docusaurus-theme-translations/locales/is/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nb/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tk/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Due: eslint --fix, master-writer

fix(theme-mermaid): make elk layout for mermaid diagram usable by including @mermaid-js/layout-elk dependency
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-mermaid/src/client/index.ts
  website/_dogfooding/_pages tests/diagrams.mdx
  yarn.lock
Due: eslint --fix, master-writer

fix: based on comments
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/styles.module.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchTranslations/index.ts
  project-words.txt
  website/docs/search.mdx
  website/docusaurus.config.ts
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Update playground.mdx
  website/docs/playground.mdx
Due: master-writer

Update build-hash-router.yml
  .github/workflows/build-hash-router.yml
Due: master-writer

add dogfood tests for long sidebar labels
  website/_dogfooding/_docs tests/tests/sidebar-display/Category 2 Long Long Long Long Long Long Long Long Long Long Long/doc1.mdx
  website/_dogfooding/_docs tests/tests/sidebar-display/Category1LongLongLongLongLongLongLongLongLongLong/doc1.mdx
  website/_dogfooding/_docs tests/tests/sidebar-display/Category1LongLongLongLongLongLongLongLongLongLong/doc2 long long long long long long long long long long long long.mdx
  website/_dogfooding/_docs tests/tests/sidebar-display/Category1LongLongLongLongLongLongLongLongLongLong/doc3longlonglonglonglonglonglonglonglonglonglonglong.mdx
  website/_dogfooding/_docs tests/tests/sidebar-display/_category_.json
Due: master-writer

category, simplify and extract handleItemClick
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
Due: eslint --fix, master-writer

Add line clamp 2 to category link label
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Fix caret button margin
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

Add line clamp to sidebar category link item label
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

add more content
  website/_dogfooding/_docs tests/tests/sidebar-display/Category 2 Long Long Long Long Long Long Long Long Long Long Long/doc1.mdx
Due: master-writer

add more content
  website/_dogfooding/_docs tests/tests/sidebar-display/Category1LongLongLongLongLongLongLongLongLongLong/doc1.mdx
Due: master-writer
