Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

Update intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: prettier --ignore-unknown --write

Update packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme-translations): Turkish exist language translate completed. (#10893)
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
Due: prettier --ignore-unknown --write

docs: update Cloudflare Pages deployment link
  website/docs/deployment.mdx
Due: prettier --ignore-unknown --write

docs: update wording from "this article" to "this page" in Cloudflare Pages deployment link
  website/docs/deployment.mdx
Due: prettier --ignore-unknown --write

update versioned docs with website link to react-live
  website/versioned_docs/version-2.x/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.0.1/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.1.1/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.2.1/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.3.2/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.4.0/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.5.2/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.6.3/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.7.0/api/themes/theme-live-codeblock.mdx
Due: prettier --ignore-unknown --write

chore(plugin-debug): upgrade react-json-view-lite to v2.3.0 for react 19
  packages/docusaurus-plugin-debug/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(core): a11y fix on mobile DropdownNavbarItem
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

docs(theme-live-codeblock): update versioned docs to include link to react-live (#10902)
  website/versioned_docs/version-2.x/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.0.1/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.1.1/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.2.1/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.3.2/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.4.0/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.5.2/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.6.3/api/themes/theme-live-codeblock.mdx
  website/versioned_docs/version-3.7.0/api/themes/theme-live-codeblock.mdx
Due: prettier --ignore-unknown --write

docs: update Cloudflare Pages deployment link (#10901)
  website/docs/deployment.mdx
Due: prettier --ignore-unknown --write

chore(plugin-debug): upgrade react-json-view-lite to v2.3.0 for react 19 (#10903)
  packages/docusaurus-plugin-debug/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

add better dogfooding for sidebar_class_name
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  website/_dogfooding/_docs tests/tests/custom-props/_category_.json
  website/_dogfooding/_docs tests/tests/custom-props/doc-without-custom-props.mdx
  website/_dogfooding/_docs tests/tests/custom-props/index.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-className.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-custom-props.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-label.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-without.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/index.mdx
  website/_dogfooding/dogfooding.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

apply sidebar_class_name to generated index category cards as well
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

fix table html markup issue
  argos/tests/screenshot.spec.ts
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/index.mdx
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme): apply docs `sidebar_class_name` in DocCard + better dogfooding (#10909)
  argos/tests/screenshot.spec.ts
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  website/_dogfooding/_docs tests/tests/custom-props/_category_.json
  website/_dogfooding/_docs tests/tests/custom-props/doc-without-custom-props.mdx
  website/_dogfooding/_docs tests/tests/custom-props/index.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-className.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-custom-props.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-label.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-without.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/index.mdx
  website/_dogfooding/dogfooding.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

fix(core): a11y fix on mobile DropdownNavbarItem (#10898)
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Add issuer to ideal-image loader
  packages/docusaurus-plugin-ideal-image/src/index.ts
  website/_dogfooding/_docs tests/tests/images/img-tests.css
  website/_dogfooding/_docs tests/tests/images/img/oss_logo (2).png
  website/_dogfooding/_docs tests/tests/images/img/oss_logo.png
  website/_dogfooding/_docs tests/tests/images/index.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

fix(ideal-image): Add issuer to ideal-image Webpack loader (#10910)
  packages/docusaurus-plugin-ideal-image/src/index.ts
  website/_dogfooding/_docs tests/tests/images/img-tests.css
  website/_dogfooding/_docs tests/tests/images/img/oss_logo (2).png
  website/_dogfooding/_docs tests/tests/images/img/oss_logo.png
  website/_dogfooding/_docs tests/tests/images/index.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

use os.availableParallelism() for worker threads count
  packages/docusaurus/src/ssg/ssgExecutor.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(core): use `os.availableParallelism()` for SSG worker threads count (#10915)
  packages/docusaurus/src/ssg/ssgExecutor.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme): collapse doc sidebar category on label click if active (#10886)
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/components/Details/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

move title_meta front matter from docs to blog plugin docs
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.6.3/api/plugins/plugin-content-blog.mdx
  website/versioned_docs/version-3.6.3/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.7.0/api/plugins/plugin-content-blog.mdx
  website/versioned_docs/version-3.7.0/api/plugins/plugin-content-docs.mdx
Due: prettier --ignore-unknown --write

docs: move docs of `frontMatter.title_meta` from docs to blog plugin (#10916)
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.6.3/api/plugins/plugin-content-blog.mdx
  website/versioned_docs/version-3.6.3/api/plugins/plugin-content-docs.mdx
  website/versioned_docs/version-3.7.0/api/plugins/plugin-content-blog.mdx
  website/versioned_docs/version-3.7.0/api/plugins/plugin-content-docs.mdx
Due: prettier --ignore-unknown --write

extract useBreadcrumbsStructuredData() helper + add schema-dts deps
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/client/index.ts
  packages/docusaurus-plugin-content-docs/src/client/structuredDataUtils.ts
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/StructuredData/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme-common/package.json
Due: eslint --fix, prettier --ignore-unknown --write

fix(seo): docs breadcrumb structured data should use JSON-LD and filter unliked categories (#10888)
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/client/index.ts
  packages/docusaurus-plugin-content-docs/src/client/structuredDataUtils.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/StructuredData/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme-common/package.json
Due: eslint --fix, prettier --ignore-unknown --write

Updating a link
  website/src/data/users.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Update playground.mdx
  website/docs/playground.mdx
Due: prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
