Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

Update website/docs/introduction.mdx
  website/docs/introduction.mdx
Due: prettier --ignore-unknown --write

fix(theme-translations): Add missing Polish (pl) theme translations (#10825)
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
Due: prettier --ignore-unknown --write

docs(website): Comparison with Rspress (#10822)
  website/docs/introduction.mdx
Due: prettier --ignore-unknown --write

try posix resolve for windows
  packages/docusaurus/src/ssg/ssgExecutor.ts
Due: eslint --fix, prettier --ignore-unknown --write

Update extensions.json
  .vscode/extensions.json
Due: prettier --ignore-unknown --write

Update intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: prettier --ignore-unknown --write

Update search.mdx
  website/docs/search.mdx
Due: prettier --ignore-unknown --write

fix(styles): update text alignment to use 'start' and 'end' for better compatibility
  packages/docusaurus-plugin-debug/src/theme/DebugLayout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/styles.module.css
  packages/docusaurus-theme-classic/src/theme/EditMetaRow/styles.module.css
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

sudo su && README.md
  sudo su && README.md
Due: prettier --ignore-unknown --write

feat(core): add --no-clean-urls flag
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/serve.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: include a `left` class to navbar
  packages/docusaurus-theme-classic/src/theme/Navbar/Content/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Create my-markdown-page.md
  website/src/pages/my-markdown-page.md
Due: prettier --ignore-unknown --write

showLineNumbers counter start metastring
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Due: eslint --fix, prettier --ignore-unknown --write

feat(theme): code block showLineNumbers=start metastring (#10846)
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Due: eslint --fix, prettier --ignore-unknown --write

Fix `<DocCardList>` usage on docs at root of a sidebar
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/docsUtils.tsx
  packages/docusaurus-plugin-content-docs/src/client/index.ts
  packages/docusaurus-theme-classic/src/theme/DocCardList/index.tsx
  website/_dogfooding/_docs tests/index.mdx
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme): Fix `<DocCardList>` usage on docs at root of a sidebar (#10847)
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/docsUtils.tsx
  packages/docusaurus-plugin-content-docs/src/client/index.ts
  packages/docusaurus-theme-classic/src/theme/DocCardList/index.tsx
  website/_dogfooding/_docs tests/index.mdx
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme): Ensure `<DocCard>` maintains full height in styles
  packages/docusaurus-theme-classic/src/theme/DocCard/styles.module.css
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

New postBuild.routesBuildMetadata API
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/head.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/commands/build/buildMetaUtils.ts
Due: eslint --fix, prettier --ignore-unknown --write

cleanup
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/head.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

cleanup
  packages/docusaurus/src/commands/build/buildLocale.ts
Due: eslint --fix, prettier --ignore-unknown --write

cleanup + make boundary serializable
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/client/serverHelmetUtils.tsx
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/commands/build/buildMetaUtils.ts
  packages/docusaurus/src/common.d.ts
  packages/docusaurus/src/ssg/ssgTemplate.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add future flag future.v4.removeLegacyPostBuildHeadAttribute
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, prettier --ignore-unknown --write

snapshots
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
Due: prettier --ignore-unknown --write

refactor: apply lint autofix
  packages/docusaurus/src/client/serverEntry.tsx
Due: eslint --fix, prettier --ignore-unknown --write

wire v4.RemoveLegacyPostBuildHeadAttribute future flag
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/commands/build/buildMetaUtils.ts
  packages/docusaurus/src/common.d.ts
  packages/docusaurus/src/ssg/ssg.ts
  packages/docusaurus/src/ssg/ssgParams.ts
  website/docusaurus.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

TS fix
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
Due: eslint --fix, prettier --ignore-unknown --write

remove test plugin
  website/docusaurus.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

remove duplicate type
  packages/docusaurus-types/src/plugin.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor PageCollectedMetadata
  packages/docusaurus/src/client/serverHelmetUtils.tsx
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/commands/build/buildMetaUtils.ts
  packages/docusaurus/src/common.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

basic docs
  website/docs/api/docusaurus.config.js.mdx
  website/docs/api/plugin-methods/lifecycle-apis.mdx
Due: prettier --ignore-unknown --write

feat(core): new `postBuild({routesBuildMetadata})` API, deprecate `head` attribute + v4 future flag (#10850)
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
  packages/docusaurus-plugin-sitemap/src/head.ts
  packages/docusaurus-plugin-sitemap/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/client/serverHelmetUtils.tsx
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/common.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/ssg/ssg.ts
  packages/docusaurus/src/ssg/ssgParams.ts
  packages/docusaurus/src/ssg/ssgTemplate.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docs/api/plugin-methods/lifecycle-apis.mdx
  website/docusaurus.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
