Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

fix: enhance ThemeConfig type by adding DeepRequired for nested properties
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Due: eslint --fix, master-writer

fix: enhance ThemeConfig type and improve navbar item handling in translations
  packages/docusaurus-theme-classic/src/translations.ts
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Due: eslint --fix, master-writer

Added custom css to fix clear query
  website/src/css/custom.css
Due: stylelint --allow-empty-input --fix, master-writer

Removed "Edit this page" button from print view
  packages/docusaurus-theme-classic/src/theme/EditMetaRow/index.tsx
  packages/docusaurus-theme-classic/src/theme/EditMetaRow/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

add basic config validation test
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
Due: eslint --fix, master-writer

fix(core): allow `i18n.localeConfigs.translate` in validation (#11452)
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

Better normalized handling of scroll-margin-top CSS for sticky navbar
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/A/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/A/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Li.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/anchorUtils.module.css
  packages/docusaurus-theme-common/src/utils/anchorUtils.ts
  website/_dogfooding/_docs tests/tests/footnotes.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(theme): Fix CSS `scroll-margin-top` when clicking footnote items, factorize code (#11466)
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/A/index.tsx
  packages/docusaurus-theme-classic/src/theme/MDXComponents/A/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/Li.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/anchorUtils.module.css
  packages/docusaurus-theme-common/src/utils/anchorUtils.ts
  website/_dogfooding/_docs tests/tests/footnotes.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

docs(website): fix typo for onBrokenMarkdownImages (#11444)
  website/blog/releases/3.9/index.mdx
  website/docs/api/docusaurus.config.js.mdx
  website/versioned_docs/version-3.9.1/api/docusaurus.config.js.mdx
Due: master-writer

fix(theme-translation): add missing Polish (pl) theme translations (#11431)
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
Due: master-writer

docs: improve plugin methods documentation with practical examples
  website/docs/api/plugin-methods/README.mdx
Due: master-writer

fix: resolve TypeScript compilation error in ESLint plugin export
  packages/eslint-plugin/src/index.ts
Due: eslint --fix, master-writer

Enhanced ESLint no-html-links rule with template literal support
  packages/eslint-plugin/src/rules/__tests__/no-html-links.test.ts
  packages/eslint-plugin/src/rules/no-html-links.ts
Due: eslint --fix, master-writer

refactor: maintained accessibility in showcase components
  website/src/pages/showcase/_components/ClearAllButton/index.tsx
  website/src/pages/showcase/_components/OperatorButton/index.tsx
Due: eslint --fix, master-writer

updated theme translations
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/bg/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/et/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hu/theme-common.json
  packages/docusaurus-theme-translations/locales/id/theme-common.json
  packages/docusaurus-theme-translations/locales/is/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nb/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tk/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Due: master-writer

fix: resolve TypeScript compilation errors in ESLint plugin
  packages/eslint-plugin/src/rules/no-html-links.ts
Due: eslint --fix, master-writer

fix: disable Rspack bundler for production builds to prevent panic
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

fix(theme): remove "Edit this page" button from print view (#11463)
  packages/docusaurus-theme-classic/src/theme/EditMetaRow/index.tsx
  packages/docusaurus-theme-classic/src/theme/EditMetaRow/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Fix Algolia AskAI validation logic
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

remove Astro link in v3.9 blog post
  website/blog/releases/3.9/index.mdx
Due: master-writer

docs: remove Astro link in v3.9 blog post (nodejs upgrade) (#11469)
  website/blog/releases/3.9/index.mdx
Due: master-writer

fix: resolve cp commands duplication in i18n tutorial
  website/docs/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-2.x/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.0.1/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.1.1/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.2.1/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.3.2/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.4.0/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.5.2/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.6.3/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.7.0/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.8.1/i18n/i18n-tutorial.mdx
  website/versioned_docs/version-3.9.1/i18n/i18n-tutorial.mdx
Due: master-writer

Fix for issue #11472
  website/versioned_docs/version-3.9.1/deployment.mdx
Due: master-writer

fix(dev-server): return 404 status code for non-existent pages
  packages/docusaurus/src/commands/start/webpack.ts
Due: eslint --fix, master-writer

Updated license from Facebook to Meta Platforms
  jest/setup.js
Due: eslint --fix, master-writer

update nixpacks
  package.json
Due: master-writer

nmp update
  .npmrc
Due: master-writer

more damn fixes
  .nvmrc
  package.json
  yarn.lock
Due: master-writer

update
  yarn.lock
Due: master-writer

update
  build.log
  yarn.lock
Due: master-writer

updated
  tsconfig.base.json.bak
  yarn.lock
Due: master-writer
