Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["prettier --ignore-unknown --write"]
}

docs version dropdown should not display a version that is not in the provided config
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Due: eslint --fix, prettier --ignore-unknown --write

simpler impl for useDisplayedVersionItem
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Due: eslint --fix, prettier --ignore-unknown --write

feat(theme): add `versions` attribute to `docsVersionDropdown` navbar item (#10852)
  packages/docusaurus-theme-classic/src/__tests__/options.test.ts
  packages/docusaurus-theme-classic/src/options.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  website/docs/api/themes/theme-configuration.mdx
  website/docs/guides/docs/versioning.mdx
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme): Hide code block buttons before React hydration (#10866)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme-translations): Add missing Polish (pl) theme translations
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
Due: prettier --ignore-unknown --write

fix(theme-translations): Add missing Polish (pl) theme translations (#10884)
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
Due: prettier --ignore-unknown --write

add unit test
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
Due: eslint --fix, prettier --ignore-unknown --write

minor refactor
  packages/docusaurus-plugin-content-docs/src/cli.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(docs): versioning CLI should copy localized translation file `current.json` to `version-<v>.json` (#10875)
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/simple-site/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/versions/files.ts
Due: eslint --fix, prettier --ignore-unknown --write

improve DocCardList CSS
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocCard/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCardList/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCardList/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/Paginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

improve DocCardList CSS
  packages/docusaurus-theme-classic/src/theme/DocCardList/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme): fix `<DocCard>` height inconsistency (#10849)
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocCardList/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCardList/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/Paginator/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

Use SVG sprite for IconExternalLink
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/inlineSvgSprites.ts
  packages/docusaurus-theme-classic/src/theme/Icon/ExternalLink/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

use <defs>
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/inlineSvgSprites.ts
Due: eslint --fix, prettier --ignore-unknown --write

perf(theme): use SVG sprite for IconExternalLink (#10885)
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/inlineSvgSprites.ts
  packages/docusaurus-theme-classic/src/theme/Icon/ExternalLink/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

change doc sidebar category collapsible on label click behavior
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

remove useless CollapsedStyles getSSRStyle thing
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/components/Details/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

feat: migrate breadcrumbs structured data to json-ld
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/StructuredData/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Add files via upload
  index.php
Due: prettier --ignore-unknown --write

docs: fix grammar for installation docs
  website/docs/installation.mdx
Due: prettier --ignore-unknown --write

Add files via upload
  README.md
  blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  blog/2021-08-26-welcome/index.md
  blog/authors.yml
  blog/tags.yml
  docusaurus.config.js
  package-lock.json
  package.json
  sandbox.config.json
  sidebars.js
  src/CardingGuidesButton.js
  src/components/CardingGuidesButton.module.css
  src/components/HomepageFeatures/Anime.js
  src/components/HomepageFeatures/Modal.js
  src/components/HomepageFeatures/index.js
  src/components/HomepageFeatures/modal.module.css
  src/components/HomepageFeatures/styles.module.css
  src/css/custom.css
  src/pages/index.js
  src/pages/index.module.css
  src/pages/markdown-page.md
  static/img/docusaurus-social-card.jpg
  static/img/docusaurus.png
  static/img/favicon.ico
  static/img/logo.svg
  static/img/undraw_docusaurus_mountain.svg
  static/img/undraw_docusaurus_react.svg
  static/img/undraw_docusaurus_tree.svg
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

Add files via upload
  data/telegram_auth.php
  docs/Carding-Methods/➡️ Direct Access Targets/➡️ Direct Access Targets.md
  docs/Carding-Methods/🎁💳 EGift Cards/🎁💳 EGift Cards.md
  docs/Carding-Methods/🎰 Gambling/🎰 Gambling.md
  docs/Carding-Methods/🏠 AVS Enforced Sites/🏠 AVS Enforced Sites.md
  docs/Carding-Methods/🏦 AN RN Accepted/🏦 AN RN Accepted.md
  docs/Carding-Methods/🏦 Bank Specific Guides/🏦 Bank Specific Guides.md
  docs/Carding-Methods/👨‍🏭 Net-30 Sites/👨‍🏭 Net-30 Sites.md
  docs/Carding-Methods/👻 Builds/👻 Builds.md
  docs/Carding-Methods/💳 PM On File Targets/💳 PM On File Targets.md
  docs/Carding-Methods/🔗 Link and Smack/🔗 Link and Smack.md
  docs/Carding-Methods/🔰 Email Access Targets/🔰 Email Access Targets.md
  docs/Phone-Banking-Systems/Capital One.md
  docs/Phone-Banking-Systems/Chase.md
  docs/Phone-Banking-Systems/Citi Bank.md
  docs/Phone-Banking-Systems/Heritage Bank
  docs/Phone-Banking-Systems/Wellsfargo.md
  docs/Phone-Banking-Systems/capitalOnePhoneBanking,js
  docs/membership/basic
  docs/tutorial-basics/Bullet Software.md
  docs/tutorial-basics/Inbox Requests.md
  docs/tutorial-basics/Membership Bot Features.md
  docs/tutorial-basics/Request Logs.md
  docs/tutorial-basics/Request ULP.md
  docs/tutorial-basics/bank-check.md
  docs/tutorial-basics/intro.md
  docs/tutorial-extras/_category_.json
Due: prettier --ignore-unknown --write

Provide `toString()` in image objects created by lqip-loader
  packages/lqip-loader/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Suggest `remark-cjk-friendly` in migration guide
  website/docs/migration/v3.mdx
  website/versioned_docs/version-3.7.0/migration/v3.mdx
Due: prettier --ignore-unknown --write

upd: Turkish exist language translate completed.
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
Due: prettier --ignore-unknown --write

Clarify how to enable math equations
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
Due: prettier --ignore-unknown --write

Update website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
Due: prettier --ignore-unknown --write

docs: fix grammar for installation docs (#10889)
  website/docs/installation.mdx
Due: prettier --ignore-unknown --write

docs: Clarify how to enable math equations (#10894)
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
Due: prettier --ignore-unknown --write

docs: Suggest `remark-cjk-friendly` in migration guide (#10892)
  website/docs/migration/v3.mdx
  website/versioned_docs/version-3.7.0/migration/v3.mdx
Due: prettier --ignore-unknown --write
