Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

remove removeAvailableModules
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write

perf(core): remove bundler `optimization.removeAvailableModules` (#11072)
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write

upgrade Rspack
  packages/docusaurus-faster/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore: upgrade Rspack 1.3.3 (#11073)
  packages/docusaurus-faster/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix tinyglobby integration
  packages/docusaurus-utils/src/globUtils.ts
  packages/docusaurus/src/commands/swizzle/actions.ts
  packages/docusaurus/src/webpack/aliases/index.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

fix lint:spelling:fix
  package.json
  project-words.txt
Due: prettier --ignore-unknown --write

fix lint:spelling:fix
  project-words.txt
Due: prettier --ignore-unknown --write

fix(c): fix `yarn lint:spelling:fix` script (#11075)
  package.json
  project-words.txt
Due: prettier --ignore-unknown --write

spelling
  project-words.txt
Due: prettier --ignore-unknown --write

simplify LiveCodeBlock entrypoint
  packages/docusaurus-mdx-loader/src/remark/mdx1Compat/codeCompatPlugin.ts
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/LiveCodeBlock/index.tsx
  packages/docusaurus-theme-live-codeblock/src/types.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore(deps): upgrade cspell
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

feat(docusaurus-types): Add UnusedDirective: 'throw' for markdown
  examples/classic/docusaurus.config.js
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add word
  project-words.txt
Due: prettier --ignore-unknown --write

chore(deps): upgrade cspell (#11078)
  package.json
  project-words.txt
  yarn.lock
Due: prettier --ignore-unknown --write

Update markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Due: prettier --ignore-unknown --write

stable live code block refactor
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Editor/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Editor/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Header/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Header/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Preview/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Preview/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

fix header
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Editor/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Extract container and provider
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Container/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Container/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Layout/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Provider/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

refactor(live-codeblock): refactor live code block theme components (#11077)
  packages/docusaurus-mdx-loader/src/remark/mdx1Compat/codeCompatPlugin.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/LiveCodeBlock/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Container/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Container/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Editor/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Editor/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Header/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Header/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Layout/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Preview/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Preview/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Provider/index.tsx
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/index.tsx
  packages/docusaurus-theme-live-codeblock/src/types.d.ts
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

Add MDX sourcemaps support
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-mdx-loader/src/processor.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor: apply lint autofix
  project-words.txt
Due: prettier --ignore-unknown --write

minor docs fix
  website/docs/blog.mdx
Due: prettier --ignore-unknown --write

docs: remove ref to Docusaurus v2 (#11084)
  project-words.txt
  website/docs/blog.mdx
Due: prettier --ignore-unknown --write

add rel="tag"
  packages/docusaurus-theme-classic/src/theme/Tag/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme): add missing `rel="tag"` attribute for docs/blog tags (#11085)
  packages/docusaurus-theme-classic/src/theme/Tag/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

add pr: translations label
  lerna.json
Due: prettier --ignore-unknown --write

chore: add `pr: translations` GitHub + lerna changelog label (#11087)
  lerna.json
Due: prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
