Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

webpack aliases shouldn't be created for test files and typedefs
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.d.ts
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.test.js
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.test.jsx
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.test.ts
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.test.tsx
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/__tests__/index.js
  packages/docusaurus/src/webpack/aliases/index.ts
Due: eslint --fix, master-writer

fix(core): webpack aliases shouldn't be created for test files and typedefs (#11604)
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.d.ts
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.test.js
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.test.jsx
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.test.ts
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/SiblingNavbarItem.test.tsx
  packages/docusaurus/src/webpack/aliases/__tests__/__fixtures__/theme-2/NavbarItem/__tests__/index.js
  packages/docusaurus/src/webpack/aliases/index.ts
Due: eslint --fix, master-writer

fix(eslint-plugin): specify exact type of `no-untranslated-text` rule options (#11587)
  packages/eslint-plugin/src/rules/no-untranslated-text.ts
Due: eslint --fix, master-writer

fix(a11y): add Space key support for navbar dropdowns (#11513)
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/Desktop/index.tsx
Due: eslint --fix, master-writer

try upgrade
  packages/docusaurus-utils/package.json
  yarn.lock
Due: master-writer

lockfile
  yarn.lock
Due: master-writer

log component names to swizzle
  website/_dogfooding/testSwizzleThemeClassic.mjs
Due: eslint --fix, master-writer

try to ignore tests on windows?
  packages/docusaurus/src/commands/swizzle/actions.ts
Due: eslint --fix, master-writer

Fix comment formatting in users.tsx
  website/src/data/users.tsx
Due: eslint --fix, master-writer

feat(create-docusaurus): enable creation in current directory
  packages/create-docusaurus/src/index.ts
Due: eslint --fix, master-writer

fix(docs): prioritize category href over links in sidebar breadcrumb search
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/docsUtils.tsx
Due: eslint --fix, master-writer

Change primary color variable in custom.css
  packages/create-docusaurus/templates/shared/src/css/custom.css
Due: stylelint --allow-empty-input --fix, master-writer

Add EdgeOne Pages deployment section
  website/docs/deployment.mdx
Due: master-writer

Upgrade GitHub Actions to latest versions
  .github/workflows/build-hash-router.yml
Due: master-writer

chore: Upgrade GitHub Actions to latest versions (#11622)
  .github/workflows/build-hash-router.yml
Due: master-writer

Upgrade GitHub Actions for Node 24 compatibility
  .github/workflows/build-hash-router.yml
  .github/workflows/lint-autofix.yml
  .github/workflows/tests-e2e.yml
Due: master-writer

Add expose-markdown-docusaurus-plugin resource
  website/community/2-resources.mdx
Due: master-writer

chore: Upgrade GitHub Actions for Node 24 compatibility (#11621)
  .github/workflows/build-hash-router.yml
  .github/workflows/lint-autofix.yml
  .github/workflows/tests-e2e.yml
Due: master-writer

docs: Add expose-markdown-docusaurus-plugin resource (#11623)
  website/community/2-resources.mdx
Due: master-writer

simplify and remove useless comments
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/docsUtils.tsx
Due: eslint --fix, master-writer

reduce comment
  packages/docusaurus-plugin-content-docs/src/client/docsUtils.tsx
Due: eslint --fix, master-writer

getSidebarBreadcrumbs should only return doc links, not link items that do not create any page
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/docsUtils.tsx
Due: eslint --fix, master-writer

feat(create-docusaurus): enable creation in current directory (#11611)
  packages/create-docusaurus/src/index.ts
Due: eslint --fix, master-writer

fix(docs): breadcrumb APIs only return category/docs items, ignoring links (#11616)
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-plugin-content-docs/src/client/docsUtils.tsx
Due: eslint --fix, master-writer

Update .github/workflows/build-perf.yml
  .github/workflows/build-perf.yml
Due: master-writer

pin all github actions
  .github/workflows/build-hash-router.yml
  .github/workflows/lint-autofix.yml
Due: master-writer

try to fix tinyglobby swizzle CI bug?
  packages/docusaurus/src/commands/swizzle/actions.ts
Due: eslint --fix, master-writer

remove useless log
  packages/docusaurus/src/commands/swizzle/actions.ts
Due: eslint --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
