Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

move ignoreDeprecations 6.0 from base config to ts template config
  packages/create-docusaurus/templates/classic-typescript/tsconfig.json
  packages/docusaurus-tsconfig/tsconfig.json
Due: master-writer

fix ignoreDeprecations usage
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: master-writer

Revert "fix ignoreDeprecations usage"
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: master-writer

Reapply "fix ignoreDeprecations usage"
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: master-writer

fix ignoreDeprecations usage
  website/tsconfig.json
Due: master-writer

CI fix
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: master-writer

CI fix
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: master-writer

CI fix
  .github/workflows/tests-windows.yml
Due: master-writer

fix(create-docusaurus): fix support for TypeScript 6.0 + fix our CI (#11843)
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic-typescript/tsconfig.json
  packages/docusaurus-logger/src/perfLogger.ts
  packages/docusaurus-plugin-content-blog/tsconfig.client.json
  packages/docusaurus-plugin-content-blog/tsconfig.json
  packages/docusaurus-plugin-content-docs/tsconfig.client.json
  packages/docusaurus-plugin-content-docs/tsconfig.json
  packages/docusaurus-plugin-google-gtag/tsconfig.client.json
  packages/docusaurus-plugin-pwa/tsconfig.worker.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/clientEntry.tsx
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/tsconfig.client.json
  tsconfig.base.client.json
  tsconfig.base.json
  website/tsconfig.json
  yarn.lock
Due: eslint --fix, master-writer

fix(faster): upgrade Rspack, fix Yarn PnP support (#11817)
  packages/docusaurus-faster/package.json
  packages/docusaurus/src/server/configValidation.ts
  yarn.lock
Due: eslint --fix, master-writer

fix url.resolve() deprecation warning
  packages/docusaurus/package.json
  yarn.lock
Due: master-writer

Upgrade to Algolia v4.6
  yarn.lock
Due: master-writer

disable comments compat on our site
  website/_dogfooding/_docs tests/tests/links/test-markdown-links.mdx
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

fix(core): fix `url.resolve()` Node.js deprecation warning (#11844)
  packages/docusaurus/package.json
  yarn.lock
Due: master-writer

chore(website): Upgrade to Algolia v4.6 (#11845)
  yarn.lock
Due: master-writer

chore(website): disable `mdx1Compat.comments` on our site (#11846)
  website/_dogfooding/_docs tests/tests/links/test-markdown-links.mdx
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

disable mdx1Compat.admonitions
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

chore(plugin-sitemap): Update sitemap package.
  packages/docusaurus-plugin-sitemap/package.json
  yarn.lock
Due: master-writer

feat(eslint-plugin): add no-window-eq-undefined rule implementation
  packages/eslint-plugin/src/rules/no-window-eq-undefined.ts
Due: eslint --fix, master-writer

test(eslint-plugin): add tests for no-window-eq-undefined rule
  packages/eslint-plugin/src/rules/__tests__/no-window-eq-undefined.test.ts
Due: eslint --fix, master-writer

docs(eslint-plugin): add no-window-eq-undefined rule documentation
  website/docs/api/misc/eslint-plugin/no-window-eq-undefined.mdx
Due: master-writer

docs(eslint-plugin): add no-window-eq-undefined to rules table
  website/docs/api/misc/eslint-plugin/README.mdx
Due: master-writer

chore: migrate from Stylelint to Gale for 10-100x faster CSS linting
  .stylelintrc.js
  package.json
Due: eslint --fix, master-writer

fix html minifier error?
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
Due: master-writer

fix(theme-classic): make code block action buttons fully visible
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

fix(blog): honor trailingSlash in structured data URLs
  packages/docusaurus-plugin-content-blog/src/client/structuredDataUtils.ts
Due: eslint --fix, master-writer

docs(plugin-pwa): document environment-specific manifests
  website/docs/api/plugins/plugin-pwa.mdx
Due: master-writer

fix(theme-classic): constrain navbar on large displays
  packages/docusaurus-theme-classic/src/theme/Navbar/Layout/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

fix(a11y): remove superfluous skip-link region landmark
  packages/docusaurus-theme-common/src/utils/skipToContentUtils.tsx
Due: eslint --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
