Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

refactor: reduce file size of docusaurus.svg (#10806)
  website/static/img/docusaurus.svg
  website/static/img/docusaurus_keytar.svg
  website/static/img/docusaurus_speed.svg
Due: prettier --ignore-unknown --write

Rspack 1.2 alpha
  packages/docusaurus-faster/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

feat(core): Turn Rspack incremental on by default (again) (#10800)
  packages/docusaurus-faster/package.json
  packages/docusaurus/src/webpack/base.ts
  project-words.txt
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

changelog
  CHANGELOG.md
Due: prettier --ignore-unknown --write

refactor: apply lint autofix
  project-words.txt
Due: prettier --ignore-unknown --write

blog
  website/blog/releases/3.7/img/social-card.png
  website/blog/releases/3.7/index.mdx
Due: prettier --ignore-unknown --write

update examples
  examples/classic-typescript/package.json
  examples/classic-typescript/src/components/HomepageFeatures/index.tsx
  examples/classic-typescript/src/pages/index.tsx
  examples/classic-typescript/tsconfig.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

chore: update examples for v3.7.0 (#10814)
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore: update examples for v3.7.0 (#10814)
  examples/classic-typescript/package.json
  examples/classic-typescript/src/components/HomepageFeatures/index.tsx
  examples/classic-typescript/src/pages/index.tsx
  examples/classic-typescript/tsconfig.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme-translation): add missing zh-Hant theme translations
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Due: prettier --ignore-unknown --write

fix(theme-translation): add missing zh-Hans theme translations
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
Due: prettier --ignore-unknown --write

chore(theme-translations): add missing zh theme translations (#10816)
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Due: prettier --ignore-unknown --write

fix perflogger mark detail bug
  packages/docusaurus-logger/src/perfLogger.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: perflogger mark detail bug (#10818)
  packages/docusaurus-logger/src/perfLogger.ts
Due: eslint --fix, prettier --ignore-unknown --write

upgrade react-json-view-lite
  packages/docusaurus-plugin-debug/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Fix Infima ul style affecting json view
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

chore(plugin-debug): upgrade react-json-view-lite to v2, prepare for React 19 (#10819)
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugJsonView/styles.module.css
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

Add dogfood test for SVG file-loader from CSS file
  website/_dogfooding/dogfooding.css
  website/_dogfooding/red.svg
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

restore core svg file-loader
  packages/docusaurus-plugin-svgr/src/index.ts
  packages/docusaurus-plugin-svgr/src/svgrLoader.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix configureWebpack type
  packages/docusaurus-plugin-svgr/src/index.ts
  packages/docusaurus-types/src/plugin.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

comment
  packages/docusaurus-utils/src/webpackUtils.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(core): restore core svg file-loader (#10820)
  packages/docusaurus-plugin-svgr/src/index.ts
  packages/docusaurus-plugin-svgr/src/svgrLoader.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/webpack/base.ts
  project-words.txt
  website/_dogfooding/dogfooding.css
  website/_dogfooding/red.svg
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

temporary remove helmet
  packages/docusaurus-plugin-sitemap/src/head.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/ssg/ssgTemplate.ts
  website/docusaurus.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

temporary remove helmet
  packages/docusaurus/src/client/serverEntry.tsx
Due: eslint --fix, prettier --ignore-unknown --write

docs: insert comparation for rspress
  website/docs/introduction.mdx
Due: prettier --ignore-unknown --write

Update theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
Due: prettier --ignore-unknown --write

SSG thread pool
  packages/docusaurus/package.json
  packages/docusaurus/src/ssg/ssg.ts
  packages/docusaurus/src/ssg/ssgExecutor.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
