Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

support passing ids and additional attributes
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/index.tsx
  website/_dogfooding/_docs tests/tests/admonitions.mdx
  website/_dogfooding/dogfooding.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

add missing css rule
  website/_dogfooding/_docs tests/tests/admonitions.mdx
Due: master-writer

add docs
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
Due: master-writer

use h5 heading when an id is provided
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Revert "use h5 heading when an id is provided"
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

rm codeblock
  website/_dogfooding/_docs tests/tests/admonitions.mdx
Due: master-writer

ignore arbitrary attributes from admonitions
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__fixtures__/attributes.md
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
Due: eslint --fix, master-writer

update docs
  website/_dogfooding/_docs tests/tests/admonitions.mdx
  website/_dogfooding/dogfooding.css
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
Due: stylelint --allow-empty-input --fix, master-writer

pass id explicit
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/index.tsx
Due: eslint --fix, master-writer

update docs example
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
Due: master-writer

fix broken links
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
Due: master-writer

feat(mdx-loader): add admonitions directive support for class/id shortcuts (#11642)
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__fixtures__/attributes.md
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/admonitions/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Admonition/Layout/index.tsx
  website/_dogfooding/_docs tests/tests/admonitions.mdx
  website/_dogfooding/dogfooding.css
  website/docs/guides/markdown-features/markdown-features-admonitions.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Fix some typos
  website/docs/migration/v3.mdx
Due: master-writer

fix(create-docusaurus): avoid stdin race condition on Windows
  packages/create-docusaurus/src/index.ts
Due: eslint --fix, master-writer

refactor(create-docusaurus): replace lodash with native implementation
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-utils/src/__tests__/jsUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/jsUtils.ts
Due: eslint --fix, master-writer

docs: Fix some typos on the Upgrading to Docusaurus v3 page (#11649)
  website/docs/migration/v3.mdx
Due: master-writer

docs: document Vercel deep clone requirement for last update time
  website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/api/plugins/plugin-content-docs.mdx
  website/docs/api/plugins/plugin-content-pages.mdx
Due: master-writer

fix(codeblock): apply magic comments after Prism
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Due: eslint --fix, master-writer

refactor: made package esm
  packages/docusaurus-plugin-pwa/package.json
Due: master-writer

fix: fixed compilation errors
  packages/docusaurus-plugin-pwa/src/index.ts
Due: eslint --fix, master-writer

chore(netlify): stabilize deploy preview build
  website/netlify.toml
Due: master-writer

Update Docusaurus config for BizGigz site
  packages/create-docusaurus/templates/classic-typescript/docusaurus.config.ts
Due: eslint --fix, master-writer

propagate `props.style` into IdealImage
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
Due: eslint --fix, master-writer

add test of IdealImage property propagation in pages
  website/_dogfooding/_pages tests/ideal-image.module.css
  website/_dogfooding/_pages tests/ideal-image.tsx
  website/_dogfooding/_pages tests/img/oss_logo.png
  website/_dogfooding/_pages tests/index.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

docs: add NGINX deployment guide
  website/docs/deployment/nginx.md
Due: master-writer

Update docs-introduction.mdx
  website/docs/guides/docs/docs-introduction.mdx
Due: master-writer

fix(content-pages): resolve MDX index page permalinks
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  website/src/pages/install-root.mdx
  website/src/pages/install/index.mdx
Due: eslint --fix, master-writer

Update docusaurus.config.js.mdx
  website/docs/api/docusaurus.config.js.mdx
Due: master-writer

docs(api): note text fix in docusaurus.config.js.mdx (#11663)
  website/docs/api/docusaurus.config.js.mdx
Due: master-writer

Update packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
Due: eslint --fix, master-writer

Update website/_dogfooding/_pages tests/ideal-image.tsx
  website/_dogfooding/_pages tests/ideal-image.tsx
Due: eslint --fix, master-writer

remove useless file
  website/_dogfooding/_pages tests/ideal-image.module.css
Due: stylelint --allow-empty-input --fix, master-writer

feat(website): add recent blogs section to homepage
  website/docusaurus.config.ts
  website/src/components/RecentBlogs/index.tsx
  website/src/components/RecentBlogs/styles.module.css
  website/src/pages/index.tsx
  website/src/plugins/recentBlogs/index.ts
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(ideal-image): `<IdealImage>` should forward remaining props to the underlying component (#11659)
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
  website/_dogfooding/_pages tests/ideal-image.tsx
  website/_dogfooding/_pages tests/img/oss_logo.png
  website/_dogfooding/_pages tests/index.mdx
Due: eslint --fix, master-writer

feat(pages): add support for Markdown file path links
  packages/docusaurus-plugin-content-pages/src/contentHelpers.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
Due: eslint --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
