Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(ai): improve/shorten/fix AGENTS.md, add CLAUDE.md (#12409)
  AGENTS.md
  CLAUDE.md
Due: master-writer

Upgrade webpack-dev-server + use rspack dev server
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/index.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/start/webpack.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

Update 2-docs: add docusaurus-plugin-deskcrew to community resources.mdx
  website/community/2-resources.mdx
Due: master-writer

feat: use Rspack dev server + upgrade webpack-dev-server to v6 (#12410)
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/index.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/start/webpack.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

add webpack-dev-middleware@7.4.6 to supply chain security trust downgrade exceptions
  .github/workflows/security-supply-chain.yml
Due: master-writer

chore: add webpack-dev-middleware@7.4.6 to supply chain security trust downgrade exceptions (#12412)
  .github/workflows/security-supply-chain.yml
Due: master-writer

fix(theme-search-algolia): fix CI lint failures
  package.json
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-theme-translations/locales/__tests__/locales.test.ts
  project-words.txt
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

Upgrade to Chokidar v5
  admin/scripts/copyUntypedFiles.js
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/start/watcher.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

POC code
  packages/docusaurus/src/commands/start/start.ts
  packages/docusaurus/src/commands/start/watcher.ts
Due: eslint --fix, master-writer

docs: update reference web index and resources
  README.md
Due: master-writer

chore(v3): pin patched serialize-javascript
  package.json
  yarn.lock
Due: master-writer

fix Showcase image bug
  website/src/data/users.tsx
  website/src/pages/showcase/_components/ShowcaseCard/index.tsx
Due: eslint --fix, master-writer

fix(website): fix website Showcase image bug (#12423)
  website/src/data/users.tsx
  website/src/pages/showcase/_components/ShowcaseCard/index.tsx
Due: eslint --fix, master-writer

fix breaking changes
  packages/docusaurus/src/server/htmlTags.ts
Due: eslint --fix, master-writer

fix breaking changes of css-loader v7 to preserve retrocompatible class names in css modules
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/loaders/styleLoader.ts
  packages/docusaurus-theme-common/src/components/ThemedComponent/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, master-writer

unused ThemedImage file, not imported
  packages/docusaurus-theme-classic/src/theme/ThemedImage/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

fix impl
  packages/docusaurus-bundler/src/loaders/styleLoader.ts
  packages/docusaurus-theme-common/src/components/ThemedComponent/index.tsx
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, master-writer

chore(bundler): upgrade css-loader v7, preserve retrocompatible class names (#12424)
  packages/docusaurus-bundler/package.json
  packages/docusaurus-theme-classic/src/theme/ThemedImage/styles.module.css
  packages/docusaurus/src/webpack/base.ts
  pnpm-lock.yaml
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

upgrade Crowdin CLI
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/docs/i18n/i18n-crowdin.mdx
  website/package.json
Due: master-writer

chore: upgrade Crowdin CLI (#12425)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/docs/i18n/i18n-crowdin.mdx
  website/package.json
Due: master-writer

fix(core): recognize arbitrary HTML anchors in broken anchor checker (AI-assisted)
  packages/docusaurus/src/client/__tests__/extractHtmlAnchors.test.ts
  packages/docusaurus/src/client/extractHtmlAnchors.ts
  packages/docusaurus/src/client/serverEntry.tsx
  website/docs/api/docusaurus.config.js.mdx
Due: eslint --fix, master-writer

feat(core): resolve Markdown file links across plugins (AI-assisted)
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-mdx-loader/src/remark/resolveMarkdownLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/resolveMarkdownLinks/index.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-types/src/context.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/siteMarkdownLinks.test.ts
  packages/docusaurus/src/server/site.ts
  packages/docusaurus/src/server/siteMarkdownLinks.ts
  website/_dogfooding/_blog tests/2025-01-01-cross-plugin-links.mdx
  website/_dogfooding/_docs tests/tests/links/test-markdown-links.mdx
  website/_dogfooding/_pages tests/linking/index.md
  website/docs/guides/markdown-features/markdown-features-links.mdx
Due: eslint --fix, master-writer

Upgrade React dependencies to 19.3.0
  AGENTS.md
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-tag-manager/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-rsdoctor/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-plugin-svgr/package.json
  packages/docusaurus-plugin-vercel-analytics/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/package.json
Due: master-writer

add instructions for local e2e tests
  packages/create-docusaurus/README.md
Due: master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
