Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(module-type-aliases): explicitly reference Node types for site client code (AI-assisted)
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-pwa/tsconfig.client.json
  packages/docusaurus-theme-classic/tsconfig.client.json
Due: eslint --fix, master-writer

chore(deps): upgrade syncpack to v15 (AI-assisted)
  .syncpackrc.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, master-writer

chore(deps): upgrade syncpack to v15 (AI-assisted) (#12485)
  .syncpackrc.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, master-writer

docs(module-type-aliases): clarify why Node types are referenced (AI-assisted)
  packages/docusaurus-module-type-aliases/src/index.d.ts
Due: eslint --fix, master-writer

refactor(theme): add eslint-plugin-react-you-might-not-need-an-effect and remove unnecessary effects (AI-assisted)
  eslint.config.ts
  package.json
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/Mobile/index.tsx
  packages/docusaurus-theme-common/src/hooks/useWindowSize.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

fix(create-docusaurus)!: explicitly declare Node.js types in TypeScript init template (AI-assisted)
  .syncpackrc.ts
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic-typescript/tsconfig.json
  pnpm-lock.yaml
  website/docs/typescript-support.mdx
  website/package.json
  website/tsconfig.json
Due: eslint --fix, master-writer

chore(deps): upgrade @testing-library/jest-dom to v7 (AI-assisted)
  package.json
  pnpm-lock.yaml
Due: master-writer

docs: remove unnecessary Node.js types admonition (AI-assisted)
  website/docs/typescript-support.mdx
Due: master-writer

refactor(create-docusaurus): use ESM imports for init template SVGs, upgrade @types/node to v26 (AI-assisted)
  .syncpackrc.ts
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic-typescript/src/components/HomepageFeatures/index.tsx
  packages/create-docusaurus/templates/classic/src/components/HomepageFeatures/index.js
  pnpm-lock.yaml
  website/package.json
Due: eslint --fix, master-writer

chore(deps): upgrade @testing-library/jest-dom to v7 (AI-assisted) (#12489)
  package.json
  pnpm-lock.yaml
Due: master-writer

chore(create-docusaurus): simplify TS init template tsconfig comment (AI-assisted)
  packages/create-docusaurus/templates/classic-typescript/tsconfig.json
Due: master-writer

chore: dedupe lockfile after merging main (AI-assisted)
  pnpm-lock.yaml
Due: master-writer

break(typescript)!: explicitly declare Node.js types in TypeScript init template (AI-assisted) (#12487)
  package.json
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic-typescript/src/components/HomepageFeatures/index.tsx
  packages/create-docusaurus/templates/classic-typescript/tsconfig.json
  packages/create-docusaurus/templates/classic/src/components/HomepageFeatures/index.js
  pnpm-lock.yaml
  website/docs/typescript-support.mdx
  website/package.json
  website/tsconfig.json
Due: eslint --fix, master-writer

refactor: declare Node types in client tsconfigs instead of module-type-aliases (AI-assisted)
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-pwa/tsconfig.client.json
  packages/docusaurus-theme-classic/tsconfig.client.json
Due: eslint --fix, master-writer

refactor(theme): add eslint-plugin-react-you-might-not-need-an-effect and remove unnecessary effects (AI-assisted) (#12486)
  eslint.config.ts
  package.json
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/Mobile/index.tsx
  packages/docusaurus-theme-common/src/hooks/useWindowSize.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

refactor(mdx-loader): keep createProcessor() pipeline untouched without remark-mdx options (AI-assisted)
  packages/docusaurus-mdx-loader/src/__tests__/processor.test.ts
  packages/docusaurus-mdx-loader/src/processor.ts
Due: eslint --fix, master-writer

refactor(mdx-loader): allow passing remark-mdx options (AI-assisted)
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/__tests__/__snapshots__/processor.test.ts.snap
  packages/docusaurus-mdx-loader/src/__tests__/processor.test.ts
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

feat(mdx-loader): parse MDX with ES2025 syntax (AI-assisted)
  packages/docusaurus-mdx-loader/src/__tests__/__snapshots__/processor.test.ts.snap
  packages/docusaurus-mdx-loader/src/__tests__/processor.test.ts
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  website/_dogfooding/_pages tests/import-attributes-tests.mdx
  website/_dogfooding/_pages tests/index.mdx
Due: eslint --fix, master-writer

test(website): merge import attributes dogfood tests into a single MDX page rendering JSX/TSX tests (AI-assisted)
  website/_dogfooding/_pages tests/import-attributes/_JsxTests.jsx
  website/_dogfooding/_pages tests/import-attributes/_TsxTests.tsx
  website/_dogfooding/_pages tests/import-attributes/index.mdx
  website/_dogfooding/_pages tests/import-attributes/tsx.tsx
  website/_dogfooding/_pages tests/index.mdx
Due: eslint --fix, master-writer

feat(core): support importing files as raw text with import attributes (AI-assisted)
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus/src/webpack/__tests__/configure.test.ts
  packages/docusaurus/src/webpack/configure.ts
  website/_dogfooding/_pages tests/import-attributes-tests.mdx
  website/_dogfooding/_pages tests/import-attributes/_TextImportTest.tsx
  website/_dogfooding/_pages tests/import-attributes/_fixtures/css-fixture.css
  website/_dogfooding/_pages tests/import-attributes/_fixtures/css-module-fixture.module.css
  website/_dogfooding/_pages tests/import-attributes/_fixtures/js-fixture.js
  website/_dogfooding/_pages tests/import-attributes/_fixtures/json-fixture.json
  website/_dogfooding/_pages tests/import-attributes/_fixtures/md-fixture.md
  website/_dogfooding/_pages tests/import-attributes/_fixtures/mdx-fixture.mdx
  website/_dogfooding/_pages tests/import-attributes/_fixtures/svg-fixture.svg
  website/_dogfooding/_pages tests/import-attributes/_fixtures/ts-fixture.ts
  website/_dogfooding/_pages tests/import-attributes/_fixtures/tsx-fixture.tsx
  website/_dogfooding/_pages tests/import-attributes/_fixtures/txt-fixture.txt
  website/_dogfooding/_pages tests/import-attributes/_fixtures/yaml-fixture.yaml
  website/_dogfooding/_pages tests/import-attributes/index.mdx
  website/_dogfooding/_pages tests/import-attributes/tsx.tsx
  website/_dogfooding/_pages tests/index.mdx
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
  website/docs/guides/docs/sidebar/index.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/styling-layout.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

refactor: apply lint autofix
  website/_dogfooding/_pages tests/import-attributes/_JsxTests.jsx
Due: eslint --fix, master-writer

refactor(core): exclude text import attributes explicitly in each Docusaurus rule instead of all rules (AI-assisted)
  packages/docusaurus-mdx-loader/src/createMDXLoader.ts
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-svgr/src/svgrLoader.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/configure.test.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/configure.ts
  website/docs/guides/markdown-features/markdown-features-react.mdx
Due: eslint --fix, master-writer

refactor(core): address review, share text import exclusion as local variables (AI-assisted)
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-mdx-loader/src/createMDXLoader.ts
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-svgr/src/svgrLoader.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, master-writer

docs: remove text import attributes notes (AI-assisted)
  website/docs/guides/markdown-features/markdown-features-react.mdx
Due: master-writer

test(glob): add FS watch tests for all watch() path patterns used by core and ecosystem (AI-assisted)
  packages/docusaurus-glob/README.md
  packages/docusaurus-glob/src/__tests__/watchUtils.test.ts
  project-words.txt
Due: eslint --fix, master-writer

docs: remove nonexistent postStart plugin lifecycle from plugin-methods docs
  website/docs/api/plugin-methods/README.mdx
Due: master-writer

test(glob): retry flaky watch tests on Windows (AI-assisted)
  packages/docusaurus-glob/src/__tests__/watchUtils.test.ts
Due: eslint --fix, master-writer

refactor(mdx-loader): allow passing remark-mdx options (AI-assisted) (#12484)
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/__tests__/__snapshots__/processor.test.ts.snap
  packages/docusaurus-mdx-loader/src/__tests__/processor.test.ts
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

feat(mdx-loader): parse MDX with ES2025 syntax (AI-assisted) (#12488)
  packages/docusaurus-mdx-loader/src/__tests__/__snapshots__/processor.test.ts.snap
  packages/docusaurus-mdx-loader/src/__tests__/processor.test.ts
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  website/_dogfooding/_pages tests/import-attributes-tests.mdx
  website/_dogfooding/_pages tests/index.mdx
Due: eslint --fix, master-writer

feat(core): support importing files as raw text with import attributes (AI-assisted) (#12491)
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-mdx-loader/src/createMDXLoader.ts
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/docusaurus-plugin-svgr/src/svgrLoader.ts
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/base.ts
  website/_dogfooding/_pages tests/import-attributes-tests.mdx
  website/_dogfooding/_pages tests/import-attributes/_JsxTests.jsx
  website/_dogfooding/_pages tests/import-attributes/_TextImportTest.tsx
  website/_dogfooding/_pages tests/import-attributes/_TsxTests.tsx
  website/_dogfooding/_pages tests/import-attributes/_fixtures/css-fixture.css
  website/_dogfooding/_pages tests/import-attributes/_fixtures/css-module-fixture.module.css
  website/_dogfooding/_pages tests/import-attributes/_fixtures/js-fixture.js
  website/_dogfooding/_pages tests/import-attributes/_fixtures/json-fixture.json
  website/_dogfooding/_pages tests/import-attributes/_fixtures/md-fixture.md
  website/_dogfooding/_pages tests/import-attributes/_fixtures/mdx-fixture.mdx
  website/_dogfooding/_pages tests/import-attributes/_fixtures/svg-fixture.svg
  website/_dogfooding/_pages tests/import-attributes/_fixtures/ts-fixture.ts
  website/_dogfooding/_pages tests/import-attributes/_fixtures/tsx-fixture.tsx
  website/_dogfooding/_pages tests/import-attributes/_fixtures/txt-fixture.txt
  website/_dogfooding/_pages tests/import-attributes/_fixtures/yaml-fixture.yaml
  website/_dogfooding/_pages tests/import-attributes/index.mdx
  website/_dogfooding/_pages tests/index.mdx
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
  website/docs/guides/docs/sidebar/index.mdx
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/styling-layout.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

test(glob): address review, hardcode watch() ignoreInitial, test remove/rename operations (AI-assisted)
  packages/docusaurus-glob/README.md
  packages/docusaurus-glob/src/__tests__/watchTestUtils.ts
  packages/docusaurus-glob/src/__tests__/watchUtils.test.ts
  packages/docusaurus-glob/src/watchUtils.ts
  packages/docusaurus-glob/watch.md
  packages/docusaurus/src/commands/start/watcher.ts
Due: eslint --fix, master-writer

test(glob): document Linux and Windows native watch behaviors (AI-assisted)
  packages/docusaurus-glob/src/__tests__/watchTestUtils.ts
  packages/docusaurus-glob/src/__tests__/watchUtils.test.ts
  packages/docusaurus-glob/watch.md
  project-words.txt
Due: eslint --fix, master-writer

test(glob): fix Windows polling and Linux watch expectations (AI-assisted)
  packages/docusaurus-glob/src/__tests__/watchUtils.test.ts
  packages/docusaurus-glob/watch.md
Due: eslint --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
