Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

update examples
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
Due: master-writer

update examples
  package.json
  yarn.lock
Due: master-writer

chore: update examples for v3.9.2 (#11494)
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
Due: master-writer

chore: update examples for v3.9.2 (#11494)
  package.json
  yarn.lock
Due: master-writer

Add nodejs 25 to CI
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: master-writer

chore(ci): add nodejs 25 to CI jobs matrix (#11495)
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: master-writer

Improve node SWC / browserslist target
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
Due: eslint --fix, master-writer

Improve node SWC / browserslist target
  packages/docusaurus-bundler/src/loaders/jsLoader.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-faster/src/index.ts
Due: eslint --fix, master-writer

remove now useless Rspack fix for Mermaid ELK layout
  packages/docusaurus-theme-mermaid/src/index.ts
Due: eslint --fix, master-writer

Add PR refs in comments
  packages/docusaurus-faster/src/index.ts
Due: eslint --fix, master-writer

fix(faster): fix server build SWC / browserslist node target (#11496)
  packages/docusaurus-bundler/src/loaders/jsLoader.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-theme-mermaid/src/index.ts
Due: eslint --fix, master-writer

chore: update LICENSE copyright holder to "Meta Platforms, Inc."
  LICENSE
Due: master-writer

fix(theme): retain focus-visible on enter with screen reader
  website/src/css/custom.css
Due: stylelint --allow-empty-input --fix, master-writer

fix:Correct the overflow of the of the buttons
  packages/docusaurus-theme-classic/src/theme/Footer/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Links/MultiColumn/index.tsx
  website/src/pages/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

minor changes
  packages/docusaurus-theme-classic/src/theme/Footer/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Links/MultiColumn/index.tsx
Due: eslint --fix, master-writer

fix home page overflows on very small screen
  website/src/pages/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

test
  website/src/pages/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

fix(website): Correct the site homepage overflows (CTA buttons + new version heading) (#11500)
  website/src/pages/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

Revise README.md with emojis and improved text
  README.md
Due: master-writer

Update intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: master-writer

Update README.md
  README.md
Due: master-writer

fix(theme-classic): make copy/word wrap buttons visible and prevent code overlap
  website/src/css/custom.css
  website/src/theme/CodeBlock/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Update create-a-page.md
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-page.md
Due: master-writer

Update create-a-blog-post.md
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-blog-post.md
Due: master-writer

add VcsConfig + default retro-compatible implementation + config option + config validation tests
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/gitUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/vcsUtils.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

make readLastUpdateData() use the new VcsConfig APIs
  packages/docusaurus-utils/src/gitUtils.ts
  packages/docusaurus-utils/src/lastUpdateUtils.ts
Due: eslint --fix, master-writer

add missing test snapshots
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
Due: master-writer

wire VSC api to blog creation date logic
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-utils/src/vcsUtils.ts
Due: eslint --fix, master-writer

wire VCS api in readLastUpdateData util
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/loadVersion.test.ts
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-utils/src/lastUpdateUtils.ts
Due: eslint --fix, master-writer

wire VCS api to the sitemap plugin
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemapItem.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemapItem.ts
Due: eslint --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
