Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

upgrade rspack
  packages/docusaurus-faster/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix Rspack progress bar progressChars
  packages/docusaurus-bundler/src/currentBundler.ts
Due: eslint --fix, prettier --ignore-unknown --write

disable rspack experiments.incremental for production builds
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write

add ts exclude to init templates
  packages/create-docusaurus/templates/classic-typescript/tsconfig.json
Due: prettier --ignore-unknown --write

fix(faster): Upgrade to Rspack 1.1.1, fix build progress bar display (#10648)
  packages/docusaurus-bundler/src/currentBundler.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus/src/webpack/base.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

fix(create-docusaurus): add ts exclude to TS init template (#10676)
  packages/create-docusaurus/templates/classic-typescript/tsconfig.json
Due: prettier --ignore-unknown --write

restore no-unused-vars _ ignore pattern
  .eslintrc.js
Due: eslint --fix, prettier --ignore-unknown --write

scaffold svgr plugin
  packages/docusaurus-plugin-svgr/.npmignore
  packages/docusaurus-plugin-svgr/README.md
  packages/docusaurus-plugin-svgr/package.json
  packages/docusaurus-plugin-svgr/src/__tests__/options.test.ts
  packages/docusaurus-plugin-svgr/src/index.ts
  packages/docusaurus-plugin-svgr/src/options.ts
  packages/docusaurus-plugin-svgr/src/types.d.ts
  packages/docusaurus-plugin-svgr/tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

poc of SVGR plugin
  packages/docusaurus-plugin-svgr/package.json
  packages/docusaurus-plugin-svgr/src/__tests__/options.test.ts
  packages/docusaurus-plugin-svgr/src/index.ts
  packages/docusaurus-plugin-svgr/src/options.ts
  packages/docusaurus-plugin-svgr/src/svgrLoader.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/webpackUtils.ts
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write

poc of SVGR plugin
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-preset-classic/src/options.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add SVG dogfood page test
  website/_dogfooding/_pages tests/index.mdx
  website/_dogfooding/_pages tests/svg/hacker.svg
  website/_dogfooding/_pages tests/svg/index.mdx
  website/_dogfooding/_pages tests/svg/integrations.svg
  website/_dogfooding/_pages tests/svg/logo.svg
  website/_dogfooding/_pages tests/svg/mascot.svg
  website/_dogfooding/_pages tests/svg/open-source.svg
Due: prettier --ignore-unknown --write

fix(homepage): typo corrections and updated twitter handles
  website/src/data/tweets.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Use website custom svgo config file
  website/docusaurus.config.ts
  website/svgo.config.js
Due: eslint --fix, prettier --ignore-unknown --write

remove useless SVGR tests
  packages/docusaurus-utils/src/__tests__/webpackUtils.test.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
Due: eslint --fix, prettier --ignore-unknown --write

remove useless SVGR tests
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  website/_dogfooding/_pages tests/svg/hacker.svg
  website/_dogfooding/_pages tests/svg/index.mdx
  website/_dogfooding/_pages tests/svg/logo.svg
Due: prettier --ignore-unknown --write

refactor SVGR/SVGO types and export them
  packages/docusaurus-plugin-svgr/src/index.ts
  packages/docusaurus-plugin-svgr/src/svgrLoader.ts
  packages/docusaurus-plugin-svgr/src/types.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix webpack merge type :s
  packages/docusaurus-types/src/plugin.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix types
  packages/docusaurus-plugin-svgr/src/index.ts
  packages/docusaurus-plugin-svgr/src/options.ts
  packages/docusaurus-plugin-svgr/src/svgrLoader.ts
  packages/docusaurus-plugin-svgr/src/types.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

docs
  website/docs/api/plugins/overview.mdx
  website/docs/api/plugins/plugin-svgr.mdx
  website/docs/using-plugins.mdx
Due: prettier --ignore-unknown --write

fix(homepage): revert to correct github usernames
  website/src/data/tweets.tsx
Due: eslint --fix, prettier --ignore-unknown --write

add dogfood CSS to test CSS nesting support
  website/_dogfooding/dogfooding.css
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

restore postcss-preset-env
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/loaders/styleLoader.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

prettier
  website/src/data/tweets.tsx
Due: eslint --fix, prettier --ignore-unknown --write

pnp error: try requuire.resolve ?
  packages/docusaurus-bundler/src/loaders/styleLoader.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(bundler): allow CSS nesting by default, restore postcss-preset-env (#10680)
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/loaders/styleLoader.ts
  website/_dogfooding/dogfooding.css
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

fix(homepage): typo corrections and updated twitter handles (#10678)
  website/src/data/tweets.tsx
Due: eslint --fix, prettier --ignore-unknown --write

another cli refactor
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add basic infrastructure to unit test Docusaurus CLI commander setup
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/__tests__/__fixtures__/site/docusaurus.config.js
  packages/docusaurus/src/commands/__tests__/cli.test.ts
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/external.ts
  packages/docusaurus/src/server/config.ts
Due: eslint --fix, prettier --ignore-unknown --write

basic cli tests
  packages/docusaurus/src/commands/__tests__/__fixtures__/site/docusaurus.config.js
  packages/docusaurus/src/commands/__tests__/cli.test.ts
  packages/docusaurus/src/commands/cli.ts
Due: eslint --fix, prettier --ignore-unknown --write

assert CLI logs tests
  packages/docusaurus/src/commands/__tests__/cli.test.ts
  packages/docusaurus/src/commands/cli.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(cli): `docusaurus --help` should print plugin commands using `extendCli()` (#10685)
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/__tests__/__fixtures__/site/docusaurus.config.js
  packages/docusaurus/src/commands/__tests__/cli.test.ts
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/external.ts
  packages/docusaurus/src/index.ts
  packages/docusaurus/src/server/config.ts
Due: eslint --fix, prettier --ignore-unknown --write

Fix description of `feedOptions.xslt`
  website/docs/api/plugins/plugin-content-blog.mdx
Due: prettier --ignore-unknown --write

Update website/docs/api/plugins/plugin-content-blog.mdx
  website/docs/api/plugins/plugin-content-blog.mdx
Due: prettier --ignore-unknown --write

docs: fix description of `feedOptions.xslt` (#10687)
  website/docs/api/plugins/plugin-content-blog.mdx
Due: prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
