Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

docs(plugin-api): remove unimplemented dev server hooks
  website/docs/api/plugin-methods/README.mdx
Due: master-writer

fix(theme-classic): align inline code to baseline
  packages/docusaurus-theme-classic/src/theme/CodeInline/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeInline/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(theme-classic): make code block action buttons fully visible
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

docs(plugin-api): remove unimplemented dev server hooks (#11867)
  website/docs/api/plugin-methods/README.mdx
Due: master-writer

fix(utils): handle XML-like tags in inline code during metadata extraction
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

CI should use yarn install --frozen-lockfile
  .github/workflows/argos.yml
  .github/workflows/build-blog-only.yml
  .github/workflows/build-hash-router.yml
  .github/workflows/build-perf.yml
  .github/workflows/continuous-releases.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint-autofix.yml
  .github/workflows/publish.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: master-writer

replace npx pkg-pr-new with pinned dependency graph
  .github/workflows/continuous-releases.yml
  package.json
  yarn.lock
Due: master-writer

use yarn playwright instead of npx
  .github/workflows/argos.yml
Due: master-writer

add dependabot cooldown
  .github/dependabot.yml
Due: master-writer

improve cooldown comment
  .github/dependabot.yml
Due: master-writer

restore Dependabot updates with cooldown + improve comments
  .github/dependabot.yml
Due: master-writer

Exclude "examples/**" from dependabot updates
  .github/dependabot.yml
Due: master-writer

Add CI workflow using SFW
  .github/workflows/security-supply-chain.yml
Due: master-writer

Forbid lifecycle scripts by default in template?
  .github/workflows/security-supply-chain.yml
Due: master-writer

use pnpm security options to prevent suspicious lifecycles
  .github/workflows/security-supply-chain.yml
Due: master-writer

fix(utils): escape HTML entities in inline code before removing HTML tags
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

move lockfile-lint to the security workflow
  .github/workflows/lint.yml
  .github/workflows/security-supply-chain.yml
Due: master-writer

pin sfw version
  .github/workflows/security-supply-chain.yml
Due: master-writer

Trigger the workflow daily automatically
  .github/workflows/security-supply-chain.yml
Due: master-writer

feat(gtag): remove deprecated anonymizeIP option (AI-assisted)
  packages/docusaurus-plugin-google-gtag/src/__tests__/options.test.ts
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/options.ts
Due: eslint --fix, master-writer

feat(ci): improve npm supply chain security - improve Dependabot config (#11874)
  .github/dependabot.yml
  .github/workflows/argos.yml
  .github/workflows/build-blog-only.yml
  .github/workflows/build-hash-router.yml
  .github/workflows/build-perf.yml
  .github/workflows/continuous-releases.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint-autofix.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/security-supply-chain.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  package.json
  yarn.lock
Due: master-writer

fix dependabot error
  .github/dependabot.yml
Due: master-writer

fix(ci): fix Dependabot error (#11879)
  .github/dependabot.yml
Due: master-writer

style: format code (AI-assisted)
  packages/docusaurus-plugin-google-gtag/src/__tests__/options.test.ts
Due: eslint --fix, master-writer

fix(spellcheck): add anonymization to dictionary (AI-assisted)
  project-words.txt
Due: master-writer

style: autocorrect spellcheck (AI-assisted)
  project-words.txt
Due: master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
