Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Split DocCard + add emoji extraction + customize emoji icon styling
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocCard/Description/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Description/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Add stable classNames + revert to former CSS module classNames
  packages/docusaurus-theme-classic/src/theme/DocCard/Description/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Description/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Layout/styles.module.css
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

extract useDocCardDescriptionCategoryItemsPlural
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/translations/docsTranslations.tsx
Due: eslint --fix, master-writer

extract heading into text/icon subcomponents
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/Icon/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/Icon/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/Text/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/Text/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

move text--truncate class
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/Text/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/index.tsx
Due: eslint --fix, master-writer

feat(theme): Split `<DocCard>`, improve extensibility, better handling of emoji icons, stable classNames (#11734)
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/DocCard/Description/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Description/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/Icon/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/Icon/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/Text/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/Text/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Heading/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocCard/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/translations/docsTranslations.tsx
  packages/docusaurus-theme-common/src/utils/ThemeClassNames.ts
  packages/docusaurus-theme-common/src/utils/__tests__/emojiUtils.test.ts
  packages/docusaurus-theme-common/src/utils/emojiUtils.ts
  website/docs/api/misc/_category_.yml
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(content-blog): validate CSS file path instead of XSLT path in feed XSLT resolver
  packages/docusaurus-plugin-content-blog/src/feed.ts
Due: eslint --fix, master-writer

fix(content-blog): fix wrong path variable in feed XSLT CSS file validation (#11736)
  packages/docusaurus-plugin-content-blog/src/feed.ts
Due: eslint --fix, master-writer

Add AI SDK to unblock typechecking libs
  package.json
  yarn.lock
Due: master-writer

fix(algolia): upgrade to DocSearch 4.5 + fix types (#11683)
  package.json
  packages/docusaurus-theme-search-algolia/package.json
  yarn.lock
Due: master-writer

fix(google-tag-manager): renamed pluginGoogleAnalytics to pluginGoogleTagManager
  packages/docusaurus-plugin-google-tag-manager/src/index.ts
Due: eslint --fix, master-writer

fix(utils): apply trailingSlash: false to baseUrl path in canonical URLs
  packages/docusaurus-utils-common/src/__tests__/applyTrailingSlash.test.ts
  packages/docusaurus-utils-common/src/applyTrailingSlash.ts
Due: eslint --fix, master-writer

docs: update copyright owner to Meta and year to 2026
  LICENSE
Due: master-writer

fix(content-docs): use category key for generated-index translation lookup
  packages/docusaurus-plugin-content-docs/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-docs/src/translations.ts
Due: eslint --fix, master-writer

feat(eslint-plugin): add no-dynamic-i18n-messages rule
  packages/eslint-plugin/src/rules/script.js
Due: eslint --fix, master-writer

test(swizzle): add unit tests for findStringIgnoringCase and FindClosestValue
  packages/docusaurus/src/commands/swizzle/__tests__/common.test.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

test(MDXloader): add unit tests for loader without crossCompilerCache
  packages/docusaurus-mdx-loader/src/__tests__/loader.test.ts
  packages/docusaurus-mdx-loader/src/loader.ts
Due: eslint --fix, master-writer

Test: add error handling tests for runCommand with invalid commands
  packages/create-docusaurus/src/__tests__/cross-spawn.d.ts
  packages/create-docusaurus/src/__tests__/utils.test.ts
Due: eslint --fix, master-writer

Added missing test for functions isInternalCommand and normalizePollValue
  packages/docusaurus/src/commands/__tests__/cli.test.ts
  packages/docusaurus/src/commands/cli.ts
Due: eslint --fix, master-writer

Add basic AGENTS.md
  AGENTS.md
Due: master-writer

fix(google-tag-manager): rename pluginGoogleAnalytics to pluginGoogleTagManager (#11739)
  packages/docusaurus-plugin-google-tag-manager/src/index.ts
Due: eslint --fix, master-writer

chore: Add basic AGENTS.md (#11753)
  AGENTS.md
  project-words.txt
Due: master-writer

simplify test
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/translations.test.ts
Due: eslint --fix, master-writer

simplify test
  packages/docusaurus-plugin-content-docs/src/__tests__/translations.test.ts
Due: eslint --fix, master-writer

increase test timeout on windows
  jest.config.mjs
Due: eslint --fix, master-writer

fix(content-docs): use category key for generated-index translation lookup (#11743)
  jest.config.mjs
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/translations.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/translations.test.ts
  packages/docusaurus-plugin-content-docs/src/translations.ts
Due: eslint --fix, master-writer

add mising LiveCodeBlockThemeConfig type import to website
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

some fixes
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Buttons/ResetButton/index.tsx
Due: eslint --fix, master-writer

change type order
  packages/docusaurus-theme-live-codeblock/src/theme-live-codeblock.d.ts
Due: eslint --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
