Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(theme): make dropdown navbar items accessible via screen readers
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/Desktop/index.tsx
Due: eslint --fix, master-writer

feat(theme-classic): replace native color mode tooltip with fast CSS tooltip
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix: SEO improvements
  website/docusaurus.config.ts
  website/static/robots.txt
Due: eslint --fix, master-writer

fix hydration issue
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
Due: master-writer

fix(website): fix hydration issue that blocks Argos screenshots in CI (#11895)
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
Due: master-writer

add future.v4.mdx1CompatDisabledByDefault flag
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

docs
  website/docs/api/docusaurus.config.js.mdx
Due: master-writer

update snapshots
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
Due: master-writer

update init template to .mdx extension
  packages/create-docusaurus/templates/shared/blog/2019-05-28-first-blog-post.mdx
  packages/create-docusaurus/templates/shared/blog/2019-05-29-long-blog-post.mdx
  packages/create-docusaurus/templates/shared/blog/2021-08-26-welcome/index.mdx
  packages/create-docusaurus/templates/shared/docs/intro.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/congratulations.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-blog-post.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-document.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-page.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/deploy-your-site.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/markdown-features.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-extras/manage-docs-versions.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-extras/translate-your-site.mdx
  packages/create-docusaurus/templates/shared/src/pages/markdown-page.mdx
Due: master-writer

update admonition syntax to directives
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/markdown-features.mdx
Due: master-writer

Add example of heading id syntax to init template
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/markdown-features.mdx
Due: master-writer

feat(create-docusaurus): update init template to `.mdx` extension and strict MDX syntax (#11897)
  packages/create-docusaurus/templates/shared/blog/2019-05-28-first-blog-post.mdx
  packages/create-docusaurus/templates/shared/blog/2019-05-29-long-blog-post.mdx
  packages/create-docusaurus/templates/shared/blog/2021-08-26-welcome/index.mdx
  packages/create-docusaurus/templates/shared/docs/intro.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/congratulations.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-blog-post.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-document.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-page.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/deploy-your-site.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/markdown-features.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-extras/manage-docs-versions.mdx
  packages/create-docusaurus/templates/shared/docs/tutorial-extras/translate-your-site.mdx
  packages/create-docusaurus/templates/shared/src/pages/markdown-page.mdx
Due: master-writer

add crowdin comment
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

improve tests
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

improve tests
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
Due: eslint --fix, master-writer

feat(core): add `future.v4.mdx1CompatDisabledByDefault` flag (#11896)
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

changelog
  CHANGELOG.md
Due: master-writer

add fresh commits to blog post draft
  website/blog/releases/3.10/index.mdx
Due: master-writer

update security blog post
  website/blog/releases/3.10/index.mdx
Due: master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

docs(deploy): add JSDoc comments to internal deploy utility functions
  packages/docusaurus/src/commands/deploy.ts
Due: eslint --fix, master-writer

docs: fix grammar errors in migration and plugin docs
  website/docs/migration/v3.mdx
  website/docs/using-plugins.mdx
Due: master-writer

fix(tsconfig): remove deprecated baseUrl option for TypeScript 6.0 compatibility
  packages/docusaurus-tsconfig/tsconfig.json
Due: master-writer

Add docusaurus-plugin-graph-view to resources
  website/community/2-resources.mdx
Due: master-writer

fix(eslint-plugin): support template literals in no-html-links rule
  packages/eslint-plugin/src/rules/__tests__/no-html-links.test.ts
  packages/eslint-plugin/src/rules/no-html-links.ts
Due: eslint --fix, master-writer

Update README with static build instructions
  website/README.md
Due: master-writer

docs: fix grammar errors in migration and plugin docs (#11904)
  website/docs/migration/v3.mdx
  website/docs/using-plugins.mdx
Due: master-writer

fix(eslint-plugin): improve template literal support in no-html-links
  packages/eslint-plugin/src/rules/__tests__/no-html-links.test.ts
  packages/eslint-plugin/src/rules/no-html-links.ts
Due: eslint --fix, master-writer

blog post
  website/blog/releases/3.10/index.mdx
Due: master-writer

add docs
  website/docs/api/docusaurus.config.js.mdx
Due: master-writer

v3.10 blog post
  website/blog/releases/3.10/index.mdx
Due: master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
