Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

chore: minor reduction to inline svg/js code (#11317)
  packages/docusaurus-theme-classic/src/__tests__/__snapshots__/inlineScripts.test.ts.snap
  packages/docusaurus-theme-classic/src/__tests__/inlineScripts.test.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/inlineScripts.ts
Due: eslint --fix, master-writer

fix release notes link
  website/src/pages/versions.tsx
Due: eslint --fix, master-writer

docs: fix release notes link (#11329)
  website/src/pages/versions.tsx
Due: eslint --fix, master-writer

fix: checks
  packages/docusaurus-theme-translations/locales/ar/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/base/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/bg/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/bn/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/cs/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/da/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/de/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/es/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/et/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fa/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fil/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/he/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/hi/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/hu/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/id/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/is/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/it/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ja/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ko/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/nb/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/nl/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pl/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ru/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/sl/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/sr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/sv/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/tk/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/tr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/uk/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/vi/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-search-algolia.json
  website/docs/search.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

fix: replace search by, by powered by
  packages/docusaurus-theme-translations/locales/ar/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/base/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/da/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/de/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fil/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/he/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/hi/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/sr/theme-search-algolia.json
Due: master-writer

IconExternalLink, give aria-label "opens in new tab"
  packages/docusaurus-theme-classic/src/theme/Icon/ExternalLink/index.tsx
Due: eslint --fix, master-writer

Update introduction.mdx
  website/docs/introduction.mdx
Due: master-writer

Update deployment.mdx
  website/versioned_docs/version-3.8.1/deployment.mdx
Due: master-writer

fix(theme-classic): fix that category doesn't expand upon navigating to same menu under already active category.
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  website/_dogfooding/_docs tests/tests/test-expansion/menu-under-same-category.mdx
  website/_dogfooding/_docs tests/tests/test-expansion/test-category-expansion.mdx
Due: eslint --fix, master-writer

docs: Clarified impact of document ID on the URL
  website/docs/guides/docs/docs-create-doc.mdx
Due: master-writer

delete dogfooding sites
  website/_dogfooding/_docs tests/tests/test-expansion/menu-under-same-category.mdx
  website/_dogfooding/_docs tests/tests/test-expansion/test-category-expansion.mdx
Due: master-writer

fix: reduced content
  website/docs/guides/docs/docs-create-doc.mdx
Due: master-writer

removed space
  website/docs/guides/docs/docs-create-doc.mdx
Due: master-writer

Update create-a-page.md
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-page.md
Due: master-writer

fix(askai): add facet filters
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix: factor out string typecheck
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, master-writer

Update intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: master-writer

Fix npm command typos in deployment.mdx (#11337)
  website/versioned_docs/version-3.8.1/deployment.mdx
Due: master-writer

Fix docusaurus start on macOS when exec throws a synchronous error
  packages/docusaurus/src/commands/utils/openBrowser/openBrowser.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  yarn.lock
Due: master-writer

fix(core): Fix docusaurus start on macOS when exec throws a synchronous error (#11347)
  packages/docusaurus/src/commands/utils/openBrowser/openBrowser.ts
  yarn.lock
Due: eslint --fix, master-writer

fix(theme-classic): fix collapsed sidebar category expansion when navigating to another link within that category (#11338)
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
Due: eslint --fix, master-writer

annoying eslint rule
  .eslintrc.js
Due: eslint --fix, master-writer

import issue
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

improve localeConfigs.baseUrl comment
  packages/docusaurus-types/src/i18n.d.ts
Due: eslint --fix, master-writer

rewire site outDir/baseUrl to localeConfig.baseUrl
  packages/docusaurus-utils/src/__tests__/i18nUtils.test.ts
  packages/docusaurus-utils/src/i18nUtils.ts
  packages/docusaurus/src/server/site.ts
Due: eslint --fix, master-writer

remove export
  packages/docusaurus-utils/src/index.ts
Due: eslint --fix, master-writer

Rename and clarify option behavior: automaticBaseUrlLocalizationDisabled
  packages/docusaurus/src/commands/build/build.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/commands/build/buildUtils.ts
  packages/docusaurus/src/commands/start/utils.ts
  packages/docusaurus/src/server/site.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  packages/docusaurus-plugin-pwa/src/registerSw.ts
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
Due: eslint --fix, master-writer

fix tests
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/site.test.ts
Due: eslint --fix, master-writer

Add localized baseUrl docs
  website/docs/api/docusaurus.config.js.mdx
  website/docs/i18n/i18n-tutorial.mdx
Due: master-writer

proper wiring of the automaticBaseUrlLocalizationDisabled option
  packages/docusaurus/src/commands/build/build.ts
  packages/docusaurus/src/server/__tests__/i18n.test.ts
  packages/docusaurus/src/server/i18n.ts
  packages/docusaurus/src/server/site.ts
Due: eslint --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
