Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

remove useless changes for Argos, use position 1 instead
  website/_dogfooding/_docs tests/tests/sidebar-display/Category 2 Long Long Long Long Long Long Long Long Long Long Long/doc1.mdx
  website/_dogfooding/_docs tests/tests/sidebar-display/Category1LongLongLongLongLongLongLongLongLongLong/doc1.mdx
  website/_dogfooding/_docs tests/tests/sidebar-display/_category_.json
Due: master-writer

fix docs
  website/docs/guides/docs/docs-create-doc.mdx
Due: master-writer

fix(theme): Doc sidebar links/categories with long labels should display properly (#11356)
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/index.tsx
  project-words.txt
  website/_dogfooding/_docs tests/tests/sidebar-display/Category 2 Long Long Long Long Long Long Long Long Long Long Long/doc1.mdx
  website/_dogfooding/_docs tests/tests/sidebar-display/Category1LongLongLongLongLongLongLongLongLongLong/doc1.mdx
  website/_dogfooding/_docs tests/tests/sidebar-display/Category1LongLongLongLongLongLongLongLongLongLong/doc2 long long long long long long long long long long long long.mdx
  website/_dogfooding/_docs tests/tests/sidebar-display/Category1LongLongLongLongLongLongLongLongLongLong/doc3longlonglonglonglonglonglonglonglonglonglonglong.mdx
  website/_dogfooding/_docs tests/tests/sidebar-display/_category_.json
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

docs: clarify impact of document ID on the URL (#11339)
  website/docs/guides/docs/docs-create-doc.mdx
Due: master-writer

fix(docs): clarify directive
  website/_dogfooding/_pages tests/diagrams.mdx
Due: master-writer

Add translate no to heading anchors
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
Due: eslint --fix, master-writer

do not translate blog author name
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/index.tsx
Due: eslint --fix, master-writer

fix(theme): Add translate no to heading anchors and blog authors (#11360)
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/index.tsx
  packages/docusaurus-theme-classic/src/theme/Heading/index.tsx
Due: eslint --fix, master-writer

Update create-a-page.md
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-page.md
Due: master-writer

fixup: resolve comments
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/client/index.ts
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaAskAi.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchTranslations/index.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
  website/docs/search.mdx
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Update overview.mdx
  website/docs/api/plugins/overview.mdx
Due: master-writer

fix: version range
  packages/docusaurus-theme-search-algolia/package.json
Due: master-writer

fix: show target color mode on toggle
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/styles.module.css
  packages/docusaurus-theme-translations/locales/base/theme-common.json
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(theme-classic): reverse color mode toggle icons to show target state
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

adds link to latest accessibility stats and reports in Rocket Validator
  README.md
Due: master-writer

fix(theme-classic): reverse color mode toggle icon logic and update titles
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

feat(core): add real-time progress indicator for SSG process
  packages/docusaurus/src/ssg/__tests__/ssgProgress.test.ts
  packages/docusaurus/src/ssg/ssgExecutor.ts
  packages/docusaurus/src/ssg/ssgProgress.ts
  packages/docusaurus/src/ssg/ssgProgressConfig.ts
  packages/docusaurus/src/ssg/ssgRenderer.ts
  packages/docusaurus/src/ssg/ssgWorkerInline.ts
Due: eslint --fix, master-writer

feat: add SSG progress tracking and Rspack optimization support.
  SSG_PROGRESS_INDICATOR.md
Due: master-writer

docs: adds link to latest accessibility stats and reports in Rocket Validator (#11376)
  README.md
Due: master-writer

docs: remove stray character in plugin overview page (#11368)
  website/docs/api/plugins/overview.mdx
Due: master-writer

Add proper support for Mermaid ELK layouts
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-mermaid/src/client/index.ts
  packages/docusaurus-theme-mermaid/src/client/layouts.ts
  packages/docusaurus-theme-mermaid/src/index.ts
  website/_dogfooding/_pages tests/diagrams.mdx
  website/docs/guides/markdown-features/markdown-features-diagrams.mdx
  website/package.json
  yarn.lock
Due: eslint --fix, master-writer

fix doc
  website/docs/guides/markdown-features/markdown-features-diagrams.mdx
Due: master-writer

spelling fix
  project-words.txt
Due: master-writer

weird workaround for Webpack
  packages/docusaurus-theme-mermaid/src/index.ts
Due: eslint --fix, master-writer

feat(mermaid): support elk layout (#11357)
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-mermaid/src/client/index.ts
  packages/docusaurus-theme-mermaid/src/client/layouts.ts
  packages/docusaurus-theme-mermaid/src/index.ts
  project-words.txt
  website/_dogfooding/_pages tests/diagrams.mdx
  website/docs/guides/markdown-features/markdown-features-diagrams.mdx
  website/package.json
  yarn.lock
Due: eslint --fix, master-writer

feat(core): stabilize SSG progress indicator; fix tests and TTY/perf logging behavior
  SSG_PROGRESS_INDICATOR.md
  packages/docusaurus/src/ssg/__tests__/ssgProgress.test.ts
  packages/docusaurus/src/ssg/ssgProgress.ts
Due: eslint --fix, master-writer

fix(plugin-google-gtag): prevent duplicate Google Analytics initialization
  packages/docusaurus-plugin-google-gtag/README.md
  packages/docusaurus-plugin-google-gtag/src/__tests__/duplicate-prevention.test.ts
  packages/docusaurus-plugin-google-gtag/src/gtag.ts
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/types.d.ts
Due: eslint --fix, master-writer

Update 2019-05-28-first-blog-post.md
  packages/create-docusaurus/templates/shared/blog/2019-05-28-first-blog-post.md
Due: master-writer

SWC minifier: use new tagOmission: 'keep-head-and-body' option
  packages/docusaurus-bundler/src/minifyHtml.ts
  packages/docusaurus-faster/package.json
  yarn.lock
Due: eslint --fix, master-writer
