Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

changelog
  CHANGELOG.md
Due: master-writer

Fix Rspack/SWC mermaid ELK layout dependency required bug
  packages/docusaurus-theme-mermaid/src/index.ts
Due: eslint --fix, master-writer

fix(theme-mermaid): Fix Mermaid ELK layout dependency required bug on v3.9 (#11437)
  packages/docusaurus-theme-mermaid/src/index.ts
Due: eslint --fix, master-writer

lazy load Mermaid
  packages/docusaurus-theme-mermaid/src/client/index.ts
  packages/docusaurus-theme-mermaid/src/client/loadMermaid.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

typo
  packages/docusaurus-theme-mermaid/src/client/loadMermaid.ts
Due: eslint --fix, master-writer

perf(theme-mermaid): lazy load the Mermaid library (#11438)
  packages/docusaurus-theme-mermaid/src/client/index.ts
  packages/docusaurus-theme-mermaid/src/client/loadMermaid.ts
Due: eslint --fix, master-writer

Upgrade Node.js version from 18 to 20
  website/docs/deployment.mdx
Due: master-writer

docs(website): upgrade Node.js version from 18 to 20 in GitHub/Travis workflow examples (#11443)
  website/docs/deployment.mdx
Due: master-writer

docs(website): fix typo for onBrokenMarkdownImages
  website/blog/releases/3.9/index.mdx
  website/docs/api/docusaurus.config.js.mdx
  website/versioned_docs/version-3.9.1/api/docusaurus.config.js.mdx
Due: master-writer

docs: add warning for globbing in i18n tutorial (#11158)
  website/docs/i18n/i18n-tutorial.mdx
Due: master-writer

fix(core): fix `i18n.localeConfigs.translate` in config file (#11451)
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

refactor: improve code quality with component extraction and type safety
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-theme-classic/src/theme/Tabs/TabListItem.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-common/src/hooks/useTOCHighlight.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Due: eslint --fix, master-writer

refactor: improve code quality with component extraction and type safety
  packages/docusaurus-plugin-content-docs/src/sidebars/generator.ts
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  packages/docusaurus-theme-classic/src/translations.ts
  packages/docusaurus-theme-common/src/hooks/useTOCHighlight.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Due: eslint --fix, master-writer

chore: improve example whole config satisfies type
  examples/classic-typescript/docusaurus.config.ts
Due: eslint --fix, master-writer

feat: add stricter theme config types
  packages/docusaurus-types/src/theme.d.ts
Due: eslint --fix, master-writer

feat: use new stricter theme config in base config type
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
Due: eslint --fix, master-writer

refactor: export color mode and magic comment config types
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/theme.d.ts
Due: eslint --fix, master-writer

refactor: import color mode and magic comment config types
  packages/docusaurus-theme-common/src/contexts/colorMode.tsx
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Due: eslint --fix, master-writer

fix: add 'llms' to project dictionary for cspell
  project-words.txt
Due: master-writer

fix: improved UI and UX in docs
  packages/docusaurus-theme-classic/src/theme/DocBreadcrumbs/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Main/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/Content/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TOC/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

feat(docs): improve docs translations without key conflicts
  packages/docusaurus-plugin-content-docs/src/translations.ts
Due: eslint --fix, master-writer

refactor: update default config types to use stricter type assertions
  packages/docusaurus-theme-classic/src/options.ts
Due: eslint --fix, master-writer

refactor: use DEFAULT_COLOR_MODE in color mode functions for consistency
  packages/docusaurus-theme-common/src/contexts/colorMode.tsx
Due: eslint --fix, master-writer

chore: remove legacy theme config types
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Due: eslint --fix, master-writer

fix: update theme config magnolia type imports and docusaurus doc search props
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-theme-search-algolia/src/opensearch.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
Due: eslint --fix, master-writer

fix: destructure navbar items correctly in useIsNavbarMobileSidebarDisabled
  packages/docusaurus-theme-common/src/contexts/navbarMobileSidebar.tsx
Due: eslint --fix, master-writer

feat: add footer and footer column link types
  packages/docusaurus-theme-classic/src/translations.ts
  packages/docusaurus-theme-common/src/utils/footerUtils.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/theme.d.ts
Due: eslint --fix, master-writer

feat: add missing additional languages property to config
  packages/docusaurus-types/src/theme.d.ts
Due: eslint --fix, master-writer

fix: theme config import from live codeblock pkg
  packages/docusaurus-theme-live-codeblock/src/validateThemeConfig.ts
Due: eslint --fix, master-writer
