Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["prettier --ignore-unknown --write"]
}

fix(theme-translation): add and update Japanese translations
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
Due: prettier --ignore-unknown --write

fix(theme-translation): complete and fix Japanese translations (#10688)
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
Due: prettier --ignore-unknown --write

fix live editor border-radius
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

CI should retry Yarn install
  .github/workflows/argos.yml
  .github/workflows/build-blog-only.yml
  .github/workflows/build-hash-router.yml
  .github/workflows/build-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/continuous-releases.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint-autofix.yml
  .github/workflows/lint.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests.yml
Due: prettier --ignore-unknown --write

CI should retry Yarn install
  .github/workflows/argos.yml
  .github/workflows/build-blog-only.yml
  .github/workflows/build-hash-router.yml
  .github/workflows/build-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/continuous-releases.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint-autofix.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: prettier --ignore-unknown --write

chore(ci): retry `yarn install` to ignore temporary network errors (#10691)
  .github/workflows/argos.yml
  .github/workflows/build-blog-only.yml
  .github/workflows/build-hash-router.yml
  .github/workflows/build-perf.yml
  .github/workflows/canary-release.yml
  .github/workflows/continuous-releases.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint-autofix.yml
  .github/workflows/lint.yml
  .github/workflows/showcase-test.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-swizzle.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
Due: prettier --ignore-unknown --write

fix(theme-live-codeblock): fix live editor border-radius (#10689)
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/styles.module.css
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

provide ambiant TS declarations for .md / .mdx
  packages/docusaurus-module-type-aliases/src/index.d.ts
  website/_dogfooding/_pages tests/embeds.tsx
Due: eslint --fix, prettier --ignore-unknown --write

fix(types): add missing ambiant TS declarations for .md / .mdx partials (#10693)
  packages/docusaurus-module-type-aliases/src/index.d.ts
  website/_dogfooding/_pages tests/embeds.tsx
Due: eslint --fix, prettier --ignore-unknown --write

e2e tests should run test site typechecking
  .github/workflows/tests-e2e.yml
Due: prettier --ignore-unknown --write

Try to remove base tsconfig types
  packages/docusaurus-tsconfig/tsconfig.json
Due: prettier --ignore-unknown --write

fix(create-docusaurus): Fix TS issues on newly initialized sites (#10694)
  .github/workflows/tests-e2e.yml
  packages/docusaurus-tsconfig/tsconfig.json
Due: prettier --ignore-unknown --write

changelog
  CHANGELOG.md
Due: prettier --ignore-unknown --write

svgr version
  packages/docusaurus-plugin-svgr/package.json
Due: prettier --ignore-unknown --write

refactor: apply lint autofix
  yarn.lock
Due: prettier --ignore-unknown --write

fix versions
  packages/docusaurus-plugin-svgr/package.json
Due: prettier --ignore-unknown --write

fix: only render secondaryMenu if it should be shown
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Layout/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Add svg ambiant types comment todo
  packages/docusaurus-module-type-aliases/src/index.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor: apply lint autofix
  project-words.txt
Due: prettier --ignore-unknown --write

fix: use native modal dialog and use its backdrop
  packages/docusaurus-theme-classic/src/theme/Navbar/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Layout/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

Update intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: prettier --ignore-unknown --write

incremental
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(core): disable Rspack incremental in dev (#10712)
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write
