Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["prettier --ignore-unknown --write"]
}

Support `frontMatter.slug`
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/hello/mdxPage.mdx
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-plugin-content-pages/src/frontMatter.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  website/_dogfooding/_pages tests/index.mdx
  website/_dogfooding/_pages tests/unlisted.mdx
Due: eslint --fix, prettier --ignore-unknown --write

document pages slug
  website/docs/api/plugins/plugin-content-pages.mdx
Due: prettier --ignore-unknown --write

feat(pages): Support `frontMatter.slug` like docs and blog plugins (#11088)
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/hello/mdxPage.mdx
  packages/docusaurus-plugin-content-pages/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-plugin-content-pages/src/frontMatter.ts
  packages/docusaurus-plugin-content-pages/src/plugin-content-pages.d.ts
  website/_dogfooding/_pages tests/index.mdx
  website/_dogfooding/_pages tests/unlisted.mdx
  website/docs/api/plugins/plugin-content-pages.mdx
Due: eslint --fix, prettier --ignore-unknown --write

title formatter
  packages/docusaurus-theme-common/src/utils/__tests__/generalUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/titleFormatter.test.tsx
  packages/docusaurus-theme-common/src/utils/generalUtils.ts
  packages/docusaurus-theme-common/src/utils/titleFormatter.tsx
Due: eslint --fix, prettier --ignore-unknown --write

refactor useTitleFormatter() hook
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/__tests__/titleFormatterUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/metadataUtils.tsx
  packages/docusaurus-theme-common/src/utils/titleFormatterUtils.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

implement TitleFormatterProvider
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/__tests__/titleFormatterUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/titleFormatterUtils.tsx
Due: eslint --fix, prettier --ignore-unknown --write

minor changes
  packages/docusaurus-theme-common/src/utils/titleFormatterUtils.tsx
Due: eslint --fix, prettier --ignore-unknown --write

create <ThemeProvider> to apply <TitleFormatterProvider> consistently + apply to website
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/ThemeProvider/TitleFormatter/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemeProvider/index.tsx
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/theme-fallback/ThemeProvider/index.tsx
  website/src/theme/ThemeProvider/TitleFormatter/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

implement proper site ThemeProviderTitleFormatter example
  packages/docusaurus-theme-common/src/utils/metadataUtils.tsx
  packages/docusaurus-theme-common/src/utils/titleFormatterUtils.tsx
  website/src/theme/ThemeProvider/TitleFormatter/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

update snapshots
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/atom.xsl
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  packages/docusaurus/src/webpack/aliases/__tests__/__snapshots__/index.test.ts.snap
  website/src/theme/ThemeProvider/TitleFormatter/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

update snapshots
  website/src/theme/ThemeProvider/TitleFormatter/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

feat(theme): make it possible to provide your own page title formatter (#11090)
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/atom.xsl
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/ThemeProvider/TitleFormatter/index.tsx
  packages/docusaurus-theme-classic/src/theme/ThemeProvider/index.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/__tests__/generalUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/__tests__/titleFormatterUtils.test.tsx
  packages/docusaurus-theme-common/src/utils/generalUtils.ts
  packages/docusaurus-theme-common/src/utils/metadataUtils.tsx
  packages/docusaurus-theme-common/src/utils/titleFormatterUtils.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/theme-fallback/ThemeProvider/index.tsx
  packages/docusaurus/src/webpack/__tests__/__snapshots__/base.test.ts.snap
  packages/docusaurus/src/webpack/aliases/__tests__/__snapshots__/index.test.ts.snap
  website/src/theme/ThemeProvider/TitleFormatter/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Replaced readingTime npm with Intl.Segmenter
  packages/docusaurus-plugin-content-blog/src/__tests__/readingTime.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/readingTime.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  website/docs/blog.mdx
Due: eslint --fix, prettier --ignore-unknown --write

Update playwright.config.ts
  argos/playwright.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

Update package.json
  package.json
Due: prettier --ignore-unknown --write

Update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --ignore-unknown --write

Update intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: prettier --ignore-unknown --write

Enable managing broken links from a report
  packages/docusaurus-types/src/bronkenLinks.d.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/server/brokenLinks.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
Due: eslint --fix, prettier --ignore-unknown --write

unit tests
  packages/docusaurus/src/server/__tests__/brokenLinks.test.ts
Due: eslint --fix, prettier --ignore-unknown --write

Update package.json
  admin/test-bad-package/package.json
Due: prettier --ignore-unknown --write

Update pre-commit
  .husky/pre-commit
Due: prettier --ignore-unknown --write

init
  website/docs/advanced/boosting.md
Due: prettier --ignore-unknown --write

WIP
  website/docs/advanced/boosting.md
Due: prettier --ignore-unknown --write

WIP
  website/docs/advanced/boosting.md
  website/sidebars.ts
  website/static/img/boost/boost_algolia_page_rank_search_ui.png
  website/static/img/boost/boost_algolia_test_url_records.png
Due: eslint --fix, prettier --ignore-unknown --write

boosting doc
  website/docs/advanced/boosting.md
  website/static/img/boost/boost_algolia_page_rank_search_ui.png
  website/static/img/boost/boost_algolia_test_url_records.png
Due: prettier --ignore-unknown --write

rename
  website/docs/advanced/boosting.mdx
Due: prettier --ignore-unknown --write

Upgrade Rspack to 1.3.6+, fix persistent cache perf issue
  packages/docusaurus-faster/package.json
  packages/docusaurus-plugin-content-docs/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

upgrade tinyglobby
  packages/docusaurus-utils/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

update lockfile
  yarn.lock
Due: prettier --ignore-unknown --write

docs: introduce KaTeX local copy plugin & Temml for math
  project-words.txt
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
  website/versioned_docs/version-3.6.3/guides/markdown-features/markdown-features-math-equations.mdx
  website/versioned_docs/version-3.7.0/guides/markdown-features/markdown-features-math-equations.mdx
Due: prettier --ignore-unknown --write

test(reading-time): Unit tests for calculating reading time
  packages/docusaurus-plugin-content-blog/src/__tests__/readingTime.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/readingTime.ts
Due: eslint --fix, prettier --ignore-unknown --write

Update ChunkAssetPlugin.ts
  packages/docusaurus/src/webpack/plugins/ChunkAssetPlugin.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: Ensure accessibility of live code block contrast with background update
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Header/styles.module.css
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write
