Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["prettier --ignore-unknown --write"]
}

remove shelljs escapeShellArg util
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-utils/src/__tests__/shellUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/shellUtils.ts
Due: eslint --fix, prettier --ignore-unknown --write

add comment
  packages/create-docusaurus/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(create-docusaurus): fix CLI and remove shelljs escapeShellArg util (#10958)
  packages/create-docusaurus/src/index.ts
  packages/docusaurus-utils/src/__tests__/shellUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/shellUtils.ts
Due: eslint --fix, prettier --ignore-unknown --write

Upgrade to TS 5.8
  package.json
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  packages/docusaurus-mdx-loader/src/remark/contentTitle/index.ts
  packages/docusaurus-mdx-loader/src/remark/details/index.ts
  packages/docusaurus-mdx-loader/src/remark/head/index.ts
  packages/docusaurus-mdx-loader/src/remark/headings/index.ts
  packages/docusaurus-mdx-loader/src/remark/mdx1Compat/codeCompatPlugin.ts
  packages/docusaurus-mdx-loader/src/remark/mermaid/index.ts
  packages/docusaurus-mdx-loader/src/remark/resolveMarkdownLinks/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/utils.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/index.ts
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
  packages/docusaurus-plugin-content-blog/src/remark/footnoteIDFixer.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

increase build perf CI timeout values
  .github/workflows/build-perf.yml
Due: prettier --ignore-unknown --write

enable erasableSyntaxOnly
  packages/docusaurus-cssnano-preset/src/index.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
  packages/eslint-plugin/src/index.ts
  packages/stylelint-copyright/src/index.ts
  tsconfig.base.json
Due: eslint --fix, prettier --ignore-unknown --write

enable erasableSyntaxOnly
  packages/docusaurus-cssnano-preset/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: upgrade monorepo to TS 5.8 (#10966)
  .github/workflows/build-perf.yml
  package.json
  packages/docusaurus-cssnano-preset/src/index.ts
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts
  packages/docusaurus-mdx-loader/src/remark/contentTitle/index.ts
  packages/docusaurus-mdx-loader/src/remark/details/index.ts
  packages/docusaurus-mdx-loader/src/remark/head/index.ts
  packages/docusaurus-mdx-loader/src/remark/headings/index.ts
  packages/docusaurus-mdx-loader/src/remark/mdx1Compat/codeCompatPlugin.ts
  packages/docusaurus-mdx-loader/src/remark/mermaid/index.ts
  packages/docusaurus-mdx-loader/src/remark/resolveMarkdownLinks/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/index.ts
  packages/docusaurus-mdx-loader/src/remark/toc/utils.ts
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-mdx-loader/src/remark/unusedDirectives/index.ts
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
  packages/docusaurus-plugin-content-blog/src/remark/footnoteIDFixer.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
  packages/eslint-plugin/src/index.ts
  packages/stylelint-copyright/src/index.ts
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

docs: Document configuration of the remark-math plugin
  website/docs/guides/markdown-features/markdown-features-math-equations.mdx
Due: prettier --ignore-unknown --write

install ESLint plugin
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

fix eslint CodeBlockLine error
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

eslint
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

eslint
  packages/docusaurus-theme-common/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

eslint
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-common/src/utils/scrollUtils.tsx
  packages/docusaurus-theme-common/src/utils/storageUtils.ts
  packages/docusaurus-theme-mermaid/src/client/index.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

refactor: apply lint autofix
  yarn.lock
Due: prettier --ignore-unknown --write

chore: add `eslint-plugin-react-compiler` (#10969)
  .eslintrc.js
  package.json
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/index.tsx
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
  packages/docusaurus-theme-common/src/index.ts
  packages/docusaurus-theme-common/src/utils/reactUtils.tsx
  packages/docusaurus-theme-common/src/utils/scrollUtils.tsx
  packages/docusaurus-theme-common/src/utils/storageUtils.ts
  packages/docusaurus-theme-mermaid/src/client/index.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

feat(plugin-npm2yarn): Add Bun to default tabs conversions (#10953)
  packages/docusaurus-remark-plugin-npm2yarn/README.md
  packages/docusaurus-remark-plugin-npm2yarn/example.png
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Update markdown-features-code-blocks.mdx
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Due: prettier --ignore-unknown --write

Update intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: prettier --ignore-unknown --write

Update 2-resources.mdx
  website/community/2-resources.mdx
Due: prettier --ignore-unknown --write

chore: add cpu profiler and trace support
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write

docs: update external link to MDX reference (#10981)
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Due: prettier --ignore-unknown --write

make it work
  packages/docusaurus-theme-classic/src/inlineScripts.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/SystemColorMode/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/ColorModeToggle/index.tsx
  packages/docusaurus-theme-common/src/contexts/colorMode.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

fix
  packages/docusaurus-theme-classic/src/inlineScripts.ts
Due: eslint --fix, prettier --ignore-unknown --write

Try to fix accessibility issues
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/ColorModeToggle/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

add translations
  packages/docusaurus-theme-translations/locales/ar/theme-common.json
  packages/docusaurus-theme-translations/locales/base/theme-common.json
  packages/docusaurus-theme-translations/locales/bg/theme-common.json
  packages/docusaurus-theme-translations/locales/bn/theme-common.json
  packages/docusaurus-theme-translations/locales/cs/theme-common.json
  packages/docusaurus-theme-translations/locales/da/theme-common.json
  packages/docusaurus-theme-translations/locales/de/theme-common.json
  packages/docusaurus-theme-translations/locales/es/theme-common.json
  packages/docusaurus-theme-translations/locales/et/theme-common.json
  packages/docusaurus-theme-translations/locales/fa/theme-common.json
  packages/docusaurus-theme-translations/locales/fil/theme-common.json
  packages/docusaurus-theme-translations/locales/fr/theme-common.json
  packages/docusaurus-theme-translations/locales/he/theme-common.json
  packages/docusaurus-theme-translations/locales/hi/theme-common.json
  packages/docusaurus-theme-translations/locales/hu/theme-common.json
  packages/docusaurus-theme-translations/locales/id/theme-common.json
  packages/docusaurus-theme-translations/locales/is/theme-common.json
  packages/docusaurus-theme-translations/locales/it/theme-common.json
  packages/docusaurus-theme-translations/locales/ja/theme-common.json
  packages/docusaurus-theme-translations/locales/ko/theme-common.json
  packages/docusaurus-theme-translations/locales/nb/theme-common.json
  packages/docusaurus-theme-translations/locales/nl/theme-common.json
  packages/docusaurus-theme-translations/locales/pl/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-common.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-common.json
  packages/docusaurus-theme-translations/locales/ru/theme-common.json
  packages/docusaurus-theme-translations/locales/sl/theme-common.json
  packages/docusaurus-theme-translations/locales/sr/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/tk/theme-common.json
  packages/docusaurus-theme-translations/locales/tr/theme-common.json
  packages/docusaurus-theme-translations/locales/uk/theme-common.json
  packages/docusaurus-theme-translations/locales/vi/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-common.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-common.json
Due: prettier --ignore-unknown --write

rename 'auto' to 'system'
  packages/docusaurus-theme-classic/src/inlineScripts.ts
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

refactor: apply lint autofix
  project-words.txt
Due: prettier --ignore-unknown --write

rename 'auto' to 'system'
  packages/docusaurus-theme-common/src/contexts/colorMode.tsx
Due: eslint --fix, prettier --ignore-unknown --write

remove title prop
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

typo
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

use shorter title
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write
