Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

feat(theme-classic): add text-autospace for improved CJK readability
  package.json
  website/src/css/custom.css
  website/src/theme/Layout/styles.module.css
  yarn.lock
Due: stylelint --allow-empty-input --fix, master-writer

Updated Swedish translations
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/sv/theme-search-algolia.json
Due: master-writer

fix(i18n): updated Swedish translations (#11935)
  packages/docusaurus-theme-translations/locales/sv/theme-common.json
  packages/docusaurus-theme-translations/locales/sv/theme-live-codeblock.json
  packages/docusaurus-theme-translations/locales/sv/theme-search-algolia.json
Due: master-writer

fix(theme-classic): improve screen reader landmark navigation and keyboard handling
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/ExpandButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/Footer/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/Navbar/MobileSidebar/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/Desktop/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOC/index.tsx
  packages/docusaurus-theme-classic/src/theme/TOCCollapsible/CollapseButton/index.tsx
Due: eslint --fix, master-writer

fix(theme): remove superfluous ARIA region from SkipToContent link
  packages/docusaurus-theme-common/src/utils/skipToContentUtils.tsx
Due: eslint --fix, master-writer

fix(mdx-loader): avoid transforming dotted directory links into asset requires (#11940)
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/dotted-directory.whatever/README.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
Due: eslint --fix, master-writer

Remove Efikcoin comment from users.tsx
  website/src/data/users.tsx
Due: eslint --fix, master-writer

feat(theme-search-algolia): support agentStudio flag in askAi config
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaAskAi.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
Due: eslint --fix, master-writer

fix: V-004 security vulnerability
  package.json
Due: master-writer

fix: V-005 security vulnerability
  packages/docusaurus-utils-validation/src/validationSchemas.ts
Due: eslint --fix, master-writer

feat(website): add agent docs plugin
  website/docusaurus.config.ts
  website/src/plugins/agent-docs/index.ts
Due: eslint --fix, master-writer

fix: V-001 security vulnerability
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

fix: V-002 security vulnerability
  package.json
Due: master-writer

fix: remove /llms.txt footer link from website
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

docs: add security policy (SECURITY.md)
  .github/SECURITY.md
Due: master-writer

fix: pass host to server.listen in serve command
  .husky/pre-commit
  admin/scripts/test-release.sh
  packages/create-docusaurus/bin/index.js
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/index.ts
  packages/docusaurus/bin/docusaurus.mjs
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/serve.ts
  website/profileSamply.sh
  website/static/img/pwa_reload.gif
Due: eslint --fix, master-writer

feat(plugin): add docusaurus-plugin-reading-time
  packages/docusaurus-plugin-reading-time/package.json
  packages/docusaurus-plugin-reading-time/src/index.ts
  packages/docusaurus-plugin-reading-time/src/readingTime.ts
Due: eslint --fix, master-writer

fix(blog): add null coalescing for frontMatter.tags in blog post processing
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
Due: eslint --fix, master-writer

test(reading-time): add Jest tests for reading time calculation
  packages/docusaurus-plugin-reading-time/src/__tests__/readingTime.test.ts
Due: eslint --fix, master-writer

fix(theme-classic): remove redundant sidebar label titles
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/__tests__/index.test.tsx
Due: eslint --fix, master-writer

fix: prevent code blocks flash in dark mode (AI-assisted)
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Container/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx
Due: eslint --fix, master-writer

docs: add Tables section to Markdown features
  website/docs/guides/markdown-features/markdown-features-intro.mdx
Due: master-writer

code duplication inside of validateOptions
  packages/docusaurus-plugin-content-docs/src/options.ts
Due: eslint --fix, master-writer

docs: add docusaurus-plugin-copy-page-button to community plugins
  website/community/2-resources.mdx
Due: master-writer

docs: Update example file from tags.yml to authors.yml
  website/docs/api/plugins/plugin-content-blog.mdx
Due: master-writer

docs: Update example file from tags.yml to authors.yml (#11973)
  website/docs/api/plugins/plugin-content-blog.mdx
Due: master-writer

docs: add package-manager tabs for create-docusaurus (#11925)
  website/docs/api/misc/create-docusaurus.mdx
  website/docs/i18n/i18n-crowdin.mdx
  website/docs/i18n/i18n-git.mdx
  website/docs/i18n/i18n-tutorial.mdx
  website/docs/installation.mdx
  website/docs/introduction.mdx
  website/docs/typescript-support.mdx
Due: master-writer

chore: migrate from Prettier to oxfmt for code formatting
  .github/workflows/lint-autofix.yml
  .github/workflows/lint.yml
  .lintstagedrc.json
  .oxfmtrc.json
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  package.json
  project-words.txt
Due: master-writer

chore: bump oxfmt to ^0.47.0
  package.json
Due: master-writer

chore: update package build scripts to use oxfmt
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  yarn.lock
Due: master-writer

chore: remove unused oxfmt entries from project-words.txt
  project-words.txt
Due: master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
