Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Update CODEOWNERS
  .github/CODEOWNERS
Due: master-writer

Default word per minute to 200 and addition of wordBound
  packages/docusaurus-plugin-content-blog/src/readingTime.ts
Due: eslint --fix, master-writer

Updated tests & build snapshots
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/authors/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/authors/slorber-custom-permalink-localized/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/global-tag-permalink (en)/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/inline-tag/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/readingTime.test.ts
Due: eslint --fix, master-writer

test(reading-time): Unit tests for calculating reading time (#11116)
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/authors/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/authors/slorber-custom-permalink-localized/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/global-tag-permalink (en)/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/tags/inline-tag/index.html
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/feed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/readingTime.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/readingTime.ts
Due: eslint --fix, master-writer

docs(deploy): remove can't accessable service provider
  website/docs/deployment.mdx
Due: master-writer

Replace reading-time npm with Intl.Segmenter API
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/readingTime.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/options.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-plugin-content-blog/src/readingTime.ts
  yarn.lock
Due: eslint --fix, master-writer

Fix: dogfooding config
  packages/docusaurus-plugin-content-blog/src/options.ts
  website/_dogfooding/dogfooding.config.ts
Due: eslint --fix, master-writer

add POC of CSS cascade layers integration
  packages/docusaurus-theme-classic/src/index.ts
Due: eslint --fix, master-writer

typo
  packages/docusaurus-theme-classic/src/index.ts
Due: eslint --fix, master-writer

add CSS layer order
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/layers.css
  packages/docusaurus-theme-classic/src/theme/Navbar/Content/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

add CSS layer docusaurus- prefix + layer for site CSS files
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/layers.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

docs(deploy): remove `layer0` from deployment docs (#11137)
  website/docs/deployment.mdx
Due: master-writer

remove docusaurus-site layer
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/layers.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(theme): improve color contrast of live code block header (#11120)
  packages/docusaurus-theme-live-codeblock/src/theme/Playground/Header/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

add test page for CSS cascade layers style isolation
  website/_dogfooding/_pages tests/index.mdx
  website/_dogfooding/_pages tests/style-isolation/index.module.css
  website/_dogfooding/_pages tests/style-isolation/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

add more isolation examples
  website/_dogfooding/_pages tests/style-isolation/index.tsx
Due: eslint --fix, master-writer

Removed default value for locale parameter
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  website/_dogfooding/dogfooding.config.ts
Due: eslint --fix, master-writer

Use tabs on choosing GitHub workflow file
  website/docs/deployment.mdx
Due: master-writer

Refactor APITable component: Simplify anchor generation, improve error handling, and enhance readability
  website/src/components/APITable/index.tsx
Due: eslint --fix, master-writer

Improve PlaygroundCards accessibility and responsiveness
  website/src/components/Playground/index.tsx
Due: eslint --fix, master-writer

Update docusaurus-core.mdx
  website/docs/docusaurus-core.mdx
Due: master-writer

Update website/docs/deployment.mdx
  website/docs/deployment.mdx
Due: master-writer

resolve type safety and rendering issues in ShowcaseCard component
  website/src/pages/showcase/_components/ShowcaseCard/index.tsx
Due: eslint --fix, master-writer

Fix Broken Link on Docusaurus documentation versions page for 2.x
  website/src/pages/versions.tsx
Due: eslint --fix, master-writer

docs: Use tabs on choosing a GitHub action file (#11145)
  website/docs/deployment.mdx
Due: master-writer

restore former internal APIs
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Due: eslint --fix, master-writer

refactor: apply lint autofix
  website/docs/deployment.mdx
Due: master-writer

fix
  website/docs/deployment.mdx
Due: master-writer

fix: fix docs lint issue (#11154)
  website/docs/deployment.mdx
Due: master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
