Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

fix(ssg): HTML minifier should preserve `<head>` for `og:image` crawlers (#11383)
  packages/docusaurus-bundler/src/minifyHtml.ts
  packages/docusaurus-faster/package.json
  yarn.lock
Due: eslint --fix, master-writer

Add files via upload
  website/src/theme/index.tsx
  website/src/theme/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Create index.tsx
  website/src/theme/DocCardList/index.tsx
Due: eslint --fix, master-writer

Add files via upload
  website/src/theme/DocCardList/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

docs(website): satisfy eslint consistent-return in marquee effect
  argos/tests/screenshot.css
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Create pb.md
  website/docs/pb/pb.md
Due: master-writer

meta: add a section on AI-assisted PRs in CONTRIBUTING guide
  CONTRIBUTING.md
Due: master-writer

meta: add a section on AI-assisted PRs in CONTRIBUTING guide (#11388)
  CONTRIBUTING.md
Due: master-writer

dogfood repro
  website/_dogfooding/_docs tests/tests/visibility/unlisted-except-index/index.mdx
  website/_dogfooding/_docs tests/tests/visibility/unlisted-except-index/unlisted1.mdx
  website/_dogfooding/_docs tests/tests/visibility/unlisted-except-index/unlisted2.mdx
Due: master-writer

Transform docs sidebar categories with unlisted childrens to simple link items
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
Due: eslint --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

minor refactor
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
Due: eslint --fix, master-writer

fix(theme): render sidebar category index with unlisted children as a simple doc/link item (#11389)
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  project-words.txt
  website/_dogfooding/_docs tests/tests/visibility/unlisted-except-index/index.mdx
  website/_dogfooding/_docs tests/tests/visibility/unlisted-except-index/unlisted1.mdx
  website/_dogfooding/_docs tests/tests/visibility/unlisted-except-index/unlisted2.mdx
Due: eslint --fix, master-writer

feat: Update homepage title for project context
  website/src/pages/index.tsx
Due: eslint --fix, master-writer

Change trigger from pull_request_target to pull_request
  .github/workflows/lighthouse-report.yml
Due: master-writer

chore(ci): Change Lighthouse trigger from pull_request_target to pull_request (#11393)
  .github/workflows/lighthouse-report.yml
Due: master-writer

fix(theme-classic): show target state icon and tooltip in color mode toggle
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/index.tsx
  packages/docusaurus-theme-classic/src/theme/ColorModeToggle/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Deployment example for Buildkite
  website/docs/deployment.mdx
Due: master-writer

Resolve @site/* markdown links, fix resolution priority bugs
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
  website/_dogfooding/_docs tests/tests/links/resolution/index.mdx
Due: eslint --fix, master-writer

improve markdown links docs
  website/docs/guides/markdown-features/markdown-features-links.mdx
Due: master-writer

refactor a bit
  packages/docusaurus-utils/src/markdownLinks.ts
Due: eslint --fix, master-writer

feat(mdx): resolve `@site/*` markdown links, fix resolution priority bugs (#11397)
  packages/docusaurus-utils/src/__tests__/markdownLinks.test.ts
  packages/docusaurus-utils/src/markdownLinks.ts
  website/_dogfooding/_docs tests/tests/links/resolution/index.mdx
  website/docs/guides/markdown-features/markdown-features-links.mdx
Due: eslint --fix, master-writer

fix AskAI spelling in comments
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaAskAi.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
Due: eslint --fix, master-writer

fix little hydration mismatch due to CSS optimizations
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
Due: eslint --fix, master-writer

various type improvements
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
Due: eslint --fix, master-writer

improve config validation
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
Due: eslint --fix, master-writer

upgrade algolia packages
  packages/docusaurus-theme-search-algolia/package.json
  yarn.lock
Due: master-writer

restore AskAI feature until PR ready
  package.json
  website/docusaurus.config.ts
  yarn.lock
Due: eslint --fix, master-writer

docs
  website/docs/search.mdx
Due: master-writer

remove useless optional types for translations
  packages/docusaurus-theme-search-algolia/src/theme/SearchTranslations/index.ts
Due: eslint --fix, master-writer

restore former translation key order to easy code review
  packages/docusaurus-theme-search-algolia/src/theme/SearchTranslations/index.ts
Due: eslint --fix, master-writer

add useful v4 upgrade TODO
  packages/docusaurus-theme-search-algolia/src/theme/SearchTranslations/index.ts
Due: eslint --fix, master-writer

add missing translations + upgrade base locale file
  packages/docusaurus-theme-search-algolia/src/theme/SearchTranslations/index.ts
  packages/docusaurus-theme-translations/locales/base/theme-search-algolia.json
Due: eslint --fix, master-writer

lint fix
  website/docusaurus.config.ts
Due: eslint --fix, master-writer
