Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

feat(core): allow external links to be opened in same tab
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/__tests__/Link.test.tsx
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/configValidation.ts
  website/_dogfooding/_pages tests/markdown-tests-mdx.mdx
  website/docs/api/docusaurus.config.js.mdx
Due: eslint --fix, master-writer

docs: fix announcement bar css selector
  website/src/css/custom.css
Due: stylelint --allow-empty-input --fix, master-writer

docs: fix announcement bar css selector (#11262)
  website/src/css/custom.css
Due: stylelint --allow-empty-input --fix, master-writer

make useHistorySelector() hydration-safe + use it for search/hash in theme
  argos/tests/screenshot.spec.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
Due: eslint --fix, master-writer

fix(theme): make `useHistorySelector()` hydration-safe + use it read search/hash in theme (#11263)
  argos/tests/screenshot.spec.ts
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
Due: eslint --fix, master-writer

fix(theme-common): remove superfluous aria region from skip-to-content link
  packages/docusaurus-theme-common/src/utils/skipToContentUtils.tsx
Due: eslint --fix, master-writer

fix: dev server HTML lang attribute
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/templates/dev.html.template.ejs
Due: eslint --fix, master-writer

use htmlLang instead of locale name
  packages/docusaurus/src/webpack/client.ts
Due: eslint --fix, master-writer

fix(dev-server): use correct dev server HTML lang attribute (#11271)
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/templates/dev.html.template.ejs
Due: eslint --fix, master-writer

Update create-a-page.md
  packages/create-docusaurus/templates/shared/docs/tutorial-basics/create-a-page.md
Due: master-writer

Update intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: master-writer

Export FooterColumnItem type
  packages/docusaurus-theme-common/src/index.ts
Due: eslint --fix, master-writer

Fix sidebar item className/customProps not propagated when an empty category gets post-processed to a doc
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-doc-label/docs/hello-2.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-doc-label/sidebars.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/postProcessor.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/postProcessor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/postProcessor.ts
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/dir-with-unique-index/index.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-className.mdx
Due: eslint --fix, master-writer

fix(theme-common): Export FooterColumnItem type (#11280)
  packages/docusaurus-theme-common/src/index.ts
Due: eslint --fix, master-writer

fix(docs): Fix empty sidebar item category `className` lost when post-processed to a doc (#11281)
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-doc-label/docs/hello-2.md
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/site-with-doc-label/sidebars.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/props.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/__snapshots__/postProcessor.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/sidebars/__tests__/postProcessor.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/postProcessor.ts
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/dir-with-unique-index/index.mdx
  website/_dogfooding/_docs tests/tests/sidebar-frontmatter/doc-with-sidebar-className.mdx
Due: eslint --fix, master-writer

Add siteConfig.markdown.emoji config option
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

docs
  website/docs/api/docusaurus.config.js.mdx
Due: master-writer

extract Markdown config types to separate file + add config.markdown.hooks.onBrokenLink
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/markdown.d.ts
Due: eslint --fix, master-writer

add onBrokenMarkdownLinks hook
  packages/docusaurus-mdx-loader/src/processor.ts
  packages/docusaurus-mdx-loader/src/remark/resolveMarkdownLinks/index.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-types/src/markdown.d.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

refactor tests + test for onBrokenMarkdownLinks
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
Due: eslint --fix, master-writer

fix types
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/reporting.d.ts
Due: eslint --fix, master-writer

fix tests
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
Due: eslint --fix, master-writer

add deprecation warning for siteConfig.onBrokenMarkdownLinks + use it as a retro-compatible fallback for config.markdown.hooks.onBrokenMarkdownLinks
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

fix types
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/markdown.d.ts
Due: eslint --fix, master-writer

remove deprecated options from init templates + website
  packages/create-docusaurus/templates/classic-typescript/docusaurus.config.ts
  packages/create-docusaurus/templates/classic/docusaurus.config.js
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

upgade test message
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

upgrade snapshots
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
Due: master-writer

Add tests for resolveMarkdownLinks
  packages/docusaurus-mdx-loader/src/remark/resolveMarkdownLinks/__tests__/index.test.ts
Due: eslint --fix, master-writer

Support onBrokenMarkdownLinks function form and broken url recovery
  packages/docusaurus-mdx-loader/src/remark/resolveMarkdownLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/resolveMarkdownLinks/index.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/markdown.d.ts
Due: eslint --fix, master-writer

Update 2019-05-28-first-blog-post.md
  packages/create-docusaurus/templates/shared/blog/2019-05-28-first-blog-post.md
Due: master-writer

add onBrokenMarkdownImages config + validation
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-types/src/markdown.d.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

refactor bad TS imports
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
