Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

typo
  website/community/5-release-process.mdx
Due: master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

fix broken links
  website/blog/releases/3.0/index.mdx
  website/community/4-canary.mdx
Due: master-writer

docs: adjust the Docusaurus release process documentation to our new simpler process (#11181)
  project-words.txt
  website/blog/releases/3.0/index.mdx
  website/community/4-canary.mdx
  website/community/5-release-process.mdx
  website/src/components/Versions.tsx
Due: eslint --fix, master-writer

more isolation examples
  website/_dogfooding/_pages tests/style-isolation/index.tsx
Due: eslint --fix, master-writer

more isolation examples
  website/_dogfooding/_pages tests/style-isolation/index.module.css
  website/_dogfooding/_pages tests/style-isolation/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

add example border/wrapper
  website/_dogfooding/_pages tests/style-isolation/index.module.css
  website/_dogfooding/_pages tests/style-isolation/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(theme-classic): restore right padding on sidebar (DocSidebar) in Firefox
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/Content/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

docs: fix highlighted lines in github link to commonly used languages
  website/docs/guides/markdown-features/markdown-features-code-blocks.mdx
Due: master-writer

scaffold plugin
  packages/docusaurus-plugin-css-cascade-layers/.npmignore
  packages/docusaurus-plugin-css-cascade-layers/README.md
  packages/docusaurus-plugin-css-cascade-layers/package.json
  packages/docusaurus-plugin-css-cascade-layers/src/__tests__/options.test.ts
  packages/docusaurus-plugin-css-cascade-layers/src/index.ts
  packages/docusaurus-plugin-css-cascade-layers/src/options.ts
  packages/docusaurus-plugin-css-cascade-layers/src/types.d.ts
  packages/docusaurus-plugin-css-cascade-layers/tsconfig.json
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-theme-classic/src/index.ts
Due: eslint --fix, master-writer

preset deps
  packages/docusaurus-preset-classic/package.json
Due: master-writer

move code to the plugin
  packages/docusaurus-plugin-css-cascade-layers/src/index.ts
  packages/docusaurus-theme-classic/src/index.ts
  packages/docusaurus-theme-classic/src/layers.css
  website/_dogfooding/_pages tests/style-isolation/index.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

revert useless diff
  packages/docusaurus-theme-classic/src/index.ts
Due: eslint --fix, master-writer

Add default layers
  packages/docusaurus-plugin-css-cascade-layers/src/index.ts
  packages/docusaurus-plugin-css-cascade-layers/src/options.ts
Due: eslint --fix, master-writer

Add all the needed layers
  packages/docusaurus-plugin-css-cascade-layers/src/index.ts
  packages/docusaurus-plugin-css-cascade-layers/src/options.ts
Due: eslint --fix, master-writer

emit layers declaration file
  packages/docusaurus-plugin-css-cascade-layers/src/__tests__/options.test.ts
  packages/docusaurus-plugin-css-cascade-layers/src/index.ts
  packages/docusaurus-plugin-css-cascade-layers/src/options.ts
Due: eslint --fix, master-writer

options tests
  packages/docusaurus-plugin-css-cascade-layers/src/__tests__/options.test.ts
  packages/docusaurus-plugin-css-cascade-layers/src/options.ts
Due: eslint --fix, master-writer

options tests + postcss plugin refactor
  packages/docusaurus-plugin-css-cascade-layers/src/__tests__/layers.test.ts
  packages/docusaurus-plugin-css-cascade-layers/src/__tests__/options.test.ts
  packages/docusaurus-plugin-css-cascade-layers/src/index.ts
  packages/docusaurus-plugin-css-cascade-layers/src/layers.ts
  packages/docusaurus-plugin-css-cascade-layers/src/options.ts
  packages/docusaurus-plugin-css-cascade-layers/src/postCssPlugin.ts
Due: eslint --fix, master-writer

comment
  packages/docusaurus-plugin-css-cascade-layers/src/options.ts
Due: eslint --fix, master-writer

Add v4.useCssCascadeLayers flag
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

snapshots
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
Due: master-writer

docs
  website/docs/api/docusaurus.config.js.mdx
  website/docs/api/plugins/overview.mdx
  website/docs/api/plugins/plugin-css-cascade-layers.mdx
Due: master-writer

docs
  website/docs/api/plugins/plugin-css-cascade-layers.mdx
Due: master-writer

feat(theme): new CSS cascade layers plugin + built-in `v4.useCssCascadeLayers` future flag (#11142)
  packages/docusaurus-plugin-css-cascade-layers/.npmignore
  packages/docusaurus-plugin-css-cascade-layers/README.md
  packages/docusaurus-plugin-css-cascade-layers/package.json
  packages/docusaurus-plugin-css-cascade-layers/src/__tests__/layers.test.ts
  packages/docusaurus-plugin-css-cascade-layers/src/__tests__/options.test.ts
  packages/docusaurus-plugin-css-cascade-layers/src/index.ts
  packages/docusaurus-plugin-css-cascade-layers/src/layers.ts
  packages/docusaurus-plugin-css-cascade-layers/src/options.ts
  packages/docusaurus-plugin-css-cascade-layers/src/postCssPlugin.ts
  packages/docusaurus-plugin-css-cascade-layers/src/types.d.ts
  packages/docusaurus-plugin-css-cascade-layers/tsconfig.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-theme-classic/src/theme/Navbar/Content/styles.module.css
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  project-words.txt
  website/_dogfooding/_pages tests/index.mdx
  website/_dogfooding/_pages tests/style-isolation/index.module.css
  website/_dogfooding/_pages tests/style-isolation/index.tsx
  website/docs/api/docusaurus.config.js.mdx
  website/docs/api/plugins/overview.mdx
  website/docs/api/plugins/plugin-css-cascade-layers.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

update publish non-tagged prs
  admin/publish.md
Due: master-writer

changelog
  CHANGELOG.md
Due: master-writer

3.8 blog
  website/blog/releases/3.8/img/social-card.png
  website/blog/releases/3.8/index.mdx
Due: master-writer

3.8 blog
  website/blog/releases/3.8/index.mdx
Due: master-writer

refactor: remove unnecessary undefined & use optional chain
  packages/docusaurus-plugin-content-docs/src/sidebars/utils.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/helpers.js
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
Due: eslint --fix, master-writer

Update intro.md
  packages/create-docusaurus/templates/shared/docs/intro.md
Due: master-writer

upgrade tinyglobby
  packages/docusaurus-utils/package.json
  yarn.lock
Due: master-writer

simplify
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
Due: eslint --fix, master-writer
