Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

simplify swizzle tests, remove anti-patterns
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
Due: eslint --fix, master-writer

add comment
  test/snapshotPathNormalizer.ts
Due: eslint --fix, master-writer

fix getHttpsConfig test antipatterns
  packages/docusaurus/src/webpack/utils/__tests__/getHttpsConfig.test.ts
Due: eslint --fix, master-writer

use vi.stubEnv() instead of anti-patterns
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus/src/client/exports/__tests__/BrowserOnly.test.tsx
Due: eslint --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

refactor(test): improve Vitest tests, remove test anti-patterns (#12058)
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus/src/client/exports/__tests__/BrowserOnly.test.tsx
  packages/docusaurus/src/commands/swizzle/__tests__/index.test.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/utils/__tests__/getHttpsConfig.test.ts
  project-words.txt
  test/snapshotPathNormalizer.ts
Due: eslint --fix, master-writer

fix(core): use locale url in site config (#12054)
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/site.test.ts
  packages/docusaurus/src/server/site.ts
Due: eslint --fix, master-writer

fix(theme-classic): remove redundant title attribute from sidebar CategoryLinkLabel
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
Due: eslint --fix, master-writer

fix(core): support non-RSA TLS certs and add --https / --ssl-cert / --ssl-key CLI flags
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/start/start.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/webpack/utils/__tests__/__fixtures__/getHttpsConfig/host-ec.crt
  packages/docusaurus/src/webpack/utils/__tests__/__fixtures__/getHttpsConfig/host-ec.key
  packages/docusaurus/src/webpack/utils/__tests__/__fixtures__/getHttpsConfig/other-ec.key
  packages/docusaurus/src/webpack/utils/__tests__/getHttpsConfig.test.ts
  packages/docusaurus/src/webpack/utils/getHttpsConfig.ts
Due: eslint --fix, master-writer

Address slorber's comments
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/dotted-directory.whatever/README.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
Due: eslint --fix, master-writer

fix(utils): normalize MSYS/Cygwin Git paths on Windows
  packages/docusaurus-utils/src/__tests__/pathUtils.test.ts
  packages/docusaurus-utils/src/pathUtils.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
Due: eslint --fix, master-writer

fix(utils): preserve author names containing commas in git log parsing
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
Due: eslint --fix, master-writer

fix(theme): make navbar width consistent with main layout on large displays (#7562)
  packages/docusaurus-theme-classic/src/theme/Navbar/Layout/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

fix(theme-common): fixed numbers being erroneously recognized as emojis
  packages/docusaurus-theme-common/src/utils/__tests__/emojiUtils.test.ts
  packages/docusaurus-theme-common/src/utils/emojiUtils.ts
Due: eslint --fix, master-writer

docs: improve README wording
  README.md
Due: master-writer

fix(docs): resolve metadata paths with zero-width spaces
  packages/docusaurus-plugin-content-docs/src/contentHelpers.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/metadataUtils.ts
  website/_dogfooding/_docs tests/tests/zero-width-spaces/end​/index.mdx
  website/_dogfooding/_docs tests/tests/zero-width-spaces/mi​ddle/index.mdx
  website/_dogfooding/_docs tests/tests/zero-width-spaces/​start/index.mdx
Due: eslint --fix, master-writer

Delete packages/docusaurus-theme-classic/src/theme/DocSidebarItem/__tests__/index.test.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/__tests__/index.test.tsx
Due: eslint --fix, master-writer

fix lint
  project-words.txt
Due: master-writer

fix syncpack CI typo
  .github/workflows/lint-autofix.yml
Due: master-writer

docs: add AI / Agents community plugins sub-section (#12035)
  project-words.txt
  website/community/2-resources.mdx
Due: master-writer

fix(theme-classic): remove redundant sidebar label titles (#11966)
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/index.tsx
Due: eslint --fix, master-writer

gate release/publish/argos actions to upstream repo only
  .github/workflows/argos.yml
  .github/workflows/continuous-releases.yml
  .github/workflows/publish.yml
Due: master-writer

improve Argos if condition readability
  .github/workflows/argos.yml
Due: master-writer

restore original codeql job
  .github/workflows/codeql-analysis.yml
Due: master-writer

restore original codeql job + add some config
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: master-writer

only on source repo
  .github/workflows/codeql-analysis.yml
Due: master-writer

fix(ci): forks should not run publish/argos workflows + fix lint fix typo (#12078)
  .github/workflows/argos.yml
  .github/workflows/continuous-releases.yml
  .github/workflows/lint-autofix.yml
  .github/workflows/publish.yml
Due: master-writer

example
  .github/codeql/codeql-config.yml
Due: master-writer

add CodeQL paths-ignore
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: master-writer
