Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

refactor: apply lint autofix
  project-words.txt
Due: prettier --ignore-unknown --write

document useColorMode tradeoffs + data-attribute variables
  website/docs/api/themes/theme-configuration.mdx
Due: prettier --ignore-unknown --write

Add history blocker workaround
  packages/docusaurus-theme-common/src/contexts/navbarMobileSidebar.tsx
  website/_dogfooding/_pages tests/history-tests.tsx
  website/_dogfooding/_pages tests/index.mdx
Due: eslint --fix, prettier --ignore-unknown --write

fix(theme): mobile drawer history blocker should be rendered conditionally (workaround) (#10989)
  packages/docusaurus-theme-common/src/contexts/navbarMobileSidebar.tsx
  website/_dogfooding/_pages tests/history-tests.tsx
  website/_dogfooding/_pages tests/index.mdx
Due: eslint --fix, prettier --ignore-unknown --write

added Rale4J
  website/src/data/users.tsx
Due: eslint --fix, prettier --ignore-unknown --write

showcase image added
  website/src/data/showcase/rale4j.png
Due: prettier --ignore-unknown --write

chore(deps): upgrade copy-webpack-plugin to 13.0.0
  packages/docusaurus-bundler/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix(module-type-aliases): pin react-helmet-async to @slorber/react-helmet-async@1.3.0
  packages/docusaurus-module-type-aliases/package.json
Due: prettier --ignore-unknown --write

allow ReactNode for CodeBlock title
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  website/_dogfooding/_pages tests/code-block-tests.mdx
Due: eslint --fix, prettier --ignore-unknown --write

fix example
  website/_dogfooding/_pages tests/code-block-tests.mdx
Due: prettier --ignore-unknown --write

fix(theme): CodeBlock should accept `title` of `ReactNode` type (#10999)
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  website/_dogfooding/_pages tests/code-block-tests.mdx
Due: eslint --fix, prettier --ignore-unknown --write

fix(module-type-aliases): pin react-helmet-async to @slorber/react-helmet-async@1.3.0 (#10998)
  packages/docusaurus-module-type-aliases/package.json
Due: prettier --ignore-unknown --write

refactor with iso behavior
  packages/docusaurus-mdx-loader/src/remark/toc/utils.ts
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add unit tests
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/utils.test.ts
Due: eslint --fix, prettier --ignore-unknown --write

change behavior for <img> tags
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/utils.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(mdx-loader): refactor and fix heading to toc html value serialization (#11004)
  packages/docusaurus-mdx-loader/src/remark/toc/__tests__/utils.test.ts
  packages/docusaurus-mdx-loader/src/remark/toc/utils.ts
  packages/docusaurus-mdx-loader/src/remark/utils/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add rspack tracing/profiling
  .gitignore
  package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add CLI start PerfLogger
  packages/docusaurus/src/commands/start/start.ts
Due: eslint --fix, prettier --ignore-unknown --write

cleanup BundlerCPUProfilerPlugin
  .gitignore
  package.json
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/plugins/BundlerCPUProfilerPlugin.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(core): Add bundler tracing/profiling (#11006)
  .gitignore
  package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus/src/commands/start/start.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/plugins/BundlerCPUProfilerPlugin.ts
Due: eslint --fix, prettier --ignore-unknown --write

Optimize openBrowser() util
  packages/docusaurus/src/commands/utils/openBrowser/openBrowser.ts
Due: eslint --fix, prettier --ignore-unknown --write

perf(core): Optimize `docusaurus start/serve`, fix `openBrowser()` perf issue on macOS (#11007)
  packages/docusaurus/src/commands/utils/openBrowser/openBrowser.ts
Due: eslint --fix, prettier --ignore-unknown --write

almost working
  .eslintignore
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/deps.d.ts
  packages/docusaurus-plugin-ideal-image/src/plugin-ideal-image.d.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/LICENSE
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/README.md
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/__snapshots__/icon.js.snap
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/composeStyle.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/helpers.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/helpers.node.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/icon.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Download.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Loading.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Offline.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Warning.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImage/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImageWithDefaults/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Media/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/MediaWithDefaults/README.md
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/MediaWithDefaults/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/composeStyle.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/constants.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/helpers.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/icons.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/loaders.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/theme.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/theme.module.css
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/unfetch.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/index.tsx
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/types.d.ts
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

cspell ignore
  .cspell.json
Due: prettier --ignore-unknown --write

type fixes
  packages/docusaurus-plugin-ideal-image/src/plugin-ideal-image.d.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/types.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor(ideal-image-plugin): internalize legacy component code (#11010)
  .cspell.json
  .eslintignore
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/deps.d.ts
  packages/docusaurus-plugin-ideal-image/src/plugin-ideal-image.d.ts
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImage/index.tsx
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/LICENSE
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/README.md
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/__snapshots__/icon.js.snap
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/composeStyle.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/helpers.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/helpers.node.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/__tests__/icon.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Download.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Loading.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Offline.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/Warning.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Icon/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImage/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/IdealImageWithDefaults/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/Media/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/MediaWithDefaults/README.md
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/MediaWithDefaults/index.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/composeStyle.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/constants.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/helpers.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/icons.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/loaders.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/theme.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/theme.module.css
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/components/unfetch.js
  packages/docusaurus-plugin-ideal-image/src/theme/IdealImageLegacy/index.tsx
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
