Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

break(bundler): always minify CSS with Lightning CSS, remove cssnano and future.faster.lightningCssMinimizer (AI-assisted)
  knip.config.ts
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/browserslist.ts
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/loaders/jsLoader.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-cssnano-preset/.npmignore
  packages/docusaurus-cssnano-preset/README.md
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-cssnano-preset/src/deps.d.ts
  packages/docusaurus-cssnano-preset/src/index.ts
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__fixtures__/important_rule.css
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__fixtures__/normal.css
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/index.test.ts
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/index.ts
  packages/docusaurus-cssnano-preset/tsconfig.json
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  pnpm-lock.yaml
  website/docs/api/docusaurus.config.js.mdx
  website/docs/cli.mdx
  website/docusaurus.config.ts
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

break(core, mdx-loader): always enable the MDX cross-compiler cache, remove the future.faster.mdxCrossCompilerCache flag (AI-assisted)
  packages/docusaurus-mdx-loader/src/createMDXLoader.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

refactor(core): remove dedicated error for the removed mdxCrossCompilerCache flag (AI-assisted)
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

chore(bundler): migrate to minimizer-webpack-plugin, upgrade cssnano to v8 (AI-assisted)
  knip.config.ts
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-faster/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

docs: clean-css is not used anymore (AI-assisted)
  website/docs/api/docusaurus.config.js.mdx
Due: master-writer

break(core): remove future.faster.swcJsLoader flag, Rspack always uses built-in SWC loader (AI-assisted)
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/loaders/__tests__/jsLoader.test.ts
  packages/docusaurus-bundler/src/loaders/jsLoader.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/siteMessages.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/siteMessages.ts
  pnpm-lock.yaml
  website/docs/api/docusaurus.config.js.mdx
  website/docs/configuration.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

break(core, mdx-loader): always enable the MDX cross-compiler cache, remove the future.faster.mdxCrossCompilerCache flag (AI-assisted) (#12605)
  packages/docusaurus-mdx-loader/src/createMDXLoader.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/plugins/synthetic.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

ci(build-perf): rebuild packages for the base branch in Build Size Report (AI-assisted)
  .github/workflows/build-perf.yml
Due: master-writer

break(core): remove future.faster.swcJsLoader flag, Rspack always uses built-in SWC loader (AI-assisted) (#12606)
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/loaders/__tests__/jsLoader.test.ts
  packages/docusaurus-bundler/src/loaders/jsLoader.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/siteMessages.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/siteMessages.ts
  pnpm-lock.yaml
  website/docs/api/docusaurus.config.js.mdx
  website/docs/configuration.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

ci(build-perf): shorten comment (AI-assisted)
  .github/workflows/build-perf.yml
Due: master-writer

ci(build-perf): rebuild packages for the base branch in Build Size Report (AI-assisted) (#12608)
  .github/workflows/build-perf.yml
Due: master-writer

break(core): remove `future.faster.gitEagerVcs` flag, make eager Git VCS the default (AI-assisted)
  lib/.tsbuildinfo
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

break(bundler): always minify CSS with Lightning CSS, remove cssnano and `future.faster.lightningCssMinimizer` (AI-assisted) (#12604)
  knip.config.ts
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/browserslist.ts
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/loaders/jsLoader.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-cssnano-preset/.npmignore
  packages/docusaurus-cssnano-preset/README.md
  packages/docusaurus-cssnano-preset/package.json
  packages/docusaurus-cssnano-preset/src/deps.d.ts
  packages/docusaurus-cssnano-preset/src/index.ts
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__fixtures__/important_rule.css
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__fixtures__/normal.css
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/__tests__/index.test.ts
  packages/docusaurus-cssnano-preset/src/remove-overridden-custom-properties/index.ts
  packages/docusaurus-cssnano-preset/tsconfig.json
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  pnpm-lock.yaml
  website/docs/api/docusaurus.config.js.mdx
  website/docs/cli.mdx
  website/docusaurus.config.ts
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

chore: remove accidentally committed lib/.tsbuildinfo (AI-assisted)
  lib/.tsbuildinfo
Due: master-writer

refactor(core): drop custom gitEagerVcs removal error, rely on unknown-key validation (AI-assisted)
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

break(bundler): remove the @docusaurus/faster package, move its code and dependencies to @docusaurus/bundler (AI-assisted)
  .syncpackrc.ts
  knip.config.ts
  packages/create-docusaurus/templates/classic-typescript/package.json
  packages/create-docusaurus/templates/classic/package.json
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/currentBundler.ts
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/index.ts
  packages/docusaurus-bundler/src/loaders/jsLoader.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-bundler/src/minifyHtml.ts
  packages/docusaurus-bundler/src/rspack.ts
  packages/docusaurus-bundler/src/swc.ts
  packages/docusaurus-faster/.npmignore
  packages/docusaurus-faster/README.md
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/tsconfig.json
  packages/docusaurus/package.json
  pnpm-lock.yaml
  website/docs/api/docusaurus.config.js.mdx
Due: eslint --fix, master-writer

break(core): promote `future.experimental_vcs` to stable `vcs` site config, rename presets to `default` / `default-v3` (AI-assisted)
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/loadVersion.test.ts
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemapItem.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemapItem.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-utils/src/lastUpdateUtils.ts
  packages/docusaurus-utils/src/vcs/vcs.ts
  packages/docusaurus-utils/src/vcs/vcsDefault.ts
  packages/docusaurus-utils/src/vcs/vcsDefaultV3.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/site.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

chore(monorepo): replace unmaintained npm-run-all with npm-run-all2 (AI-assisted)
  package.json
  pnpm-lock.yaml
Due: master-writer

break(core): remove `future.faster.gitEagerVcs` flag, make eager Git VCS the default (AI-assisted) (#12613)
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

break(core): promote `future.experimental_vcs` to stable `vcs` site config, rename presets to `default` / `default-v3` (AI-assisted) (#12615)
  packages/docusaurus-plugin-content-blog/src/__tests__/feed.test.ts
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/versions/__tests__/loadVersion.test.ts
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemapItem.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemapItem.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-utils/src/lastUpdateUtils.ts
  packages/docusaurus-utils/src/vcs/vcs.ts
  packages/docusaurus-utils/src/vcs/vcsDefault.ts
  packages/docusaurus-utils/src/vcs/vcsDefaultV3.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/server/site.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

break(core): remove future.faster.swcHtmlMinimizer flag, always minify HTML with SWC (AI-assisted)
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/minifyHtml.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/ssg/ssgParams.ts
  packages/docusaurus/src/ssg/ssgRenderer.ts
  pnpm-lock.yaml
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

break(core): remove `future.faster.swcHtmlMinimizer` flag, always minify HTML with SWC (AI-assisted) (#12609)
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/minifyHtml.ts
  packages/docusaurus-faster/package.json
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/ssg/ssgParams.ts
  packages/docusaurus/src/ssg/ssgRenderer.ts
  pnpm-lock.yaml
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

break(core): remove future.faster.swcJsMinimizer flag, always minify JS with SWC (AI-assisted)
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/importFaster.ts
  packages/docusaurus-bundler/src/index.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-faster/src/index.ts
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/webpack/__tests__/base.test.ts
  packages/docusaurus/src/webpack/__tests__/client.test.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/server.ts
  pnpm-lock.yaml
  website/docs/api/docusaurus.config.js.mdx
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/client.ts
Due: eslint --fix, master-writer

test(core): fix faster override test after gitEagerVcs flag removal (AI-assisted)
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
Due: eslint --fix, master-writer

chore(bundler): remove Terser JS and HTML minifiers, remove html-minifier-terser (AI-assisted)
  packages/docusaurus-bundler/package.json
  packages/docusaurus-bundler/src/index.ts
  packages/docusaurus-bundler/src/minification.ts
  packages/docusaurus-bundler/src/minifyHtml.ts
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus/src/ssg/ssgRenderer.ts
  packages/docusaurus/src/webpack/base.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

break(core): disable markdown.mdx1Compat options by default, remove future.v4.mdx1CompatDisabledByDefault flag (AI-assisted)
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docs/guides/markdown-features/markdown-features-toc.mdx
Due: eslint --fix, master-writer

break(core): namespace site storage by default, remove future.v4.siteStorageNamespacing flag (AI-assisted)
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/__tests__/site.test.ts
  packages/docusaurus/src/server/__tests__/storage.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
Due: eslint --fix, master-writer

break(sitemap): change `lastmod` default from `null` to `'date'` (AI-assisted)
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemapItem.test.ts
  packages/docusaurus-plugin-sitemap/src/__tests__/options.test.ts
  packages/docusaurus-plugin-sitemap/src/options.ts
  website/docs/api/plugins/plugin-sitemap.mdx
Due: eslint --fix, master-writer

break(core): remove deprecated `siteConfig.onBrokenMarkdownLinks` config option (AI-assisted)
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/docusaurus.config.js
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/markdown.d.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
Due: eslint --fix, master-writer

fix(sitemap): don't fail the build when the VCS can't be read for `lastmod` (AI-assisted)
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemapItem.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemapItem.ts
Due: eslint --fix, master-writer

docs: fix broken BEM link and update Flux link to HTTPS
  website/docs/migration/v2/migration-manual.mdx
  website/docs/styling-layout.mdx
Due: master-writer

docs: update BEM link to css-tricks guide per maintainer suggestion
  website/docs/styling-layout.mdx
Due: master-writer
