Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

remove usage of baseUrl
  website/docs/typescript-support.mdx
  website/tsconfig.json
Due: master-writer

shorten comment
  packages/docusaurus-theme-common/src/components/Details/index.tsx
Due: eslint --fix, master-writer

fix jsdom matchMedia()
  packages/docusaurus-theme-common/src/components/Details/__tests__/index.test.tsx
Due: eslint --fix, master-writer

test(utils): add failing MSYS CI repro for getGitRepoRoot paths
  .github/workflows/msys-git-path-repro.yml
  admin/scripts/msys-git-path-repro/repro.mjs
Due: eslint --fix, master-writer

fix(utils): convert MSYS/Git-Bash paths before realpath on Windows
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
Due: eslint --fix, master-writer

chore: fix cspell/lint for MSYS git path CI
  .github/workflows/msys-git-path-repro.yml
  admin/scripts/msys-git-path-repro/repro.mjs
  project-words.txt
Due: eslint --fix, master-writer

docs: add docusaurus-theme-zoom-image to community resources
  website/community/2-resources.mdx
Due: master-writer

fix(theme-mermaid): defer render until diagram is visible
  packages/docusaurus-theme-mermaid/src/client/index.ts
  packages/docusaurus-theme-mermaid/src/theme/Mermaid/index.tsx
Due: eslint --fix, master-writer

fix debug plugin
  packages/docusaurus-plugin-debug/src/theme/DebugLayout/index.tsx
  packages/docusaurus-plugin-debug/src/theme/DebugRoutes/index.tsx
Due: eslint --fix, master-writer

show explicit React Loadable loaders
  packages/docusaurus/src/client/theme-fallback/Loading/index.tsx
Due: eslint --fix, master-writer

minor app.tsx changes
  packages/docusaurus/src/client/App.tsx
Due: eslint --fix, master-writer

make docs render something
  packages/docusaurus-plugin-content-docs/src/client/docsClientUtils.ts
  packages/docusaurus-plugin-content-docs/src/client/docsUtils.tsx
  packages/docusaurus-theme-classic/src/theme/DocRoot/index.tsx
  packages/docusaurus-theme-classic/src/theme/Layout/index.tsx
  packages/docusaurus-theme-common/src/utils/historyUtils.ts
  packages/docusaurus/src/client/App.tsx
Due: eslint --fix, master-writer

fix(theme-classic): prevent Firefox clipping sidebar label descenders
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Category/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Link/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

fix: CVE-2026-9697 security vulnerability
  package.json
  pnpm-lock.yaml
Due: master-writer

docs: add docusaurus-plugin-dhub to community integrations
  website/community/2-resources.mdx
Due: master-writer

docs: add @deskcrew/docusaurus-plugin to community resources
  website/community/2-resources.mdx
Due: master-writer

fix(redirects): change window.location.href to window.location.replace for better redirection handling
  packages/docusaurus-plugin-client-redirects/src/templates/redirectPage.template.html.ts
Due: eslint --fix, master-writer

fix(redirects): move script tag for window.location.replace to improve HTML structure
  packages/docusaurus-plugin-client-redirects/src/templates/redirectPage.template.html.ts
Due: eslint --fix, master-writer

fix(redirects): replace window.location.href with window.location.replace for improved redirection handling in snapshots
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/writeRedirectFiles.test.ts.snap
Due: master-writer

fix(redirects): update snapshot tests to use window.location.replace for improved redirection handling
  packages/docusaurus-plugin-client-redirects/src/__tests__/__snapshots__/createRedirectPageContent.test.ts.snap
Due: master-writer

fix(utils): skip h1 headings with hashes in excerpts
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

📝 Oxford comma in linking guide
  website/docs/guides/markdown-features/markdown-features-links.mdx
Due: master-writer

fix(utils): correct auto-generated description when H1 heading text contains # (e.g. C#)
  .github/workflows/lighthouse-report.yml
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

feat(create-docusaurus): register nub package manager
  packages/create-docusaurus/src/constants.ts
Due: eslint --fix, master-writer

feat(create-docusaurus): run bun-style install command for nub
  packages/create-docusaurus/src/commands.ts
Due: eslint --fix, master-writer

feat(create-docusaurus): emit explicit run for nub script tips
  packages/create-docusaurus/src/utils.ts
Due: eslint --fix, master-writer

test(create-docusaurus): cover packageManagerScriptCommand
  packages/create-docusaurus/src/__tests__/utils.test.ts
Due: eslint --fix, master-writer

Make PendingNavigation.tsx strict-mode-compatible
  packages/docusaurus/src/client/PendingNavigation.tsx
Due: eslint --fix, master-writer

Swap react-loadable to my one of react-loadable
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/serverEntry.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, master-writer

Apply suggestion from @slorber
  website/community/2-resources.mdx
Due: master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
