Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

feat(core): add --keep-locale-path option to build command
  packages/docusaurus/src/commands/build/build.ts
  packages/docusaurus/src/commands/build/buildUtils.ts
  packages/docusaurus/src/commands/cli.ts
Due: eslint --fix, master-writer

test(core): add cli test for keep-locale-path option
  packages/docusaurus/src/commands/__tests__/cli.test.ts
Due: eslint --fix, master-writer

Update HtmlNavbarItem.tsx
  packages/docusaurus-theme-classic/src/theme/NavbarItem/HtmlNavbarItem.tsx
Due: eslint --fix, master-writer

perf(utils): stream git log output
  packages/docusaurus-utils/src/vcs/gitUtils.ts
Due: eslint --fix, master-writer

docs(tabs): document empty line requirement for Markdown lists in TabItem (AI-assisted)
  website/docs/guides/markdown-features/markdown-features-react.mdx
  website/docs/guides/markdown-features/markdown-features-tabs.mdx
Due: master-writer

chore(core): remove unused core-js dependency (AI-assisted)
  .github/workflows/tests-e2e.yml
  knip.config.ts
  packages/create-docusaurus/README.md
  packages/docusaurus-babel/src/preset.ts
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/community/4-canary.mdx
Due: eslint --fix, master-writer

chore(core): remove unused core-js dependency (AI-assisted) (#12592)
  .github/workflows/tests-e2e.yml
  knip.config.ts
  packages/create-docusaurus/README.md
  packages/docusaurus-babel/src/preset.ts
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/community/4-canary.mdx
Due: eslint --fix, master-writer

fix(create-docusaurus): fix pnpm 11+ site creation failing on unapproved build scripts (AI-assisted)
  .github/workflows/tests-e2e.yml
  packages/create-docusaurus/README.md
  packages/create-docusaurus/src/__tests__/utils.test.ts
  packages/create-docusaurus/src/commands.ts
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/src/utils.ts
  packages/create-docusaurus/templates/shared/pnpm-workspace.yaml
Due: eslint --fix, master-writer

feat: create @docusaurus/fs package with fs-extra compatible helpers (AI-assisted)
  packages/docusaurus-fs/.npmignore
  packages/docusaurus-fs/README.md
  packages/docusaurus-fs/package.json
  packages/docusaurus-fs/src/__tests__/fsUtils.test.ts
  packages/docusaurus-fs/src/fsUtils.ts
  packages/docusaurus-fs/src/index.ts
  packages/docusaurus-fs/tsconfig.json
  pnpm-lock.yaml
  project-words.txt
  vitest.config.ts
Due: eslint --fix, master-writer

refactor(create-docusaurus): drop core-js from allowBuilds, reuse runCommand (AI-assisted)
  packages/create-docusaurus/src/commands.ts
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/templates/shared/pnpm-workspace.yaml
Due: eslint --fix, master-writer

Add trigger CI re-run documentation
  .github/trigger-ci.md
Due: master-writer

Delete .github/trigger-ci.md
  .github/trigger-ci.md
Due: master-writer

docs: add ask-my-site to community resources
  website/community/2-resources.mdx
Due: master-writer

Modified the css styles
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

feat(core): add anchor magic comment support for code blocks #11617
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Due: eslint --fix, master-writer

docs: Add bugfix requirements for sidebar font style flicker (AI-assisted)
  .kiro/specs/sidebar-font-style-flicker-fix/bugfix.md
Due: master-writer

feat: create @docusaurus/fs package with fs-extra compatible helpers (AI-assisted) (#12560)
  packages/docusaurus-fs/.npmignore
  packages/docusaurus-fs/README.md
  packages/docusaurus-fs/package.json
  packages/docusaurus-fs/src/__tests__/fsUtils.test.ts
  packages/docusaurus-fs/src/fsUtils.ts
  packages/docusaurus-fs/src/index.ts
  packages/docusaurus-fs/tsconfig.json
  pnpm-lock.yaml
  project-words.txt
  vitest.config.ts
Due: eslint --fix, master-writer

feat(fs): add queueFileOperation() to bound concurrently open files (AI-assisted)
  packages/docusaurus-babel/package.json
  packages/docusaurus-babel/src/babelTranslationsExtractor.ts
  packages/docusaurus-fs/package.json
  packages/docusaurus-fs/src/__tests__/queue.test.ts
  packages/docusaurus-fs/src/index.ts
  packages/docusaurus-fs/src/queue.ts
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/writeHeadingIds.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

chore(monorepo): remove fs-extra from website, admin scripts and root (AI-assisted)
  __tests__/validate-package-json.test.ts
  __tests__/validate-tsconfig.test.ts
  admin/scripts/generateExamples.js
  admin/scripts/resizeImage.js
  eslint.rules.ts
  package.json
  pnpm-lock.yaml
  website/_dogfooding/testSwizzleThemeClassic.mjs
  website/package.json
  website/src/data/__tests__/user.test.ts
  website/src/plugins/changelog/index.ts
  website/src/plugins/changelog/utils.ts
  website/testCSSOrder.mjs
Due: eslint --fix, master-writer

feat(fs): add queueFileOperation() to bound concurrently open files (AI-assisted) (#12561)
  packages/docusaurus-babel/package.json
  packages/docusaurus-babel/src/babelTranslationsExtractor.ts
  packages/docusaurus-fs/package.json
  packages/docusaurus-fs/src/__tests__/queue.test.ts
  packages/docusaurus-fs/src/index.ts
  packages/docusaurus-fs/src/queue.ts
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/writeHeadingIds.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

chore(monorepo): remove fs-extra from website, admin scripts and root (AI-assisted) (#12566)
  __tests__/validate-package-json.test.ts
  __tests__/validate-tsconfig.test.ts
  admin/scripts/generateExamples.js
  admin/scripts/resizeImage.js
  eslint.rules.ts
  package.json
  pnpm-lock.yaml
  website/_dogfooding/testSwizzleThemeClassic.mjs
  website/package.json
  website/src/data/__tests__/user.test.ts
  website/src/plugins/changelog/index.ts
  website/src/plugins/changelog/utils.ts
  website/testCSSOrder.mjs
Due: eslint --fix, master-writer

chore(new.docusaurus.io): migrate to modern Netlify Functions API, remove @netlify/functions (AI-assisted)
  admin/new.docusaurus.io/functionUtils/playgroundUtils.ts
  admin/new.docusaurus.io/functions/codesandbox-ts.ts
  admin/new.docusaurus.io/functions/codesandbox.ts
  admin/new.docusaurus.io/functions/index.ts
  admin/new.docusaurus.io/functions/stackblitz-ts.ts
  admin/new.docusaurus.io/functions/stackblitz.ts
  admin/new.docusaurus.io/package.json
  knip.config.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

chore(new.docusaurus.io): migrate to modern Netlify Functions API, remove @netlify/functions (AI-assisted) (#12600)
  admin/new.docusaurus.io/functionUtils/playgroundUtils.ts
  admin/new.docusaurus.io/functions/codesandbox-ts.ts
  admin/new.docusaurus.io/functions/codesandbox.ts
  admin/new.docusaurus.io/functions/index.ts
  admin/new.docusaurus.io/functions/stackblitz-ts.ts
  admin/new.docusaurus.io/functions/stackblitz.ts
  admin/new.docusaurus.io/package.json
  knip.config.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

feat(fs): expose a queued fs API, remove queueFileOperation() (AI-assisted)
  packages/docusaurus-babel/src/babelTranslationsExtractor.ts
  packages/docusaurus-fs/src/__tests__/fs.test.ts
  packages/docusaurus-fs/src/__tests__/queue.test.ts
  packages/docusaurus-fs/src/fs.ts
  packages/docusaurus-fs/src/fsUtils.ts
  packages/docusaurus-fs/src/index.ts
  packages/docusaurus-fs/src/queue.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
Due: eslint --fix, master-writer

refactor: use @docusaurus/fs for all file system operations, forbid node:fs imports (AI-assisted)
  eslint.rules.ts
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/src/utils.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/opensearch.ts
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils-validation/src/tagsFile.ts
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/swizzle/actions.ts
  packages/docusaurus/src/commands/swizzle/components.ts
  packages/docusaurus/src/commands/utils/clearPath.ts
  packages/docusaurus/src/server/siteMetadata.ts
  packages/docusaurus/src/ssg/ssgRenderer.ts
  packages/docusaurus/src/ssg/ssgUtils.ts
  packages/docusaurus/src/webpack/aliases/index.ts
  packages/docusaurus/src/webpack/plugins/BundlerCPUProfilerPlugin.ts
  packages/docusaurus/src/webpack/plugins/StaticDirectoriesCopyPlugin.ts
  packages/docusaurus/src/webpack/utils/getHttpsConfig.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

feat(fs): expose a queued fs API, remove queueFileOperation() (AI-assisted) (#12601)
  packages/docusaurus-babel/src/babelTranslationsExtractor.ts
  packages/docusaurus-fs/src/__tests__/fs.test.ts
  packages/docusaurus-fs/src/__tests__/queue.test.ts
  packages/docusaurus-fs/src/fs.ts
  packages/docusaurus-fs/src/fsUtils.ts
  packages/docusaurus-fs/src/index.ts
  packages/docusaurus-fs/src/queue.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
Due: eslint --fix, master-writer

refactor: use @docusaurus/fs for all file system operations, forbid node:fs imports (AI-assisted) (#12602)
  eslint.rules.ts
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/src/utils.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
  packages/docusaurus-plugin-content-blog/src/feed.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars/index.ts
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/opensearch.ts
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils-validation/src/tagsFile.ts
  packages/docusaurus-utils/src/dataFileUtils.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/commands/swizzle/actions.ts
  packages/docusaurus/src/commands/swizzle/components.ts
  packages/docusaurus/src/commands/utils/clearPath.ts
  packages/docusaurus/src/server/siteMetadata.ts
  packages/docusaurus/src/ssg/ssgRenderer.ts
  packages/docusaurus/src/ssg/ssgUtils.ts
  packages/docusaurus/src/webpack/aliases/index.ts
  packages/docusaurus/src/webpack/plugins/BundlerCPUProfilerPlugin.ts
  packages/docusaurus/src/webpack/plugins/StaticDirectoriesCopyPlugin.ts
  packages/docusaurus/src/webpack/utils/getHttpsConfig.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

chore(monorepo): make admin/scripts the @docusaurus/monorepo-scripts workspace package, call copy-untyped-files without relative path (AI-assisted)
  .syncpackrc.ts
  admin/scripts/copyUntypedFiles.js
  admin/scripts/package.json
  knip.config.ts
  package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/package.json
Due: eslint --fix, master-writer

chore(monorepo): make admin/scripts the @docusaurus/monorepo-scripts workspace package, call copy-untyped-files without relative path (AI-assisted) (#12593)
  .syncpackrc.ts
  admin/scripts/copyUntypedFiles.js
  admin/scripts/package.json
  knip.config.ts
  package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/package.json
Due: eslint --fix, master-writer

chore(deps): upgrade oxfmt to v0.70 (AI-assisted)
  admin/scripts/formatGitignoredFiles.js
  admin/scripts/package.json
  package.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
  pnpm-lock.yaml
Due: eslint --fix, master-writer

chore: reformat code with oxfmt v0.70 (AI-assisted)
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
  packages/docusaurus-utils/src/markdownUtils.ts
  website/blog/releases/3.6/index.mdx
  website/docs/api/docusaurus.config.js.mdx
  website/docs/api/plugins/plugin-svgr.mdx
  website/docs/guides/docs/docs-introduction.mdx
  website/docs/migration/v3.mdx
  website/docs/typescript-support.mdx
  website/docs/using-plugins.mdx
Due: eslint --fix, master-writer

chore: ignore the oxfmt v0.70 reformat in git blame (AI-assisted)
  .git-blame-ignore-revs
Due: master-writer
