Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

refactor: apply lint autofix
  project-words.txt
Due: master-writer

netlify use pnpm
  website/netlify.toml
Due: master-writer

fix website typecheck
  pnpm-lock.yaml
  website/package.json
Due: master-writer

lerna v9
  .github/workflows/publish.yml
  package.json
  yarn.lock
Due: master-writer

fix e2e windows
  .github/workflows/tests-e2e.yml
  pnpm-lock.yaml
Due: master-writer

fix lockfile-lint
  .github/workflows/security-supply-chain.yml
Due: master-writer

netlify fix
  website/netlify.toml
Due: master-writer

fix supply chain workflow
  .github/workflows/security-supply-chain.yml
Due: master-writer

chore(monorepo): upgrade to Lerna v9 (#12110)
  .github/workflows/publish.yml
  .github/workflows/security-supply-chain.yml
  package.json
  yarn.lock
Due: master-writer

fix windows yarn v1 e2e tests?
  .github/workflows/tests-e2e.yml
Due: master-writer

fix supply chain security script
  .github/workflows/security-supply-chain.yml
Due: master-writer

restore escapePath() in snapshot serializer for windows CI?
  test/snapshotPathNormalizer.ts
Due: eslint --fix, master-writer

try to fix windows e2e
  .github/workflows/tests-e2e.yml
Due: master-writer

Fix tar/axios CVE errors in github deps review workflow
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: master-writer

fix windows e2e?
  .github/workflows/tests-e2e.yml
Due: master-writer

minor tweak
  .github/workflows/security-supply-chain.yml
Due: master-writer

upgrade rsdoctor, fix qs security warning
  packages/docusaurus-plugin-rsdoctor/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: master-writer

use pnpm 11.5.1
  package.json
Due: master-writer

cleanup
  pnpm-workspace.yaml
Due: master-writer

Update .github/workflows/continuous-releases.yml
  .github/workflows/continuous-releases.yml
Due: master-writer

cleanup
  .github/workflows/continuous-releases.yml
  .github/workflows/security-supply-chain.yml
  .github/workflows/tests-e2e.yml
Due: master-writer

replace yarn by pnpm in docs files
  .devcontainer/devcontainer.json
  .gitpod.yml
  CONTRIBUTING.md
  admin/local-third-party-project-testing.md
  admin/publish.md
  admin/testing-changes-on-Docusaurus-itself.md
  examples/README.md
  packages/create-docusaurus/templates/README.md
  packages/docusaurus-theme-translations/locales/__tests__/locales.test.ts
  packages/docusaurus-utils/src/contentVisibilityUtils.ts
  website/README.md
  website/docusaurus.config.ts
  website/tsconfig.json
  website/tsconfig.skipLibCheck.json
Due: eslint --fix, master-writer

use pnpm instead of yarn for ci commands
  .github/workflows/tests-e2e.yml
Due: master-writer

feat(validation): add FrontMatterCreatedSchema
  packages/docusaurus-utils-validation/src/validationSchemas.ts
Due: eslint --fix, master-writer

feat(validation): export FrontMatterCreatedSchema from index
  packages/docusaurus-utils-validation/src/index.ts
Due: eslint --fix, master-writer

feat(content-docs): add created field to DocFrontMatterSchema
  packages/docusaurus-plugin-content-docs/src/frontMatter.ts
Due: eslint --fix, master-writer

feat(content-docs): add created to DocFrontMatter type definition
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
Due: eslint --fix, master-writer

feat(content-docs): thread created frontmatter field into doc metadata
  packages/docusaurus-plugin-content-docs/src/docs.ts
Due: eslint --fix, master-writer

docs(deployment): add localized 404 pages guidance for self-hosting
  website/docs/deployment.mdx
Due: master-writer

docs(deployment): update Node.js version from 20 to 24 in deployment examples
  website/docs/deployment.mdx
Due: master-writer

fix(i18n): add callout clarifying write-translations only handles JSON, not Markdown
  packages/docusaurus/src/commands/writeTranslations.ts
  website/docs/i18n/i18n-tutorial.mdx
Due: eslint --fix, master-writer

fix(examples): update stale engine and sandbox node version (#12120)
  examples/classic-typescript/package.json
  examples/classic-typescript/sandbox.config.json
  examples/classic/package.json
  examples/classic/sandbox.config.json
Due: master-writer

docs(deployment): link to DeployHQ self-hosting writeup
  website/docs/deployment.mdx
Due: master-writer

fix(theme): constrain navbar width to match content on large displays
  packages/docusaurus-theme-classic/src/theme/Navbar/Layout/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

fix(theme): replace system-ui font with proper documentation font stack
  packages/docusaurus-theme-classic/src/nprogress.css
Due: stylelint --allow-empty-input --fix, master-writer

docs: fix formatting in introduction
  website/docs/cli.mdx
Due: master-writer

fix(blog): add null coalescing for frontMatter.tags in blog post processing
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
Due: eslint --fix, master-writer
