Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["prettier --ignore-unknown --write"]
}

move ensureLanguageClassName logic to theme-common
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix line highlighting bug
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Due: eslint --fix, prettier --ignore-unknown --write

rename tokens to lines
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Extract Pre/Code subcomponents
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
Due: eslint --fix, prettier --ignore-unknown --write

update image-size to 2.0.2 to prevent CWE-835
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Add tests for metadata language
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add tests for metadata className
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add tests for metadata title
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add tests for metadata line highlighting
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
Due: eslint --fix, prettier --ignore-unknown --write

Add tests for metadata lineNumbersStart
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor(theme): CodeBlock, centralize metadata parsing + refactor theme component (#11059)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/__tests__/codeBlockUtils.test.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.ts
Due: eslint --fix, prettier --ignore-unknown --write

introduce CodeBlockContextProvider
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Due: eslint --fix, prettier --ignore-unknown --write

refactor: apply lint autofix
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Due: eslint --fix, prettier --ignore-unknown --write

move wordWrap to context
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-common/src/hooks/useCodeWordWrap.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Due: eslint --fix, prettier --ignore-unknown --write

add comment
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/Element.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Refactor button components
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/Button/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/CopyButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/CopyButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/WordWrapButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/WordWrapButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

remove console logs
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Extract more code block components
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Title/index.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

Extract CodeBlockLineToken subcomponent
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/Token/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

add TODOs
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/Element.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
Due: eslint --fix, prettier --ignore-unknown --write

update image-size to 2.0.2 to prevent CWE-835 in mdx-loader also
  packages/docusaurus-mdx-loader/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

refactor(theme): introduce CodeBlockContextProvider + split into smaller components (#11062)
  packages/docusaurus-theme-classic/src/getSwizzleConfig.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/Button/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/CopyButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/CopyButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/WordWrapButton/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/WordWrapButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/Element.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Layout/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/Token/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Line/index.tsx
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Title/index.tsx
  packages/docusaurus-theme-common/src/hooks/useCodeWordWrap.ts
  packages/docusaurus-theme-common/src/internal.ts
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

upgrade image-size to v2
  admin/scripts/resizeImage.js
  package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

fix resizeImage script
  admin/scripts/resizeImage.js
  website/src/data/showcase/Seaography.png
Due: eslint --fix, prettier --ignore-unknown --write

fix tests
  website/src/data/__tests__/user.test.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix mermaid bug
  packages/docusaurus-theme-mermaid/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

refactor: apply lint autofix
  yarn.lock
Due: prettier --ignore-unknown --write

chore: upgrade image-size deps to v2 (#11065)
  admin/scripts/resizeImage.js
  package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/remark/transformImage/index.ts
  website/src/data/__tests__/user.test.ts
  website/src/data/showcase/Seaography.png
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

chore: upgrade mermaid, fix diagram labels bug (#11066)
  packages/docusaurus-theme-mermaid/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

re-enable parallelCodeSplitting
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(core): enable Rspack `parallelCodeSplitting` (#11067)
  packages/docusaurus/src/webpack/base.ts
Due: eslint --fix, prettier --ignore-unknown --write

Fix blog Atom feed XSL
  packages/docusaurus-plugin-content-blog/assets/atom.xsl
Due: prettier --ignore-unknown --write

fix(blog): fix blog Atom feed item url / XSL bug (#11068)
  packages/docusaurus-plugin-content-blog/assets/atom.xsl
Due: prettier --ignore-unknown --write
