Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

use triple installs for supply chain workflow
  .github/workflows/security-supply-chain.yml
Due: master-writer

revert versioning docs
  admin/publish.md
Due: master-writer

docs: document loading ambient types for optional plugins
  website/docs/typescript-support.mdx
Due: master-writer

docs: tighten wording in ambient-types section
  website/docs/typescript-support.mdx
Due: master-writer

extract themeConfig from preset
  packages/docusaurus-preset-classic/src/index.ts
Due: eslint --fix, master-writer

fix(theme-classic): restore color emoji presentation for DocCard category fallback
  packages/docusaurus-theme-classic/src/theme/DocCard/index.tsx
Due: eslint --fix, master-writer

refactor(mdx-loader): add MDX options builder
  packages/docusaurus-mdx-loader/src/index.ts
  packages/docusaurus-mdx-loader/src/options.ts
Due: eslint --fix, master-writer

test(mdx-loader): snapshot MDX options builder
  packages/docusaurus-mdx-loader/src/__tests__/__snapshots__/optionsBuilder.test.ts.snap
  packages/docusaurus-mdx-loader/src/__tests__/optionsBuilder.test.ts
Due: eslint --fix, master-writer

refactor(docs): build MDX loader options with builder
  packages/docusaurus-plugin-content-docs/src/index.ts
Due: eslint --fix, master-writer

refactor(blog): build MDX loader options with builder
  packages/docusaurus-plugin-content-blog/src/index.ts
Due: eslint --fix, master-writer

refactor(pages): build MDX loader options with builder
  packages/docusaurus-plugin-content-pages/src/index.ts
Due: eslint --fix, master-writer

refactor(core): build fallback MDX options with builder
  packages/docusaurus/src/server/plugins/synthetic.ts
Due: eslint --fix, master-writer

change some prettier refs
  .eslintrc.js
  AGENTS.md
Due: eslint --fix, master-writer

remove prettier from deps, remove @prettier/plugin-xml
  package.json
  yarn.lock
Due: master-writer

fix project words
  project-words.txt
Due: master-writer

fix formatting of lib/theme files for swizzling
  .oxfmtrc.json
  packages/docusaurus-plugin-debug/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-mermaid/package.json
  packages/docusaurus-theme-search-algolia/package.json
Due: master-writer

try to upgrade stylelint and fix the copyright plugin
  .stylelintrc.js
  package.json
  packages/stylelint-copyright/package.json
  packages/stylelint-copyright/src/index.ts
  yarn.lock
Due: eslint --fix, master-writer

make stylelint-copyright an ESM package
  packages/stylelint-copyright/package.json
Due: master-writer

apply style fixes
  packages/docusaurus-plugin-content-blog/assets/atom.css
  packages/docusaurus-plugin-content-blog/assets/rss.css
  packages/docusaurus-plugin-debug/src/theme/DebugLayout/styles.module.css
  packages/docusaurus-plugin-pwa/src/theme/PwaReloadPopup/styles.module.css
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/Header/Title/styles.module.css
  packages/docusaurus-theme-classic/src/theme/BlogSidebar/Desktop/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocCategoryGeneratedIndexPage/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/Layout/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/TOC/Mobile/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Main/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/ExpandButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/CollapseButton/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/Content/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocSidebarItem/Html/styles.module.css
  packages/docusaurus-theme-classic/src/theme/EditMetaRow/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Navbar/Content/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Navbar/Search/styles.module.css
  packages/docusaurus-theme-classic/src/theme/TOC/styles.module.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/styles.module.css
  website/_dogfooding/_blog tests/custom-atom.css
  website/_dogfooding/_blog tests/custom-rss.css
  website/_dogfooding/dogfooding.css
  website/blog/2022/08-01-announcing-docusaurus-2.0/ShowcaseCarousel.module.css
  website/src/css/custom.css
  website/src/pages/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

pin to pnpm 11 + migrate env variable name
  .github/workflows/security-supply-chain.yml
  .github/workflows/tests-e2e.yml
Due: master-writer

unpin
  .github/workflows/tests-e2e.yml
Due: master-writer

update pnpm-workspace.yaml
  .github/workflows/security-supply-chain.yml
  .github/workflows/tests-e2e.yml
Due: master-writer

CI: add node 26 to workflows
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  .nvmrc
Due: master-writer

upgrade workbox, fix security warning
  packages/docusaurus-plugin-pwa/package.json
  yarn.lock
Due: master-writer

upgrade precommit hooks
  .husky/pre-commit
  package.json
  yarn.lock
Due: master-writer

test
  .husky/pre-commit
Due: master-writer

upgrade precommit hook
  .husky/pre-commit
Due: master-writer

docs: fix siteConfig.url link in i18n tutorial
  website/docs/i18n/i18n-tutorial.mdx
Due: master-writer

Change file extensions from .md to .mdx in installation.mdx
  website/docs/installation.mdx
Due: master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
