Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix write-heading-ids CLI
  packages/docusaurus/src/commands/writeHeadingIds.ts
Due: eslint --fix, master-writer

add scaffolding for mdx comment syntax heading ids
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

add basic impl
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

add tests
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
Due: eslint --fix, master-writer

feat: add ESLint rules for Docusaurus best practices
  packages/docusaurus-mdx-loader/src/remark/transformImage/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/client/__tests__/docsUtils.test.tsx
  packages/docusaurus-theme-classic/src/theme/Tabs/__tests__/index.test.tsx
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
  packages/docusaurus/src/client/exports/__tests__/BrowserOnly.test.tsx
Due: eslint --fix, master-writer

Update installation.mdx
  website/docs/installation.mdx
Due: master-writer

Revert
  website/docs/installation.mdx
Due: master-writer

Fix typo: X link markdown syntax
  website/blog/2017/12-14-introducing-docusaurus.mdx
Due: master-writer

feat(content-docs): allow autogenerated ID as fallback alias for explicit ID
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/docs.test.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-docs/src/plugin-content-docs.d.ts
Due: eslint --fix, master-writer

fix(google-gtag): update @types/gtag.js to 0.0.20 (AI-assisted)
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
  packages/docusaurus-plugin-google-gtag/package.json
  yarn.lock
Due: master-writer

docs: fix minor grammar (#11766)
  website/docs/installation.mdx
Due: master-writer

add support for mdx syntax
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

add support for mdx headingId syntax
  packages/docusaurus-mdx-loader/src/remark/headings/index.ts
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

add missing test case
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
Due: eslint --fix, master-writer

extract headingId code to separate markdownHeadingIdUtils.ts
  packages/docusaurus-utils/src/__tests__/markdownHeadingIdUtils.test.ts
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownHeadingIdUtils.ts
  packages/docusaurus-utils/src/markdownUtils.ts
Due: eslint --fix, master-writer

dedent tests
  packages/docusaurus-utils/src/__tests__/markdownHeadingIdUtils.test.ts
Due: eslint --fix, master-writer

revert: remove resolutions and revert example changes (AI-assisted)
  examples/classic-typescript/package.json
  examples/classic-typescript/yarn.lock
  examples/classic/package.json
  examples/classic/yarn.lock
Due: master-writer

wire to cli
  packages/docusaurus/src/commands/writeHeadingIds.ts
Due: eslint --fix, master-writer

wire to cli
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
Due: eslint --fix, master-writer

fix(create-docusaurus): update @types/gtag.js to 0.0.20 (#11770)
  packages/docusaurus-plugin-google-gtag/package.json
  yarn.lock
Due: master-writer

fix(theme-classic): make code block Copy and Word wrap buttons visible (#10821)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

Add ability to migrate from one syntax to another without re-generating ids
  packages/docusaurus-utils/src/__tests__/markdownHeadingIdUtils.test.ts
  packages/docusaurus-utils/src/markdownHeadingIdUtils.ts
Due: eslint --fix, master-writer

add --migrate CLI option
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
Due: eslint --fix, master-writer

forbid migrate + overwrite
  packages/docusaurus-utils/src/__tests__/markdownHeadingIdUtils.test.ts
  packages/docusaurus-utils/src/markdownHeadingIdUtils.ts
Due: eslint --fix, master-writer

cli docs update
  website/docs/cli.mdx
Due: master-writer

update docs
  website/docs/guides/markdown-features/markdown-features-toc.mdx
Due: master-writer

feat(cli): `write-heading-ids` CLI now supports the `--syntax` option (#11777)
  packages/docusaurus-mdx-loader/src/remark/headings/index.ts
  packages/docusaurus-utils/src/__tests__/markdownHeadingIdUtils.test.ts
  packages/docusaurus-utils/src/__tests__/markdownUtils.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/markdownHeadingIdUtils.ts
  packages/docusaurus-utils/src/markdownUtils.ts
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
  website/docs/cli.mdx
  website/docs/guides/markdown-features/markdown-features-toc.mdx
Due: eslint --fix, master-writer

commit mdx parser update
  crowdin-v2.yaml
Due: master-writer

fix(theme): constrain navbar width to match main layout on wide displays
  packages/docusaurus-theme-classic/src/theme/Navbar/Layout/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

docs: add note about escaping heading IDs
  website/docs/guides/markdown-features/markdown-features-toc.mdx
Due: master-writer

convert blog and community to native mdx
  crowdin-v2.yaml
  website/blog/2017/12-14-introducing-docusaurus.mdx
  website/blog/2018/04-30-How-I-Converted-Profilo-To-Docusaurus.mdx
  website/blog/2018/09-11-Towards-Docusaurus-2.mdx
  website/blog/2018/12-14-Happy-First-Birthday-Slash.mdx
  website/blog/2019/12-30-docusaurus-2019-recap.mdx
  website/blog/2020/01-07-tribute-to-endi.mdx
  website/blog/2021/01-19-docusaurus-2020-recap.mdx
  website/blog/2021/03-09-releasing-docusaurus-i18n.mdx
  website/blog/2021/05-12-announcing-docusaurus-two-beta/index.mdx
  website/blog/2021/11-21-algolia-docsearch-migration/index.mdx
  website/blog/2022/01-24-docusaurus-2021-recap/index.mdx
  website/blog/2022/08-01-announcing-docusaurus-2.0/index.mdx
  website/blog/2022/09-01-docusaurus-2.1/index.mdx
  website/blog/2023/09-22-upgrading-frontend-dependencies-with-confidence-using-visual-regression-testing/index.mdx
  website/blog/2023/09-29-preparing-your-site-for-docusaurus-v3/index.mdx
  website/blog/releases/2.2/index.mdx
  website/blog/releases/2.3/index.mdx
  website/blog/releases/2.4/index.mdx
  website/blog/releases/3.0/index.mdx
  website/blog/releases/3.1/index.mdx
  website/blog/releases/3.2/index.mdx
  website/blog/releases/3.3/index.mdx
  website/blog/releases/3.4/index.mdx
  website/blog/releases/3.5/index.mdx
  website/blog/releases/3.6/index.mdx
  website/blog/releases/3.7/index.mdx
  website/blog/releases/3.8/index.mdx
  website/blog/releases/3.9/index.mdx
  website/community/0-support.mdx
  website/community/1-team.mdx
  website/community/2-resources.mdx
  website/community/4-canary.mdx
  website/community/5-release-process.mdx
Due: master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
