Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

fix(core): fix BaseUrlIssueBanner little security issue (#12260)
  packages/docusaurus/src/client/BaseUrlIssueBanner/index.tsx
Due: eslint --fix, master-writer

fix(core): accept boolean attributes in headTags config validation (#12238)
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

fix(sitemap): don't drop lastmod for an epoch (0) timestamp (#12212)
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemapItem.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemapItem.ts
Due: eslint --fix, master-writer

simplify code
  packages/docusaurus-utils/src/vcs/gitUtils.ts
Due: eslint --fix, master-writer

fix(utils): preserve author names containing commas in git log parsing (#12069)
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
Due: eslint --fix, master-writer

minor fixes
  packages/docusaurus-faster/package.json
  packages/docusaurus-theme-common/src/utils/emojiUtils.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  packages/docusaurus-faster/src/index.ts
Due: eslint --fix, master-writer

changelog
  CHANGELOG.md
Due: master-writer

update examples
  examples/classic-typescript/README.md
  examples/classic-typescript/package.json
  examples/classic-typescript/sandbox.config.json
  examples/classic-typescript/yarn.lock
  examples/classic/README.md
  examples/classic/package.json
  examples/classic/sandbox.config.json
  examples/classic/yarn.lock
Due: master-writer

fix(utils): getGitRepoRoot should convert MSYS/Git-Bash paths on Windows
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
Due: eslint --fix, master-writer

fix(theme-translation): add missing Polish (pl) theme translations
  packages/docusaurus-theme-translations/locales/pl/theme-live-codeblock.json
Due: master-writer

feat(view-transitions): implement View Transition API for smoother page navigation
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/__tests__/viewTransitionUtils.test.ts
  packages/docusaurus/src/client/viewTransition.css
  packages/docusaurus/src/client/viewTransitionUtils.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/docs/api/docusaurus.config.js.mdx
  website/docs/guides/view-transitions.mdx
  website/docusaurus.config.ts
  website/sidebars.ts
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(theme-common): make Details component react to external open attribute changes
  packages/docusaurus-theme-common/src/components/Details/__tests__/index.test.tsx
  packages/docusaurus-theme-common/src/components/Details/index.tsx
Due: eslint --fix, master-writer

feat(content-docs): Add overwrite option for docs:version command
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/cli.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/cli.test.ts
  packages/docusaurus-plugin-content-docs/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-docs/src/cli.ts
  packages/docusaurus-plugin-content-docs/src/index.ts
Due: eslint --fix, master-writer

docs(website): document overwrite option to docs:version command
  website/docs/guides/docs/versioning.mdx
Due: master-writer

refactor to inline cleanup to deduplicate
  packages/docusaurus-plugin-content-docs/src/cli.ts
Due: eslint --fix, master-writer

fix(theme-classic): make code block Copy/word-wrap buttons readable on hover
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Buttons/styles.module.css
Due: stylelint --allow-empty-input --fix, master-writer

docs: add @agentreadyweb/docusaurus-plugin to community plugins
  website/community/2-resources.mdx
Due: master-writer

fix(theme): improve docs sidebar accessibility
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Sidebar/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/Content/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocSidebar/Desktop/index.tsx
Due: eslint --fix, master-writer

docs: update project structure listing to match current classic template
  website/docs/installation.mdx
Due: master-writer

docs: add docusaurus-plugin-rangefind to search resources
  website/community/2-resources.mdx
Due: master-writer

lint fix
  project-words.txt
Due: master-writer

fix dedent edge case
  packages/docusaurus-utils/src/__tests__/markdownHeadingIdUtils.test.ts
Due: eslint --fix, master-writer

useless TS flags
  tsconfig.base.json
  website/tsconfig.json
Due: master-writer

prepare for TS7
  packages/create-docusaurus/bin/index.js
  packages/docusaurus/bin/beforeCli.mjs
Due: eslint --fix, master-writer
