Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

implement website strategy to read from full git history
  website/docusaurus.config.ts
  website/vcs.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  website/vcs.ts
Due: eslint --fix, master-writer

fix(a11y): add Space key support for navbar dropdowns
  packages/docusaurus-theme-classic/src/theme/NavbarItem/DropdownNavbarItem/Desktop/index.tsx
Due: eslint --fix, master-writer

Update documentation on broken link detection
  website/docs/api/docusaurus.config.js.mdx
Due: master-writer

use v5 semver range for execa
  packages/create-docusaurus/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  website/package.json
  yarn.lock
Due: master-writer

Update docusaurus.config.js.mdx
  website/docs/api/docusaurus.config.js.mdx
Due: master-writer

use execa for website VCS + improve implementation
  website/vcs.ts
Due: eslint --fix, master-writer

minor refactor
  packages/docusaurus-utils/src/lastUpdateUtils.ts
Due: eslint --fix, master-writer

Add API to initialize the VCS config
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-utils/src/vcsUtils.ts
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  website/vcs.ts
Due: eslint --fix, master-writer

feat(eslint): add no-jsx-text-literals rule + tests (fixes #6472)
  packages/eslint-plugin-docusaurus/lib/index.js
  packages/eslint-plugin-docusaurus/lib/rules/no-jsx-text-literals.js
  packages/eslint-plugin-docusaurus/package.json
  packages/eslint-plugin-docusaurus/tests/no-jsx-text-literals.test.js
Due: eslint --fix, master-writer

wire VCS initialize()
  packages/docusaurus/src/server/site.ts
  website/vcs.ts
Due: eslint --fix, master-writer

VCS initialize could allow 0 arity functions
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

feat(esfeat(eslint-plugin): add no-window-eq-undefined rule and tests to prevent SSR unsafe window checks
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-window-eq-undefined.ts
Due: eslint --fix, master-writer

test(eslint-plugin): verify no-window-eq-undefined rule blocks SSR unsafe window checks
  packages/eslint-plugin/src/rules/__tests__/no-window-eq-undefined.test.ts
Due: eslint --fix, master-writer

docs(eslint-plugin): document no-window-eq-undefined rule for SSR safety
  website/docs/api/misc/eslint-plugin/no-window-eq-undefined.mdx
Due: master-writer

docs(eslint-plugin): fix typo in no-window-eq-undefined rule documentation
  website/docs/api/misc/eslint-plugin/no-window-eq-undefined.mdx
Due: master-writer

site vcs cleanup
  website/vcs.ts
Due: eslint --fix, master-writer

test
  packages/docusaurus-utils/src/gitUtils.ts
Due: eslint --fix, master-writer

docs: Remove redundant "as well" in README introduction
  README.md
Due: master-writer

add DOCUSAURUS_PERF_LOGGER to more CI jobs
  .github/workflows/build-blog-only.yml
  .github/workflows/build-hash-router.yml
  .github/workflows/build-perf.yml
  .github/workflows/tests-windows.yml
Due: master-writer

update snapshots
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
Due: master-writer

re-enable showLastUpdate for localized sites
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

do not output GPG signature
  packages/docusaurus-utils/src/gitUtils.ts
  website/vcs.ts
Due: eslint --fix, master-writer

Extended Description for the Pull Request
  CONTRIBUTING.md
Due: master-writer

fix showSignature
  website/vcs.ts
Due: eslint --fix, master-writer

refactor site VCS + implement file creation info logic
  website/vcs.ts
Due: eslint --fix, master-writer

Move VCS code in dedicated subfolder
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/lastUpdateUtils.ts
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
  packages/docusaurus-utils/src/vcs/vcsUtils.ts
Due: eslint --fix, master-writer

Move VCS code in dedicated subfolder
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/lastUpdateUtils.ts
  packages/docusaurus-utils/src/vcs/vcs.ts
  packages/docusaurus-utils/src/vcs/vcsGitAdHoc.ts
Due: eslint --fix, master-writer

Add VCS fixtures
  packages/docusaurus-utils/src/vcs/__tests__/__fixtures__/simple-site/README.md
  packages/docusaurus-utils/src/vcs/__tests__/__fixtures__/simple-site/blog/2025/blog2.md
  packages/docusaurus-utils/src/vcs/__tests__/__fixtures__/simple-site/blog/blog1.md
  packages/docusaurus-utils/src/vcs/__tests__/__fixtures__/simple-site/docs/_partials/somePartial.md
  packages/docusaurus-utils/src/vcs/__tests__/__fixtures__/simple-site/docs/doc1.md
  packages/docusaurus-utils/src/vcs/__tests__/__fixtures__/simple-site/docs/doc2.md
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
Due: eslint --fix, master-writer

refactor a bit vcs unit tests
  packages/docusaurus-utils/src/__tests__/lastUpdateUtils.test.ts
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
Due: eslint --fix, master-writer

Refactor blog tests using former VCS hardcoded values
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus-utils/src/lastUpdateUtils.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
  packages/docusaurus-utils/src/vcs/vcs.ts
  packages/docusaurus-utils/src/vcs/vcsHardcoded.ts
Due: eslint --fix, master-writer

refactor LAST_UPDATE_UNTRACKED_GIT_FILEPATH
  packages/docusaurus-utils/src/lastUpdateUtils.ts
  packages/docusaurus-utils/src/vcs/vcsHardcoded.ts
Due: eslint --fix, master-writer

docs(theme-mermaid): Document how to style Mermaid tooltips
  website/docs/guides/markdown-features/markdown-features-diagrams.mdx
  website/src/css/custom.css
Due: stylelint --allow-empty-input --fix, master-writer

Add tooltip-only example
  website/docs/guides/markdown-features/markdown-features-diagrams.mdx
Due: master-writer

docs: Remove redundant "as well" in README introduction (#11525)
  README.md
Due: master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
