Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

remove debug
  .github/workflows/codeql-analysis.yml
Due: master-writer

chore(ci): restore original CodeQL workflow + add config file (#12079)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: master-writer

fix extractLeadingEmoji
  packages/docusaurus-theme-common/src/utils/__tests__/emojiUtils.test.ts
  packages/docusaurus-theme-common/src/utils/emojiUtils.ts
Due: eslint --fix, master-writer

fix test after Vitest migration
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
Due: eslint --fix, master-writer

fix(mdx-loader): avoid transforming dotted directory links into asset… (#11944)
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/dotted-directory.whatever/README.md
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
Due: eslint --fix, master-writer

fix(theme-common): handle zero-duration collapsible transitions (AI-assisted)
  packages/docusaurus-theme-common/src/components/Collapsible/__tests__/index.test.tsx
  packages/docusaurus-theme-common/src/components/Collapsible/index.tsx
Due: eslint --fix, master-writer

fix swc html deps range for StackBlitz
  packages/docusaurus-faster/package.json
  yarn.lock
Due: master-writer

vendor @types/gtag.js
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/vendor-gtag.ts
  packages/docusaurus-plugin-google-gtag/tsconfig.client.json
  website/src/types.d.ts
  yarn.lock
Due: eslint --fix, master-writer

vendor @types/gtag.js
  packages/docusaurus-plugin-google-gtag/src/vendor-gtag.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  package.json
  project-words.txt
Due: master-writer

upgrade codesandbox node version?
  examples/classic-typescript/sandbox.config.json
Due: master-writer

upgrade codesandbox node version?
  admin/scripts/generateExamples.js
  examples/classic-typescript/sandbox.config.json
Due: eslint --fix, master-writer

remove deprecated Google Analytics plugin
  admin/publish-legacy.md
  packages/docusaurus-plugin-google-analytics/.npmignore
  packages/docusaurus-plugin-google-analytics/README.md
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-analytics/src/analytics.ts
  packages/docusaurus-plugin-google-analytics/src/index.ts
  packages/docusaurus-plugin-google-analytics/src/options.ts
  packages/docusaurus-plugin-google-analytics/src/types.d.ts
  packages/docusaurus-plugin-google-analytics/tsconfig.client.json
  packages/docusaurus-plugin-google-analytics/tsconfig.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-preset-classic/src/options.ts
  website/docs/api/plugins/overview.mdx
  website/docs/api/plugins/plugin-google-analytics.mdx
  website/docs/using-plugins.mdx
Due: eslint --fix, master-writer

fix(gtag.js, faster): Fix StackBlitz, vendor `@types/gtag.js`, upgrade `@swc/html` (#12080)
  admin/scripts/generateExamples.js
  package.json
  packages/docusaurus-faster/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-google-gtag/src/index.ts
  packages/docusaurus-plugin-google-gtag/src/vendor-gtag.ts
  packages/docusaurus-plugin-google-gtag/tsconfig.client.json
  project-words.txt
  website/src/types.d.ts
  yarn.lock
Due: eslint --fix, master-writer

throw clear error message for deprecated googleAnalytics preset usage
  packages/docusaurus-preset-classic/src/index.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

typo
  packages/docusaurus-preset-classic/src/index.ts
  project-words.txt
Due: eslint --fix, master-writer

remove broken links
  website/blog/releases/2.3/index.mdx
  website/docs/using-plugins.mdx
Due: master-writer

break(google-analytics): remove deprecated Google Analytics plugin (#12081)
  admin/publish-legacy.md
  packages/docusaurus-plugin-google-analytics/.npmignore
  packages/docusaurus-plugin-google-analytics/README.md
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-analytics/src/analytics.ts
  packages/docusaurus-plugin-google-analytics/src/index.ts
  packages/docusaurus-plugin-google-analytics/src/options.ts
  packages/docusaurus-plugin-google-analytics/src/types.d.ts
  packages/docusaurus-plugin-google-analytics/tsconfig.client.json
  packages/docusaurus-plugin-google-analytics/tsconfig.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.ts
  packages/docusaurus-preset-classic/src/options.ts
  website/blog/releases/2.3/index.mdx
  website/docs/api/plugins/overview.mdx
  website/docs/api/plugins/plugin-google-analytics.mdx
  website/docs/using-plugins.mdx
Due: eslint --fix, master-writer

rework full implementation
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/start/start.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/webpack/utils/__tests__/getHttpsConfig.test.ts
  packages/docusaurus/src/webpack/utils/getHttpsConfig.ts
Due: eslint --fix, master-writer

migrate env to cli options in test
  packages/docusaurus/src/webpack/utils/__tests__/getHttpsConfig.test.ts
Due: eslint --fix, master-writer

fix lint
  packages/docusaurus/src/webpack/utils/__tests__/getHttpsConfig.test.ts
Due: eslint --fix, master-writer

fix(dev-server): for HTTPS, support non-RSA TLS certs (#12065)
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/start/start.ts
  packages/docusaurus/src/commands/start/webpack.ts
  packages/docusaurus/src/webpack/utils/__tests__/__fixtures__/getHttpsConfig/host-ec.crt
  packages/docusaurus/src/webpack/utils/__tests__/__fixtures__/getHttpsConfig/host-ec.key
  packages/docusaurus/src/webpack/utils/__tests__/__fixtures__/getHttpsConfig/other-ec.key
  packages/docusaurus/src/webpack/utils/__tests__/getHttpsConfig.test.ts
  packages/docusaurus/src/webpack/utils/getHttpsConfig.ts
Due: eslint --fix, master-writer

restore cli args for dev server https
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/start/start.ts
  packages/docusaurus/src/commands/start/webpack.ts
Due: eslint --fix, master-writer

fix lockfile
  yarn.lock
Due: master-writer

Add dev server https cli options docs
  website/docs/cli.mdx
Due: master-writer

lint fix
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/atom.css
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/build-snap/blog/rss.css
Due: stylelint --allow-empty-input --fix, master-writer

feat(dev-server): add dev-server CLI options for HTTPS support (#12082)
  packages/docusaurus/src/commands/cli.ts
  packages/docusaurus/src/commands/start/start.ts
  packages/docusaurus/src/commands/start/webpack.ts
  website/docs/cli.mdx
  yarn.lock
Due: eslint --fix, master-writer

chore: use modern Node APIs (AI-assisted)
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/options.ts
  packages/docusaurus-mdx-loader/src/utils.ts
  packages/docusaurus-utils/src/urlUtils.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
  packages/docusaurus/src/server/plugins/plugins.ts
  packages/docusaurus/src/ssg/ssgExecutor.ts
Due: eslint --fix, master-writer

Remove postBuild head API (AI-assisted)
  packages/docusaurus-types/src/config.d.ts
  packages/docusaurus-types/src/plugin.d.ts
  packages/docusaurus/src/client/serverEntry.tsx
  packages/docusaurus/src/client/serverHelmetUtils.tsx
  packages/docusaurus/src/commands/build/buildLocale.ts
  packages/docusaurus/src/common.d.ts
  packages/docusaurus/src/server/__tests__/__snapshots__/config.test.ts.snap
  packages/docusaurus/src/server/__tests__/__snapshots__/site.test.ts.snap
  packages/docusaurus/src/server/__tests__/configValidation.test.ts
  packages/docusaurus/src/server/configValidation.ts
  packages/docusaurus/src/ssg/ssgParams.ts
  packages/docusaurus/src/ssg/ssgRenderer.ts
  website/docs/api/docusaurus.config.js.mdx
Due: eslint --fix, master-writer

Make git repo root test portable
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  packages/docusaurus/src/common.d.ts
  packages/docusaurus/src/server/configValidation.ts
Due: eslint --fix, master-writer

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  master-writer: any of: *
