Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["prettier --ignore-unknown --write"]
}

Use Intl native API to get locale direction, remove rtl-detect dependency
  packages/docusaurus/package.json
  packages/docusaurus/src/server/i18n.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

refactor(core): Use Intl native API to get locale direction, remove rtl-detect depend… (#10798)
  packages/docusaurus/package.json
  packages/docusaurus/src/server/i18n.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

properly forward placeholder/translations to DocSearch
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  website/docusaurus.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

remove dogfood test
  website/docusaurus.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(algolia): properly forward placeholder/translations to DocSearch components (#10799)
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

Turn Rspack incremental on by default (again)
  packages/docusaurus-faster/package.json
  packages/docusaurus/src/webpack/base.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

refactor: apply lint autofix
  project-words.txt
Due: prettier --ignore-unknown --write

simplify resultsFooterComponent + navigator
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

simplify resultsFooterComponent
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

simplify transformItems and transformSearchClient
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

simplify useSearchParameters
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

comment
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

move importDocSearchModalIfNeeded
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

refactor(algolia): simplify SearchBar component (#10801)
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

add missing YouTube source comment
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/YouTube/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

minor social fixes
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/GitHub/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/LinkedIn/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Threads/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Twitch/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Twitter/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/X/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

remove useless dogfood blog post
  website/_dogfooding/_blog tests/2024-07-03-multiple-authors.mdx
  website/_dogfooding/_blog tests/2024-12-14-all-thesocials.mdx
Due: prettier --ignore-unknown --write

Refactor icons a bit + add Instagram
  packages/docusaurus-plugin-content-blog/src/__tests__/authorsSocials.test.ts
  packages/docusaurus-plugin-content-blog/src/authorsSocials.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/Socials/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Instagram/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Instagram/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Mastodon/index.tsx
  website/_dogfooding/_blog tests/2024-07-03-multiple-authors.mdx
  website/blog/authors.yml
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

docs
  website/docs/api/plugins/plugin-content-blog.mdx
Due: prettier --ignore-unknown --write

add missing word
  project-words.txt
Due: prettier --ignore-unknown --write

fix prettier issue
  .prettierignore
  website/blog/authors.yml
Due: prettier --ignore-unknown --write

feat(blog): Add author social icons for bluesky, mastodon, threads, twitch, youtube, instagram (#10768)
  .prettierignore
  packages/docusaurus-plugin-content-blog/src/__tests__/authorsSocials.test.ts
  packages/docusaurus-plugin-content-blog/src/authorsSocials.ts
  packages/docusaurus-plugin-content-blog/src/plugin-content-blog.d.ts
  packages/docusaurus-theme-classic/src/theme-classic.d.ts
  packages/docusaurus-theme-classic/src/theme/Blog/Components/Author/Socials/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Bluesky/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/GitHub/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Instagram/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Instagram/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/LinkedIn/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Mastodon/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Threads/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Threads/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Twitch/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/Twitter/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/X/index.tsx
  packages/docusaurus-theme-classic/src/theme/Icon/Socials/YouTube/index.tsx
  project-words.txt
  website/_dogfooding/_blog tests/2024-07-03-multiple-authors.mdx
  website/blog/authors.yml
  website/docs/api/plugins/plugin-content-blog.mdx
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

feat(npm-to-yarn): add support for Bun
  packages/docusaurus-remark-plugin-npm2yarn/README.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: Devcontainer upgrade to Ubuntu Noble & Node 22 (#10770)
  .devcontainer/devcontainer.json
Due: prettier --ignore-unknown --write

fix(npm-to-yarn): add missing npm-to-yarn converter for Bun (#10803)
  packages/docusaurus-remark-plugin-npm2yarn/README.md
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-remark-plugin-npm2yarn/src/__tests__/index.test.ts
  packages/docusaurus-remark-plugin-npm2yarn/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor: reduce file size of docusaurus.svg
  website/static/img/docusaurus.svg
  website/static/img/docusaurus_keytar.svg
  website/static/img/docusaurus_speed.svg
Due: prettier --ignore-unknown --write

chore: specify package manager version in package.json
  package.json
Due: prettier --ignore-unknown --write

feat(theme): add option to use language as title for code blocks
  packages/docusaurus-theme-classic/src/options.ts
  packages/docusaurus-theme-classic/src/theme/CodeBlock/Content/String.tsx
  packages/docusaurus-theme-common/src/utils/useThemeConfig.ts
  website/docusaurus.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

Update index.mdx
  website/docs/guides/docs/sidebar/index.mdx
Due: prettier --ignore-unknown --write

chore: specify package manager version in package.json (#10807)
  package.json
Due: prettier --ignore-unknown --write

docs: simplify sidebar description (#10810)
  website/docs/guides/docs/sidebar/index.mdx
Due: prettier --ignore-unknown --write
