Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

execa v10
  packages/docusaurus-utils/package.json
  packages/docusaurus/bin/beforeCli.mjs
  packages/docusaurus/package.json
  pnpm-lock.yaml
  website/package.json
Due: eslint --fix, master-writer

execa v10
  packages/create-docusaurus/src/commands.ts
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
  packages/docusaurus/bin/beforeCli.mjs
  packages/docusaurus/src/commands/deploy.ts
  pnpm-lock.yaml
  website/package.json
Due: eslint --fix, master-writer

remove useless createErrorMessageBase() abstractions
  packages/docusaurus-utils/src/vcs/gitUtils.ts
Due: eslint --fix, master-writer

remove useless encoding option, utf8 is the default
  packages/docusaurus-utils/src/vcs/gitUtils.ts
Due: eslint --fix, master-writer

use Error.cause
  packages/docusaurus/src/commands/deploy.ts
Due: eslint --fix, master-writer

inline sourceRepoUrl const
  packages/docusaurus/src/commands/deploy.ts
Due: eslint --fix, master-writer

migrate generateExamples from shelljs to execa
  admin/scripts/generateExamples.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, master-writer

chore: upgrade to execa v10 (#12402)
  admin/scripts/generateExamples.js
  package.json
  packages/create-docusaurus/src/commands.ts
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/vcs/__tests__/gitUtils.test.ts
  packages/docusaurus-utils/src/vcs/gitUtils.ts
  packages/docusaurus/bin/beforeCli.mjs
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/deploy.ts
  pnpm-lock.yaml
  website/package.json
Due: eslint --fix, master-writer

upgrade crowdin CLI to v5
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/package.json
Due: master-writer

chore: upgrade crowdin CLI to v5 (#12403)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/package.json
Due: master-writer

refactor: migrate to Eta v4 (AI-assisted)
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/createRedirectPageContent.ts
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/opensearch.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/ssg/ssgTemplate.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

fix: remove obsolete Eta declarations (AI-assisted)
  packages/docusaurus-plugin-client-redirects/src/deps.d.ts
  packages/docusaurus-theme-search-algolia/src/deps.d.ts
  packages/docusaurus/src/deps.d.ts
Due: eslint --fix, master-writer

break: migrate from Eta v2 to v4 (#12404)
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-client-redirects/src/createRedirectPageContent.ts
  packages/docusaurus-plugin-client-redirects/src/deps.d.ts
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/deps.d.ts
  packages/docusaurus-theme-search-algolia/src/opensearch.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/deps.d.ts
  packages/docusaurus/src/ssg/ssgTemplate.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

Migrate from chalk to node.utils.styleText()
  packages/docusaurus-logger/package.json
  packages/docusaurus-logger/src/__tests__/index.test.ts
  packages/docusaurus-logger/src/logger.ts
  packages/docusaurus/package.json
  pnpm-lock.yaml
Due: eslint --fix, master-writer

update tests
  packages/docusaurus-logger/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-logger/src/__tests__/index.test.ts
Due: eslint --fix, master-writer

remove obsolete snapshots
  packages/docusaurus-logger/src/__tests__/__snapshots__/index.test.ts.snap
Due: master-writer

fix styleText() in worker threads
  packages/docusaurus/src/ssg/ssgExecutor.ts
Due: eslint --fix, master-writer

feat(theme-search-algolia)!: upgrade to DocSearch v5 and migrate to indices config (AI-assisted)
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/__tests__/utils.test.ts
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaAskAi.ts
  packages/docusaurus-theme-search-algolia/src/client/utils.ts
  packages/docusaurus-theme-search-algolia/src/deps.d.ts
  packages/docusaurus-theme-search-algolia/src/docSearchVersion.ts
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchTranslations/index.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
  pnpm-lock.yaml
  website/docusaurus.config-blog-only.js
  website/docusaurus.config.ts
  website/src/css/custom.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

Document tinypool env workaround
  packages/docusaurus/src/ssg/ssgExecutor.ts
Due: eslint --fix, master-writer

remove useless filtering
  packages/docusaurus/src/ssg/ssgExecutor.ts
Due: eslint --fix, master-writer

chore: migrate from chalk to `node.utils.styleText()` (#12405)
  packages/docusaurus-logger/package.json
  packages/docusaurus-logger/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-logger/src/__tests__/index.test.ts
  packages/docusaurus-logger/src/logger.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/ssg/ssgExecutor.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

remove old versions of remark-math/rehype-katex on the markdown plugin page example
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
Due: master-writer

try to upgrade to v2
  package.json
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus/package.json
  packages/docusaurus/src/client/serverEntry.tsx
  pnpm-lock.yaml
Due: eslint --fix, master-writer

docs: remove old versions of remark-math/rehype-katex on markdown plugin page (#12407)
  website/docs/guides/markdown-features/markdown-features-plugins.mdx
Due: master-writer

upgrade to Babel v8
  packages/docusaurus-babel/package.json
  packages/docusaurus-babel/src/babelTranslationsExtractor.ts
  packages/docusaurus-babel/src/preset.ts
  packages/docusaurus-babel/src/utils.ts
  packages/docusaurus-bundler/package.json
  packages/docusaurus-plugin-pwa/package.json
  packages/docusaurus-plugin-pwa/src/index.ts
  packages/docusaurus/package.json
  pnpm-lock.yaml
Due: eslint --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

Add claude
  CLAUDE.md
Due: master-writer

shorten AGENTS.md + minor fixes
  AGENTS.md
Due: master-writer
