Repository facebook/docusaurus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, master-writer

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": ["master-writer"]
}

fix(create-docusaurus): print the package manager / git output when the command fails (AI-assisted)
  packages/create-docusaurus/src/__tests__/commands.test.ts
  packages/create-docusaurus/src/commands.ts
Due: eslint --fix, master-writer

refactor: use import type for type-only React imports (AI-assisted)
  packages/docusaurus-theme-classic/src/theme/Tabs/index.tsx
  website/_dogfooding/_pages tests/import-attributes/_TextImportTest.tsx
  website/_dogfooding/_pages tests/import-attributes/_TsxTests.tsx
  website/_dogfooding/_pages tests/import-attributes/_fixtures/tsx-fixture.tsx
  website/src/components/ColorGenerator/index.tsx
  website/src/pages/showcase/_components/FavoriteIcon/index.tsx
Due: eslint --fix, master-writer

refactor(create-docusaurus): make runCommand return exit code, stdout and stderr (AI-assisted)
  packages/create-docusaurus/src/__tests__/commands.test.ts
  packages/create-docusaurus/src/commands.ts
Due: eslint --fix, master-writer

fix(create-docusaurus): fix pnpm 11+ site creation failing on unapproved build scripts (AI-assisted)
  .github/workflows/tests-e2e.yml
  packages/create-docusaurus/README.md
  packages/create-docusaurus/src/__tests__/utils.test.ts
  packages/create-docusaurus/src/commands.ts
  packages/create-docusaurus/src/index.ts
  packages/create-docusaurus/src/utils.ts
  packages/create-docusaurus/templates/shared/pnpm-workspace.yaml
Due: eslint --fix, master-writer

refactor(utils): add fs-extra compatible fsUtils helpers (AI-assisted)
  packages/docusaurus-utils/src/__tests__/fsUtils.test.ts
  packages/docusaurus-utils/src/fsUtils.ts
  packages/docusaurus-utils/src/index.ts
Due: eslint --fix, master-writer

refactor: apply lint autofix
  project-words.txt
Due: master-writer

refactor(utils): readJSON() throws an error with the relative path and a cause (AI-assisted)
  packages/docusaurus-utils/src/__tests__/fsUtils.test.ts
  packages/docusaurus-utils/src/fsUtils.ts
Due: eslint --fix, master-writer

chore: remove fs-extra dependency from published packages (AI-assisted)
  packages/docusaurus-babel/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-client-redirects/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-theme-common/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-utils-validation/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  pnpm-lock.yaml
Due: master-writer

feat(utils): add queueFileOperation() to bound concurrently open files (AI-assisted)
  packages/docusaurus-babel/src/babelTranslationsExtractor.ts
  packages/docusaurus-plugin-client-redirects/src/writeRedirectFiles.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-docs/src/docs.ts
  packages/docusaurus-plugin-content-pages/src/content.ts
  packages/docusaurus-utils/src/__tests__/fsUtils.test.ts
  packages/docusaurus-utils/src/emitUtils.ts
  packages/docusaurus-utils/src/fsUtils.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/commands/writeHeadingIds.ts
Due: eslint --fix, master-writer

fix(create-docusaurus): print install errors, fix pnpm 12 "always" dependency, remove supports-color (AI-assisted) (#12552)
  packages/create-docusaurus/package.json
  packages/create-docusaurus/src/__tests__/commands.test.ts
  packages/create-docusaurus/src/commands.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

fix(mdx-loader): resolve javascript markdown links as static assets
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/__fixtures__/static/staticScript.js
  packages/docusaurus-mdx-loader/src/remark/transformLinks/__tests__/index.test.ts
  packages/docusaurus-mdx-loader/src/remark/transformLinks/index.ts
Due: eslint --fix, master-writer

chore: reformat code with oxfmt v0.70 (AI-assisted)
  packages/docusaurus-theme-common/src/utils/codeBlockUtils.tsx
  packages/docusaurus-utils/src/markdownUtils.ts
  website/blog/releases/3.6/index.mdx
  website/docs/api/docusaurus.config.js.mdx
  website/docs/api/plugins/plugin-svgr.mdx
  website/docs/guides/docs/docs-introduction.mdx
  website/docs/migration/v3.mdx
  website/docs/typescript-support.mdx
  website/docs/using-plugins.mdx
Due: eslint --fix, master-writer

chore: add .git-blame-ignore-revs for the oxfmt v0.70 reformat (AI-assisted)
  .git-blame-ignore-revs
Due: master-writer

chore(theme-live-codeblock): upgrade react-live to v5 (AI-assisted)
  argos/tests/screenshot.spec.ts
  packages/docusaurus-theme-live-codeblock/package.json
  pnpm-lock.yaml
Due: eslint --fix, master-writer

refactor(theme-translations): use @docusaurus/utils fs helpers instead of inlining them (AI-assisted)
  packages/docusaurus-theme-translations/locales/__tests__/locales.test.ts
  packages/docusaurus-theme-translations/package.json
  packages/docusaurus-theme-translations/src/__tests__/index.test.ts
  packages/docusaurus-theme-translations/src/index.ts
  packages/docusaurus-theme-translations/src/utils.ts
  packages/docusaurus-theme-translations/update.mjs
  pnpm-lock.yaml
Due: eslint --fix, master-writer

refactor(theme-common): keep the original error as cause in removeThemeInternalReexport script (AI-assisted)
  packages/docusaurus-theme-common/removeThemeInternalReexport.mjs
Due: eslint --fix, master-writer

chore(monorepo): remove fs-extra from website, admin scripts and root (AI-assisted)
  __tests__/validate-package-json.test.ts
  __tests__/validate-tsconfig.test.ts
  admin/scripts/generateExamples.js
  admin/scripts/resizeImage.js
  eslint.rules.ts
  package.json
  pnpm-lock.yaml
  website/_dogfooding/testSwizzleThemeClassic.mjs
  website/package.json
  website/src/data/__tests__/user.test.ts
  website/src/plugins/changelog/index.ts
  website/src/plugins/changelog/utils.ts
  website/testCSSOrder.mjs
Due: eslint --fix, master-writer

refactor(monorepo): use readJSON() from @docusaurus/utils in root tests and admin scripts (AI-assisted)
  __tests__/validate-package-json.test.ts
  __tests__/validate-tsconfig.test.ts
  admin/scripts/generateExamples.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, master-writer

feat(glob): POC upgrade to Chokidar v5, with micromatch glob support (AI-assisted)
  packages/docusaurus-glob/package.json
  packages/docusaurus-glob/src/watchUtils.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

feat(glob): POC upgrade to Chokidar v5, with Node.js native glob support (AI-assisted)
  packages/docusaurus-glob/package.json
  packages/docusaurus-glob/src/watchUtils.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

fix(theme-classic): don't reserve hidden sidebar width on docs without sidebar
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Main/index.tsx
  packages/docusaurus-theme-classic/src/theme/DocRoot/Layout/Main/styles.module.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(mdx-loader): report vfile messages from Remark plugins
  packages/docusaurus-mdx-loader/src/__tests__/loader.test.ts
  packages/docusaurus-mdx-loader/src/__tests__/messages.test.ts
  packages/docusaurus-mdx-loader/src/__tests__/processor.test.ts
  packages/docusaurus-mdx-loader/src/__tests__/testUtils.ts
  packages/docusaurus-mdx-loader/src/loader.ts
  packages/docusaurus-mdx-loader/src/messages.ts
  packages/docusaurus-mdx-loader/src/processor.ts
Due: eslint --fix, master-writer

Render li for mobile html navbar items in sidebar list
  packages/docusaurus-theme-classic/src/theme/NavbarItem/HtmlNavbarItem.tsx
Due: eslint --fix, master-writer

chore(theme-live-codeblock): upgrade react-live to v5 (AI-assisted) (#12570)
  argos/tests/screenshot.spec.ts
  packages/docusaurus-theme-live-codeblock/package.json
  pnpm-lock.yaml
Due: eslint --fix, master-writer

feat(theme-search-algolia)!: upgrade to DocSearch v5 and migrate to indices config (AI-assisted)
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/__tests__/utils.test.ts
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/client/useAlgoliaAskAi.ts
  packages/docusaurus-theme-search-algolia/src/client/utils.ts
  packages/docusaurus-theme-search-algolia/src/deps.d.ts
  packages/docusaurus-theme-search-algolia/src/docSearchVersion.ts
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus-theme-search-algolia/src/theme/SearchTranslations/index.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
  pnpm-lock.yaml
  website/docusaurus.config-blog-only.js
  website/docusaurus.config.ts
  website/src/css/custom.css
Due: eslint --fix, stylelint --allow-empty-input --fix, master-writer

fix(theme-search-algolia): fix CI lint failures
  packages/docusaurus-theme-search-algolia/src/index.ts
  packages/docusaurus-theme-translations/locales/__tests__/locales.test.ts
  project-words.txt
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

fix: remove ignored webpack warning
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-theme-search-algolia/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, master-writer

fix: allow backwards compatible indexName in theme config
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/theme/SearchPage/index.tsx
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
  website/docusaurus.config-blog-only.js
  website/docusaurus.config.ts
Due: eslint --fix, master-writer

Enable facets after new DS version released
  packages/docusaurus-theme-search-algolia/src/__tests__/validateThemeConfig.test.ts
  packages/docusaurus-theme-search-algolia/src/theme-search-algolia.d.ts
  packages/docusaurus-theme-search-algolia/src/validateThemeConfig.ts
Due: eslint --fix, master-writer

rename ids to DocSearch v5 keys
  packages/docusaurus-theme-search-algolia/src/theme/SearchTranslations/index.ts
  packages/docusaurus-theme-translations/locales/ar/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/az/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/base/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/bg/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/bn/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/cs/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/da/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/de/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/es/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/et/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fa/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fil/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/fr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/he/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/hi/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/hu/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/id/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/is/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/it/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ja/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ko/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/mk/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/nb/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/nl/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pl/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pt-BR/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/pt-PT/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ru/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/sl/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/sr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/sv/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/tk/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/tr/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/uk/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/ur/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/vi/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/zh-Hans/theme-search-algolia.json
  packages/docusaurus-theme-translations/locales/zh-Hant/theme-search-algolia.json
Due: eslint --fix, master-writer

docs: add docusaurus-plugin-mcp-server to community resources
  website/community/2-resources.mdx
Due: master-writer

docs: drop used-by note
  website/community/2-resources.mdx
Due: master-writer

fix(core): bump tinypool to ^2.1.2 for GHSA-85c8-ppgw-ccpr and GHSA-5gmw-xhrv-c9v3
  packages/docusaurus/package.json
  yarn.lock
Due: master-writer
